<!--<mat-card>-->
<mat-card-header>
    <mat-card-title>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12">
                    CLIENTE
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <a style="text-align: center; color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
                            style="color: red;">*</b>) son requeridos</a>
                </div>
            </div>
        </div>
    </mat-card-title>
</mat-card-header>
<mat-card-content>
    <mat-tab-group #tabGroup>
        <mat-tab label="FISICO">
            <form [formGroup]="emisionFisicaForm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="curp" class="form-control" placeholder="CURP *"

                                       oninput="this.value = this.value.toUpperCase()" maxlength="18"
                                       minlength="18" id="curpf" (keyup)="validarCurp($event.target.value)"
                                       onPaste="return false" autocomplete="off" />
                                <mat-hint
                                        *ngIf="emisionFisicaForm.controls['curp'].invalid && emisionFisicaForm.controls['curp'].dirty">
                                    ¡El CURP es requerido!
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="rfc" class="form-control" placeholder="RFC *"

                                       minlength="10" maxlength="13" autocomplete="off"
                                       oninput="this.value = this.value.toUpperCase()"/>
                                <mat-hint *ngIf="emisionFisicaForm.controls['rfc'].value === ''">
                                    Recuerda que la homoclave <strong>NO</strong> es obligatoria
                                </mat-hint>
                                <mat-error *ngIf="emisionFisicaForm.controls['rfc'].hasError('minlength')">
                                    Necesitas una longitud mínima de 10 dígitos
                                </mat-error>
                                <mat-error *ngIf="!emisionFisicaForm.controls['rfc'].hasError('minlength') &&
                    emisionFisicaForm.controls['rfc'].hasError('pattern')">
                                    RFC inválido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="paterno" class="form-control"

                                       placeholder="APELLIDO PATERNO *"
                                       oninput="this.value = this.value.toUpperCase()" id="paterno"  autocomplete="off"/>
                                <mat-hint
                                        *ngIf="!emisionFisicaForm.controls['paterno'].valid&&emisionFisicaForm.controls['paterno'].dirty">
                                    ¡El apellido paterno es requerido!
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="materno" class="form-control"

                                       placeholder="APELLIDO MATERNO *"
                                       oninput="this.value = this.value.toUpperCase()" maxlength="40" id="materno"
                                       autocomplete="off"/>
                                <mat-hint
                                        *ngIf="!emisionFisicaForm.controls['materno'].valid&&emisionFisicaForm.controls['materno'].dirty">
                                    ¡El apellido materno es requerido!
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="nombre" class="form-control" placeholder="NOMBRE *"

                                       oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numExt"  onPaste="return false" autocomplete="off"/>
                                <mat-hint *ngIf="!emisionFisicaForm.controls['nombre'].valid&&emisionFisicaForm.controls['nombre'].dirty">
                                    ¡El Nombre es requerido!
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <!--*************************************************COLUMNA DOS****************************************************************************-->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input readonly matInput [matDatepicker]="picker1" placeholder="FECHA DE NACIMIENTO *"

                                       class="form-control" max="2002-01-01" formControlName="fechaNacimiento" id="fechaNacimiento"/>
                                <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <mat-label>SELECCIONE EL GÉNERO *</mat-label>
                                <mat-select formControlName="genero">
                                    <mat-option *ngFor="let genero of genders" [value]="genero.value" id="genero">
                                        {{genero.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint
                                        *ngIf="!emisionFisicaForm.controls['genero'].valid&&emisionFisicaForm.controls['genero'].dirty">
                                    Se requiere llenar el campo
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <mat-label>PAÍS DE ORIGEN *</mat-label>
                                <mat-select formControlName="idPais">
                                    <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id" id="paisOrigenF">
                                        {{pais.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint
                                        *ngIf="!emisionFisicaForm.controls['idPais'].valid&&emisionFisicaForm.controls['idPais'].dirty">
                                    Se requiere llenar el campo
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="cp" class="form-control" placeholder="CP *"

                                       oninput="this.value = this.value.toUpperCase()" minlength="4" maxlength="5" id="cp"
                                       (keyup)="getColonias($event.target.value)"
                                       autocomplete="off"/>
                            </mat-form-field>
                            <mat-form-field *ngIf="!btnLoad">
                                <mat-label>COLONIA *</mat-label>
                                <mat-select formControlName="idColonia">
                                    <mat-option *ngFor="let colonia of coloniasSepomex" [value]="colonia.idCp" id="idColoniaF">
                                        {{colonia.asenta}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint
                                        *ngIf="!emisionFisicaForm.controls['idColonia'].valid&&emisionFisicaForm.controls['idColonia'].dirty">
                                    Se requiere llenar el campo
                                </mat-hint>
                            </mat-form-field>
                            <div *ngIf="btnLoad" class="relativeLoad">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <button mat-button disabled>Cargando colonias... </button>
                            </div>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="calle" class="form-control" placeholder="CALLE *"
                                       oninput="this.value = this.value.toUpperCase()" maxlength="40" id="calle"
                                       autocomplete="off"/>
                            </mat-form-field>
                        </div>
                    </div>

                    <!--*************************************************COLUMNA TRES****************************************************************************-->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="numExt" class="form-control"

                                       placeholder="NUMERO EXTERIOR *"
                                       oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numExtf"
                                       autocomplete="off"/>
                                <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                                <!--¡El Nombre es requerido!</mat-hint>-->
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="numInt" class="form-control"

                                       placeholder="NUMERO INTERIOR"
                                       oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numInt"
                                       onPaste="return false" autocomplete="off"/>
                                <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                                <!--¡El Nombre es requerido!</mat-hint>-->
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="telefonoMovil" class="form-control"
                                       placeholder="TELEFONO MOVIL *"
                                       maxlength="10" id="telefonoMovil" autocomplete="off"/>
                                <mat-hint class="telefono"
                                          *ngIf="telefonoMovil1 === null && emisionFisicaForm.controls['telefonoMovil'].value.length === 10">
                                    Se requiere un telefono válido
                                </mat-hint>
                                <!--<mat-hint class="telefono"
                                          *ngIf="telefonoMovil1 === 'FIJO' && emisionFisicaForm.controls['telefonoMovil'].value.length === 10">
                                  Este es un telefono fijo
                                </mat-hint>-->
                            </mat-form-field>
                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="telefonoFijo" class="form-control"
                                       placeholder="TELEFONO FIJO"
                                       maxlength="10" id="telefonoFijo" autocomplete="off"/>
                                <mat-hint class="telefono"
                                          *ngIf="telefonoFijo1 === null && emisionFisicaForm.controls['telefonoFijo'].value.length === 10">
                                    Se requiere un telefono válido
                                </mat-hint>
                                <!--<mat-hint class="telefono"
                                          *ngIf="telefonoFijo1 === 'MOVIL' && emisionFisicaForm.controls['telefonoFijo'].value.length === 10">
                                  Este es un telefono móvil
                                </mat-hint>-->
                            </mat-form-field>

                            <mat-form-field class="relativeLoad">
                                <mat-icon class = "laodingData" matTooltip="Cargando..." *ngIf="areasCargados === false">autorenew</mat-icon>
                                <input matInput type="text" formControlName="correo" class="form-control" placeholder="CORREO *"

                                       oninput="this.value = this.value.toUpperCase()" maxlength="40" id="correo"  autocomplete="off"/>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-card-content>

<mat-card-actions class="justify-content-end">
    <button mat-button [ngClass]="{'btns': '[disabled]'}"
            [disabled]="!(emisionFisicaForm.valid || emisionMoralForm.valid)" (click)="actualizarEmision()"> Modificar
        Cliente
    </button>
</mat-card-actions>
