<mat-card>
  <div class="header">
    <div class="stepTitle">Método de Pago
    </div>
    <button
    mat-button *ngIf="nombreAseguradora === 'QUALITAS'"
    (click)="visualizar()"
    class="nextButton emitButton">Visualizar Poliza</button>
  </div>
  <div class="mainWrapper">
    <div class="generalWrapper">
      <div *ngIf="banderaEmitirMal" class="emitWrapper">
        <p class="text-error">ERROR AL EMITIR</p>
        <button mat-button (click)="emitir(idSolicitud)"
          class="nextButton emitButton">Volver a Emitir</button>
        <p style="color: red;">{{ responseEmision['codigoError']}}</p>
        <p class="text-msj"> Verificar datos del cliente y vehiculo completar </p>
        <p class="text-msj"> Regresar al paso de cliente y vehiculo,completar y guardar datos</p>
      </div>

      <div *ngIf="banderaPagoMal" ng class="emitWrapper">

        <p class="text-msj">ERROR AL REALIZAR EL PAGO</p>
        <p class="text-msj">FAVOR DE REVISAR</p>
        <p style="color: red;" *ngIf="nombreAseguradora === 'QUALITAS'">{{ dataArrayPago['codigoError']}}</p>
        <p style="color: red;" *ngIf="nombreAseguradora === 'GNP'">{{ dataArrayValidacionTarjeta['codigoError']}}</p>
        <!--      <p style="color: red;">{{ response['codigoError']}}</p>-->
      </div>

      <form [formGroup]="formDatosPago">
        <div class="typeCard">
          <mat-form-field appearance="outline" class="mediumForm">
            <mat-label>Forma de pago</mat-label>
            <mat-select (selectionChange)="seleccionFormaPago()" formControlName="idFormaPago" [disabled]="banderaEmitirMal" >
              <mat-option *ngFor="let forma of formaPagoData" [value]="forma.id">
                {{forma.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mediumForm" appearance="outline" *ngIf="formDatosPago.controls['idFormaPago'].value !== '' && nombreAseguradora != 'GNP'">
            <mat-label>Banco de tarjeta</mat-label>
            <mat-select formControlName="idBanco" *ngIf="nombreAseguradora === 'QUALITAS'" (selectionChange)="gbanco($event)">
              <mat-option *ngFor="let banco of bancosArrayExterno" [value]="banco.abreviacion" [id]="banco.abreviacion">
                {{banco.abreviacion}}
              </mat-option>
            </mat-select>
            <mat-select formControlName="idBanco" *ngIf="nombreAseguradora === 'GNP'" (selectionChange)="gbanco($event)">
              <mat-option *ngFor="let banco of bancosOnline" [value]="banco.NOMBRE" [id]="banco.NOMBRE">
                {{banco.NOMBRE}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="smallForm" *ngIf="formDatosPago.controls['idFormaPago'].value !== '' && nombreAseguradora != 'GNP'">
            <mat-label>Carrier</mat-label>
            <mat-select formControlName="idCarrier" (selectionChange)="verificarInputs()">
              <mat-option *ngFor="let c of carrierArray" [value]="c.id">
                {{c.carrier}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-4" appearance="outline"  *ngIf="formDatosPago.controls['idFormaPago'].value !== '' && ocultarMsi">
            <mat-label>Meses sin intereses</mat-label>
            <mat-select *ngIf="nombreAseguradora === 'QUALITAS'" (selectionChange)="verificaMesesSinIntereses()" formControlName="mesesSinIntereses">
              <mat-option *ngFor="let m of msi" [value]="m.claveMsi">
                {{m.nombreMsi}}
              </mat-option>
            </mat-select>
            <mat-select *ngIf="nombreAseguradora === 'GNP'" (selectionChange)="verificaMesesSinIntereses()" formControlName="mesesSinIntereses">
              <mat-option *ngFor="let m of msiGnp" [value]="m.CLAVE">
                {{m.VALOR}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <p *ngIf="formDatosPago.controls['idFormaPago'].value !== '' && nombreAseguradora === 'GNP' && !formDatosPago.controls.numeroTarjeta.value" class="warningCard">*Es necesario ingresar primero el número de Tarjeta</p>

          <!------------------------------------------------------ Switch ------------------------------------------------------->
          <div *ngIf="formDatosPago.controls['idFormaPago'].value !== '' && formDatosPago !== undefined">
              <!--------------------------------------------------- Transferencia --------------------------------------------------->
              <div *ngIf="formDatosPago.controls['idFormaPago'].value === 7; else  elseBlock">
                <div class="row">
                  <mat-form-field class="col-6" appearance="outline">
                    <mat-label>Banco</mat-label>
                    <mat-select formControlName="idBanco">
                      <mat-option *ngFor="let banco of bancosArray" [value]="banco.id">
                        {{banco.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-6" appearance="outline">
                    <mat-label>Número de Autorización</mat-label>
                    <input
                      matInput
                      oncopy="return false"
                      formControlName="noAutorizacion"
                      autocomplete="off">
                  </mat-form-field>
                </div>
              </div>
              <!-------------------------------------------- Tarjeta de crédito y débito -------------------------------------------->
              <ng-template #elseBlock>
                <div *ngIf="formDatosPago.controls['idFormaPago'].value <= 2">

                  <!------------------------------------------ Tarjeta para ingresar los datos ------------------------------------------>
                  <div class=" tarjeta col-lg-4 col-md-4 col-sm-6 row" [ngClass]="{
                 'credito': formDatosPago.controls['idFormaPago'].value === 1,
                 'debito': formDatosPago.controls['idFormaPago'].value === 2}"
                       *ngIf="formDatosPago.controls['idFormaPago'].value <= 2">

                    <div *ngIf="nombreAseguradora === 'GNP'" >

                      <p class="text-center text-white text-black">* Por favor insertar primero N. de Tarjeta</p>

                    </div>
                    <mat-form-field class="col-12">
                      <mat-icon matPrefix>credit_card</mat-icon>
                      <input type="text" matInput formControlName="numeroTarjeta" maxLength="16" minlength="15"
                             onpaste="return true" oncopy="return false" class="placeholder numTarjeta" (keyup)="validarTarjeta($event)" [patterns]="pattern" [mask]="maskCard" [hiddenInput]="true">
                      <mat-placeholder class="colortarjeta">Número de tarjeta *</mat-placeholder>
                      <mat-icon *ngIf="ocultarEyePermanent" matSuffix (click)="ocultarInput()" class="pointer"
                                [hidden]="ocultarEye()">remove_red_eye</mat-icon>

                    </mat-form-field>

                    <mat-form-field class="col-12">
                      <mat-icon matPrefix>person</mat-icon>
                      <input matInput formControlName="titular" oninput="this.value = this.value.toUpperCase()"
                             class="placeholder" onpaste="return true" oncopy="return false"
                             (paste)="$event.preventDefault()">
                      <mat-placeholder class="colortarjeta">Titular *</mat-placeholder>
                    </mat-form-field>

                    <div class="rowDate">
                      <p>Fecha de Vencimiento</p>
                      <mat-form-field class="formCVV">
                        <input matInput formControlName="codigo" minLength="3" maxLength="5" onpaste="return true"
                               oncopy="return false" [type]="inputType" class="placeholder">
                        <mat-placeholder class="colortarjeta">CCV *</mat-placeholder>
                      </mat-form-field>

                      <div class="formsDate">
                        <mat-form-field>
                          <input matInput type="text" maxLength="5" formControlName="mesVencimiento" onpaste="return true"
                                 oncopy="return false" class="placeholder" maxLength="2" minLength="2">
                          <mat-placeholder class="colortarjeta">MM</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput type="text" maxLength="2" minLength="2" formControlName="anioVencimiento" onpaste="return true"
                                 oncopy="return false" class="placeholder" (keyup)="fechaConsole()">
                          <mat-placeholder class="colortarjeta">AA</mat-placeholder>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="row">
                <mat-form-field class="col-12" *ngIf="formDatosPago.controls['idFormaPago'].value > 2" appearance="outline">
                  <input matInput placeholder="Comentarios" formControlName="comentarios" onpaste="return true"
                         oncopy="return false" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
              </div>
          </div>
      </form>

    </div>

    <div class="buttonsRow">
      <button
        mat-button
        (click)="enviarpagoOnline($event)"
        [disabled]="!formDatosPago.valid"
        class="nextButton">Pagar</button>
    </div>
  </div>
</mat-card>
