<table mat-table
       [dataSource]="dataVehicleLocal"
       #sort
       matSort
       [ngClass]="{
                    qualitasTable: nombreAseguradora === 'QUALITAS',
                    gnpTable: nombreAseguradora ==='GNP',
                    mapfreQuote: nombreAseguradora === 'MAPFRE'
       }"
>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>COBERTURA</th>
    <td mat-cell *matCellDef="let row" >

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Daños Materiales'">{{row.nombre}} </p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Robo Total'">{{row.nombre}} </p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Responsabilidad Civil'">{{row.nombre}} </p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Gastos Medicos'">{{row.nombre}} </p>-->


<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Muerte al Conductor X AA'">{{row.nombre}} </p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Gastos Legales'">{{row.nombre}} </p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Asistencia Vial'">{{row.nombre}} </p>-->


<!--      <form [formGroup] = "opcionalForm" >-->

<!--        <section class="example-section" *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Asistencia vial AV Plus'">-->
<!--          <mat-checkbox class="example-margin" formControlName= "asistenciaCivilcontrol">-->
<!--            {{row.nombre  }}</mat-checkbox>-->
<!--        </section>-->
<!--        <section class="example-section" *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Robo Parcial'">-->
<!--          <mat-checkbox class="example-margin" formControlName= "roboParcialcontrol">-->
<!--            {{row.nombre  }}</mat-checkbox>-->
<!--        </section>-->
<!--      </form>-->
      <p *ngIf="nombreAseguradora === 'QUALITAS'">{{row.nombre}}</p>
      <p *ngIf="nombreAseguradora === 'GNP'">{{row.nombre}}</p>
      <p *ngIf="nombreAseguradora === 'MAPFRE'">{{row.nombre}}</p>
    </td>




  </ng-container>
<!--        -                -             -            -    SUMA ASEGURADA      -         -        -->
  <ng-container matColumnDef="sumaAsegurada">
    <th mat-header-cell  *matHeaderCellDef mat-sort-header>SUMA ASEGURADA</th>
    <td mat-cell *matCellDef="let row" class="rightCell">

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Daños Materiales'">-->
<!--        {{row.sumaAsegurada | currency  }}</p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Robo Total'">-->
<!--        {{row.sumaAsegurada | currency  }}</p>-->

<!--      <form  [formGroup]="deducibleForm" class="sumaForm">-->
<!--      <mat-form-field  appearance="outline" *ngIf=" nombreAseguradora === 'QUALITAS' && row.nombre === 'Responsabilidad Civil'">-->
<!--        <mat-select  formControlName= "responsabilidadcontrol" >-->
<!--          <mat-option  *ngFor="let resp of responsabilidadCivil" [value]="resp.value">-->
<!--            {{resp.text}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

<!--        <mat-form-field appearance="outline" *ngIf="row.nombre === 'Gastos Medicos'">-->
<!--          <mat-select formControlName= "gastosMedicoscontrol">-->
<!--            <mat-option *ngFor="let gastos of gastosMedicos" [value]="gastos.value">-->
<!--              {{gastos.text}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </form>-->
<!--        <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Muerte al Conductor X AA'">{{row.sumaAsegurada | currency }}</p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Gastos Legales'">-->
<!--        {{row.sumaAsegurada | currency }}</p>-->

<!--        <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Asistencia Vial'">{{row.sumaAsegurada | currency }}</p>-->

<!--        <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Asistencia vial AV Plus'"-->
<!--           [ngClass]="{unactiveText: valoropcionAsistenciaLegal !== true}">-->
<!--          {{row.sumaAsegurada  }}</p>-->
<!--        <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Robo Parcial'"-->
<!--           [ngClass]="{unactiveText: valoropcionalRoboParcial !== true}">-->
<!--          {{row.sumaAsegurada | currency }} </p>-->
      <P *ngIf="nombreAseguradora === 'QUALITAS'">{{row.sumaAsegurada  | currency}}</P>

      <P *ngIf="nombreAseguradora === 'GNP'">{{row.sumaAsegurada }}</P>
      <P *ngIf="nombreAseguradora === 'MAPFRE'">{{row.sumaAsegurada }}</P>
    </td>
  </ng-container>
  <!--        -                -             -            -    DEDUCIBLE      -         -        -->
  <ng-container matColumnDef="deducible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DEDUCIBLE</th>
    <td mat-cell *matCellDef="let row">

<!--      <form [formGroup]="deducibleForm" class="deducibleForm">-->
<!--        <mat-form-field appearance="outline"-->
<!--                        *ngIf=" nombreAseguradora === 'QUALITAS' && row.nombre === 'Daños Materiales'">-->
<!--          <mat-select formControlName= "danosMaterialescontrol">-->
<!--            <mat-option *ngFor="let danos of danosMateriales" [value]="danos.value"-->
<!--                        >-->
<!--              {{danos.text}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline"-->
<!--                        *ngIf=" nombreAseguradora === 'QUALITAS' && row.nombre === 'Robo Total'">-->
<!--          <mat-select formControlName= "roboTotalcontrol">-->
<!--            <mat-option *ngFor="let robo of roboTotal" [value]="robo.value" >-->
<!--              {{robo.text}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </form>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Responsabilidad Civil'">-->
<!--        {{row.deducible + '%' }}</p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Gastos Medicos'">-->
<!--        {{row.deducible + '%' }}</p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Muerte al Conductor X AA'">{{ row.deducible + '%'}}</p>-->

<!--&lt;!&ndash;&lt;!&ndash;      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Accidentes ocupantes'">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        {{row.deducible + '%' }}</p>&ndash;&gt;&ndash;&gt;-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Asistencia Vial'">{{ row.deducible + '%'}}</p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Asistencia vial AV Plus'"-->
<!--         [ngClass]="{unactiveText: valoropcionAsistenciaLegal !== true}">-->
<!--        {{ row.deducible}}</p>-->

<!--      <p *ngIf="nombreAseguradora === 'QUALITAS' && row.nombre === 'Robo Parcial'"-->
<!--         [ngClass]="{unactiveText: valoropcionalRoboParcial !== true}">-->
<!--        {{ row.deducible}}</p>-->
      <P *ngIf="nombreAseguradora === 'QUALITAS'">{{row.deducible }}</P>
      <P *ngIf="nombreAseguradora === 'GNP'">{{row.deducible }}</P>
      <P *ngIf="nombreAseguradora === 'MAPFRE'">{{row.deducible }}</P>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" class="row{{rowType(i)}}"></tr>
</table>

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->
<!--</table>-->
