$qualitas-color: #8f1180;
$qualitas-colorLight: #f1e9f0;
$gnp-color: #ef7a3d;
$gnp-colorLight: #f5ede9;
$mapfre-color: #AC0404;
$mapfre-colorLight: #f7e6e4;

@mixin insuranceQuoteTable($main-color, $side-color) {
  width: 100%;
  th.mat-header-cell{
    padding: 0;
    border-bottom-width: 0;
    height: 60px;
  }
  td.mat-cell,
  th.mat-header-cell:not(:first-of-type) {
    padding: 0;
    border-bottom-width: 0;
    height: 60px;

    .mat-checkbox{
      padding-left: 12px;
    }

    ::ng-deep {
      .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0px 0 15px 0 !important;
      }
      .mat-select-value-text, .mat-checkbox-label{
        color: #515874;
      }
    }

    p{
      margin: 0;
      padding-left: 12px;
      color: #515874 !important;
    }
    .unactiveText{
      color: #b9b9b9 !important;
    }

    .deducibleForm{
      width: 68px;
    
      .mat-form-field{
        width: 100%;
        transform: translateY(10px);
      }
    }
    
    .sumaForm{
      width: 150px;
    
      .mat-form-field{
        width: 100%;
        transform: translateY(10px);
      }
    }
  }

  th.mat-header-cell:first-of-type{
    padding-left: 8px;
  }
  .mat-header-cell {
    background-color: #fff !important;
    color: $main-color !important;
    font-weight: bold;
  }
  .rowColor{
    background-color: $side-color;
  }
  .rowWhite{
    background-color: white;
  }

  @media only screen and (max-width: 768px){
    td.mat-cell, th.mat-header-cell{
      font-size: 12px;
    }
  }
}

.qualitasTable{
  @include insuranceQuoteTable($qualitas-color, $qualitas-colorLight)
}

.gnpTable{
  @include insuranceQuoteTable($gnp-color, $gnp-colorLight)
}

.mapfreQuote{
  @include insuranceQuoteTable($mapfre-color, $mapfre-colorLight);
}

