.opciones {
  padding-top: 30px;
}

.documentoLegible {
  font-size: 18px;
}

mat-form-field {
  min-height: 50%;
}

.checkBoxDocumentos {
  width: 100% !important;
  display: block;
}

mat-divider {
  border-top-color: #52387f;
  margin-bottom: 30%;

}

textarea {
  min-height: 50%;
}

p {
  margin-top: 5%;
  font-weight: bold;
  font-size: 18px;
}

label {
  width: 100%;
}

span {
  font-weight: bold;
  width: 70%

}

.espacioCheckBox {
  display: flex;
  justify-content: space-between;
}

.loader {
  position: relative;
  margin-rigth: -50%;
  left: 35%;
  margin-top: 30%;
}

mat-icon {
  cursor: pointer;
}
