<mat-card ngxClickDerechoDesactivado *ngIf="permisos?.VN?.autoErrores">
  <div class="regresar" (click)="cerrar()">
    <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
  </div>
  <mat-card-title fxLayoutAlign="center" style="color: #354089 ">
    Validar documentos {{textoDocumentoActual}}
  </mat-card-title>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between baseline ">
      <div fxFlex="35">
        <mat-slide-toggle [(ngModel)]="documentoLegible">
          Da click si todos los documentos son legibles
        </mat-slide-toggle>
        <mat-divider style="width: 35%;" class="mat-divider"></mat-divider>

        <div *ngIf="documentosPCorregir.length === 0 || checkBoxes.length === 0; else documentosYFormulario" class="loader">
          <mat-spinner mode="indeterminate"></mat-spinner>
        </div>

        <!----------------------------------------- Formularios de documentos ------------------------------------------------>
        <ng-template #documentosYFormulario>
          <div *ngIf="!documentoLegible; else formularios">
            <p>Selecciona los documentos que no sean legibles </p>
            <div *ngFor="let documentoPCorregir of documentosPCorregir">
              <mat-slide-toggle
                [(ngModel)]="documentoPCorregir.activado"> {{documentoPCorregir.descripcion}} </mat-slide-toggle>
              <mat-form-field *ngIf="documentoPCorregir.activado">
                  <textarea matInput placeholder="Comentarios" [matTextareaAutosize]="true"
                            oninput="this.value = this.value.toUpperCase()"
                            maxlength="255" [(ngModel)]="documentoPCorregir.comentario"></textarea>
              </mat-form-field>
            </div>
          </div>
          <!------------------------------ Formularios de datos de los distintos documentos ------------------------------------->
          <ng-template #formularios>
            <mat-divider style="width: 35%;" class="mat-divider"></mat-divider>
            <p>Selecciona los campos que tengan los datos erróneos</p>
            <div *ngFor="let campo of checkBoxes" class="prueba">
              <div class="espacioCheckBox">
                <mat-slide-toggle [(ngModel)]="campo.activo" (change)="verificarCheck(false)">
                  <span>{{campo.nombre}}: </span>
                </mat-slide-toggle>
                <div>
                  {{campo.informacion}}
                </div>
              </div>
              <mat-form-field *ngIf="campo.activo">
                  <textarea matInput placeholder="Comentarios" [matTextareaAutosize]="true"
                            oninput="this.value = this.value.toUpperCase()"
                            [(ngModel)]="campo.comentario" maxlength="255"></textarea>
              </mat-form-field>
            </div>
          </ng-template>
        </ng-template>
      </div>

      <div fxFlex="65" fxLayout="column" fxLayoutGap="10px">
        <app-viewer *ngIf="autorizacionRegistro" [carpetaRegistro]="autorizacionRegistro.carpetaRegistro"
                    [archivoPago]="autorizacionRegistro.archivoPago" [carpetaCliente]="autorizacionRegistro.carpetaCliente"
                    [carpetaInspeccion]="autorizacionRegistro.archivoInspeccion" [autorizacion] = true>
        </app-viewer>

        <div fxLayoutAlign="end" fxFlex="20">
          <button mat-raised-button color="primary" (click)="documentoLegible ? postErroresEnCampos(): postErroresDocumentos()"
                  *ngIf="(!documentoLegible && verificarCheck(true)) ||
                          (documentoLegible && verificarCheck(false)); else elseBoton">
            Reportar documento
          </button>
          <ng-template #elseBoton>
            <button mat-raised-button color="primary" (click)="putAutorizacionRegistro(4)">
              Datos correctos</button>
          </ng-template>
        </div>
      </div>
  </mat-card-content>
</mat-card>
