<div *ngIf="!loading">
  <h4>Ejecutivo: {{data.nombre + ' ' + data.ap}}</h4>
  <h4>Fecha: {{data.fecha | date: 'medium'}}</h4>
  <audio controls >
    <source [src]="link" type="audio/mpeg">
  </audio>
  <audio controls controlsList="nodownload">
    <source [src]="link" type="audio/mpeg">
  </audio>
  <!--<audio controls controlsList="nodownload">
    <source [src]="link" type="audio/mpeg">
  </audio>-->
</div>
<mat-spinner *ngIf="loading"></mat-spinner>

