<mat-card *ngIf="permisos?.VN?.miEstadoCuenta">
  <div fxLayoutAlign="space-between" >
    <button mat-icon-button (click)="openHelpModal()">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="getFechaRegistro(true, true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    MI ESTADO DE CUENTA
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled [(ngModel)]="rangeDates[0]" [value]="rangeDates[0]" [max]="max" matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">Fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled [(ngModel)]="rangeDates[1]" [value]="rangeDates[1]" matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlex="60" *ngIf="permisos?.VN?.miEstadoCuenta.fechas">
      <button mat-raised-button fxFlex="50" (click)="getFechaRegistro(true, true)">DESPLEGAR FECHAS POR REGISTRO</button>
      <button mat-raised-button fxFlex="50" (click)="getFechaRegistro(true, false)">DESPLEGAR FECHAS POR COMISIÓN</button>
    </div>
  </div>
  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Filtrar</mat-label>
      <input matInput oncopy="return false" (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <mat-card-content>
    <div>

      <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource || errorSpin; else spin" class="example-container mat-elevation-z8 ">
        <ng-container matColumnDef="poliza" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> POLIZA</th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="empleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEjecutivo}} </td>
        </ng-container>

        <ng-container matColumnDef="socio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SOCIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreComercial}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA INICIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaInicio | date : 'dd/MM/ yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SUBÁREA</th>
          <td mat-cell *matCellDef="let element"> {{element.subarea}} </td>
        </ng-container>

        <ng-container matColumnDef="comisionable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> COMISIONABLE</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.comisionable === 1; else error1">
              <mat-icon class = "documento-verificado"
                        matTooltip="Poliza comisionable" matTooltipPosition="left">
                check_circle
              </mat-icon>
            </span>
            <ng-template #error1>
              <mat-icon class = "documento-en-proceso"
                        matTooltip="Poliza no comisionable" matTooltipPosition="left">
                cancel
              </mat-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="pagado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> COBRADA</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.pagado === 1; else error2">
              <mat-icon class = "documento-verificado"
                        matTooltip="Poliza cobrada" matTooltipPosition="left">
                  check_circle
              </mat-icon>
            </span>
            <ng-template #error2>
              <mat-icon class = "documento-en-proceso"
                        matTooltip="Poliza sin comprobante de cobro" matTooltipPosition="left">
                cancel
              </mat-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="autorizado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AUTORIZADA</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.autorizado === 1; else error3">
              <mat-icon class = "documento-verificado"
                        matTooltip="Poliza autorizada" matTooltipPosition="left">
                  check_circle
              </mat-icon>
            </span>
            <ng-template #error3>
              <mat-icon class = "documento-en-proceso"
                        matTooltip="Poliza sin autorizacion del supervisor" matTooltipPosition="left">
                cancel
              </mat-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="verificado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> VERIFICADA</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.verificado === 1; else error4">
              <mat-icon class = "documento-verificado"
                        matTooltip="Verificacion correcta" matTooltipPosition="left">
                  check_circle
              </mat-icon>
            </span>
            <ng-template #error4>
              <span *ngIf="element.autorizado">
                <mat-icon
                  (click) = "errorNavigate(element.verificadoCliente)"
                  [ngClass]="{
                          'documento-espera': element.verificadoCliente === 1,
                          'documento-en-proceso': element.verificadoCliente === 2 || element.verificadoCliente === 5,
                          'documento-verificado': element.verificadoCliente === 4}"
                  matTooltip="Poliza pendiente de verificacion" matTooltipPosition="left">
                  person
                </mat-icon>
                <!--Icono de documentos de producto-->

                <mat-icon
                  (click) = "errorNavigate(element.verificadoProducto)"
                  [ngClass]="{
                          'documento-espera': element.verificadoProducto === 1,
                          'documento-en-proceso': element.verificadoProducto === 2 || element.verificadoProducto === 5,
                          'documento-verificado': element.verificadoProducto === 4}"
                  matTooltip="Poliza pendiente de verificacion" matTooltipPosition="left">
                    directions_car
                </mat-icon>
                <!--Icono de documentos de registro-->
                <mat-icon
                  (click) = "errorNavigate(element.verificadoRegistro)"
                  [ngClass]="{'documento-espera': element.verificadoRegistro === 1,
                            'documento-en-proceso': element.verificadoRegistro === 2 || element.verificadoRegistro === 5,
                            'documento-verificado': element.verificadoRegistro === 4}"
                  matTooltip="Poliza pendiente de verificacion" matTooltipPosition="left">
                  insert_drive_file
                </mat-icon>
                <!--Icono de documentos de pago-->
                <mat-icon
                  (click) = "errorNavigate(element.verificadoPago)"
                  [ngClass]="{
                          'documento-espera': element.verificadoPago === 1,
                          'documento-en-proceso': element.verificadoPago === 2 || element.verificadoPago === 5,
                          'documento-verificado': element.verificadoPago === 4}"
                  matTooltip="Poliza pendiente de verificacion" matTooltipPosition="left">
                  attach_money
                </mat-icon>
              </span>
              <span *ngIf="!element.autorizado">
                <mat-icon class = "documento-en-proceso"
                          matTooltip="Poliza que no ha llegado al proceso de verificacion" matTooltipPosition="left">
                  cancel
                </mat-icon>
              </span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="aplicado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> APLICADA</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.aplicado === 1; else error5">
              <mat-icon class = "documento-verificado"
                        matTooltip="Poliza aplicada por finanzas" matTooltipPosition="left">
                  check_circle
              </mat-icon>
            </span>
            <ng-template #error5>
              <mat-icon class = "documento-en-proceso"
                        matTooltip="Poliza sin aplicar por finanzas" matTooltipPosition="left">
                cancel
              </mat-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaAplicacionAseg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA APLICACION</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaAplicacionAseg | date:"dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaAplicacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA REGISTRO APLICACION</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaAplicacion | date:"dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaComision" stickyEnd>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA COMISION</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaComision | date:"dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaPago" stickyEnd>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PAGO</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaPago | date:"dd/MM/yyyy" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'warning': !row.idPago || row.idEstadoPago === 2, 'greeat' : row.idPago}"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>






