.example-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
.documento-verificado {
  color: #2b720e;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.documento-espera {
  color: #e7a800;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.documento-en-proceso {
  color: #cd0f0e;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.icon-all {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}
.mat-header-cell {
  padding: 3px;
  color: white;
}
