.form-control, .form-control:focus {
  outline: none;
  border: none;
}

.mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0;
  height: calc(100vh - 160px);
  max-height: 524px;
  width: 100%;
  border-radius: 4px;
  justify-content: space-between;
}

.generalWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 94%;
  max-height: 271px;
  overflow: auto;
}

.header{
  width: 92%;
  height: 45px;
  border-bottom: #80808030 solid 2px;
}

.stepTitle{
  text-align: start;
  font-size: 26px;
  color: #354089;
}

.cardContent{
  width: 92%;
}

.cardRow{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;

  p{
    margin: 0;
  }

  .mat-radio-group{
    margin-left: 70px;
  }

  .mat-radio-button{
    margin: 0 20px 0 0;
  }

}

.telefono {
  color: tomato;
}

mat-card-actions {
  text-align: right;
}

button {
  color: #fff;
}

mat-datepicker-toggle {
  width: auto;
  margin: auto;
  font-size: 1rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
//
//@keyframes parpadeo {
//  0% { color: red; border-radius: 50%; }
//  100% { color: #000000; border-radius: 50%; }
//}
// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  width: auto;
  height: auto;
  justify-self: end;
}
.buttonsRow{
  width: 92%;
  display: inline-grid;
  grid-auto-flow: column;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:disabled, .modButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.modButton {
  background-color: #354089;
  color: white;
  justify-self: start;
}


@media only screen and (max-height: 900px){
  .cardContent{
    margin-top: 15px;
  }
  .header{
    height: 38px;
  }
  .stepTitle{
    font-size: 24px;
  }
  .buttonsRow{
    padding: 0 50px 0 0;
    margin-bottom: 28px !important;
  }
  .nextButton{
    height: 36px;
    font-size: 16px;
    width: 220px;
  }
  .modButton{
    height: 36px;
    font-size: 16px;
    width: 184px;
  }
  .generalWrapper{
    max-height: 368px;
  }
}
@media only screen and (max-height: 768px){
  .generalWrapper{
    max-height: 280px;
  }
  .slideWrapper{
    height: 60.75px;
  }
  .header{
    height: 30px;
    margin-bottom: 20px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .cardContent{
    height: fit-content;
    font-size: 12px;
  }
  .formCol{
    font-size: 12px;
    justify-content: space-between;
    height: 134px;
  }
  .formWrapper{
    height: fit-content;
    justify-content: space-between;
  }
  .buttonsRow{
    padding: 0 38px 0 4px;
    margin-bottom: 14px !important;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 154px;
  }
  .modButton {
    height: 34px;
    font-size: 12px;
    width: 146px;
  }
}
