
<mat-card class="example-form">
  <div class="generalWrapper">
    <div class="header"><p class="stepTitle">Inspecciones</p></div>
    <div class="cardContent">
      <div class="cardRow">
        <p>¿La inspección será online?:</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button #check1 checked>Si</mat-radio-button>
          <mat-radio-button #check2 value="2">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <form [formGroup]="inspeccionOnline" *ngIf="!check2.checked">
        <mat-form-field appearance="outline">
          <mat-label>Introduzca el URL</mat-label>
          <input
            onpaste="return true"
            formControlName="urlInspeccionOnline"
            oncopy="return false"
            matInput
          >
        </mat-form-field>
      </form>

      <div class="cardRow">
        <p>¿La inspección será en el domicilio del cliente?:</p>
        <mat-radio-group [(ngModel)]="respuestaDireccion">
          <mat-radio-button *ngFor="let opcion of opcionesRadioButton" [value]="opcion" (change)="disableInspeccionesForm(opcion)">
            {{opcion}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <form [formGroup]="inspeccionesForm" class="col-12 row" *ngIf="!check2.checked">
        <!--        <div class="row justify-content-center">-->
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Código Postal</mat-label>
            <input
              matInput
              type="text"
              formControlName="cp"
              id="cp1"
              oninput="this.value = this.value.toUpperCase()"
              onpaste="return true"
              oncopy="return false"
              (keyup)="validarCp($event.target.value, 1)"
              onDrop="return false"
              autocomplete="off"
              [max]="5"
              [min]="4"
            />
            <mat-hint *ngIf="inspeccionesForm.controls['cp'].errors&&inspeccionesForm.controls['cp'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Colonia</mat-label><mat-select formControlName="idColonia">
            <mat-option *ngFor="let colonia of coloniasSe" [value]="colonia.idCp">
              {{colonia.asenta}}

            </mat-option>
          </mat-select>

          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input
              matInput
              type="text"
              formControlName="calle"
              oninput="this.value = this.value.toUpperCase()"
              onpaste="return true"
              oncopy="return false"
              onDrop="return false"
              autocomplete="off"
            />

          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número Exterior</mat-label>
            <input
              matInput
              type="text"
              formControlName="numExt"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número Interior</mat-label>
            <input
              matInput type="text"
              formControlName="numInt"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
            />
          </mat-form-field>
        </div>
      </form>

      <!-- INSPECCIÓN OffLINE SELECCIONADA -->
      <form [formGroup]="inspeccionesForm">
        <!--        <div class="row justify-content-center">-->
        <div class="col-md-6" *ngIf="!check1.checked">

          <mat-form-field appearance="outline">
            <mat-label>Código Postal</mat-label>
            <input
              matInput
              type="text"
              formControlName="cp" id="cp1"
              oninput="this.value = this.value.toUpperCase()"
              onpaste="return true"
              oncopy="return false"
              (keyup)="validarCp($event.target.value, 1)"
              onDrop="return false"
              autocomplete="off"
              [max]="5"
              [min]="4"
            />
            <mat-hint *ngIf="inspeccionesForm.controls['cp'].errors&&inspeccionesForm.controls['cp'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Colonia</mat-label><mat-select formControlName="idColonia">
            <mat-option *ngFor="let colonia of coloniasSe" [value]="colonia.idCp">
              {{colonia.asenta}}
            </mat-option>
          </mat-select>

          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input
              matInput
              type="text"
              formControlName="calle"
              oninput="this.value = this.value.toUpperCase()"
              onpaste="return true"
              oncopy="return false"
              onDrop="return false"
              autocomplete="off"
            />

          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número Exterior</mat-label>
            <input
              matInput type="text"
              formControlName="numExt"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número Interior</mat-label>
            <input
              matInput type="text"
              formControlName="numInt"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field *ngIf="!check1.checked" appearance="outline">
            <mat-label>Placas</mat-label>
            <input
              matInput
              type="text"
              formControlName="placas"
              onpaste="return true"
              oncopy="return false"
              id="placas"
            />
          </mat-form-field>
          <mat-form-field *ngIf="!check1.checked" appearance="outline">
            <mat-label>Fecha de Inspección</mat-label>
            <input
              readonly
              matInput
              [matDatepicker]="picker"
              onpaste="return true"
              oncopy="return false"
              formControlName="fechaInspeccion"
              id="fechaInspeccion"
            >
            <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="!inspeccionesForm.controls['fechaInspeccion'].valid&&inspeccionesForm.controls['fechaInspeccion'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>
          <mat-form-field *ngIf="!check1.checked" appearance="outline">
            <mat-label>Kilometraje</mat-label>
            <input
              matInput
              type="text"
              formControlName="kilometraje"
              id="kilometraje"
              maxlength="10"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
            />
            <!--<mat-hint *ngIf="!inspeccionesForm.controls['kilometraje'].valid&&inspeccionesForm.controls['kilometraje'].dirty">
                  Se requiere llenar el campo
                </mat-hint>-->
          </mat-form-field>
          <mat-form-field *ngIf="!check1.checked" appearance="outline">
            <mat-label>Comentarios</mat-label>
            <input
              matInput
              type="text"
              formControlName="comentarios"
              id="comentarios"

              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              onDrop="return false"
              autocomplete="off"
            />
          </mat-form-field>
          <div *ngIf="urlPostVenta === 1">
            <mat-form-field appearance="outline">
              <mat-label>URL Post-Venta</mat-label>
              <input
                matInput type="text"
                formControlName="urlPostventa"
                id="urlPostventa"
                placeholder="URL POSTVENTA"
                onpaste="return true"
                oncopy="return false"
                autocomplete="off"
              />
              <mat-hint
                *ngIf="!inspeccionesForm.controls['urlPostventa'].valid&&inspeccionesForm.controls['urlPostventa'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
          <!--          <mat-slide-toggle #conductorCheck [checked]="true">Conductor Habitual</mat-slide-toggle>-->
        </div>
        <!--        </div>-->
      </form>
      <!-- *********************************************FORMULARIO DOS ***************************************************************-->
      <!--      <mat-card-title *ngIf="!conductorCheck.checked && !check1.checked">Conductor Habitual</mat-card-title>-->
      <!--      <form [formGroup]="conductorHabitualForm" *ngIf="!conductorCheck.checked && !check1.checked" class="col-12 row">-->
      <!--        &lt;!&ndash;        <div class="row justify-content-center">&ndash;&gt;-->
      <!--        <div class="col-md-4" *ngIf="!check1.checked">-->
      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>País</mat-label>-->
      <!--              <mat-select formControlName="idPais">-->
      <!--                <mat-option *ngFor="let pais of paises" [value]="pais.id"  id="idPais">-->
      <!--                  {{pais.nombre}}-->
      <!--                </mat-option>-->
      <!--              </mat-select>-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['idPais'].valid&&conductorHabitualForm.controls['idPais'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Nombre</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="nombre"-->
      <!--                id="nombre"-->
      <!--                oninput="this.value = this.value.toUpperCase()"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['nombre'].valid&&conductorHabitualForm.controls['nombre'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Apellido Paterno</mat-label>-->
      <!--              <input-->
      <!--                matInput type="text"-->
      <!--                formControlName="paterno"-->
      <!--                id="paterno"-->
      <!--                oninput="this.value = this.value.toUpperCase()"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['paterno'].valid&&conductorHabitualForm.controls['paterno'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Apellido Materno</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="materno"-->
      <!--                id="materno"-->
      <!--                oninput="this.value = this.value.toUpperCase()"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['materno'].valid&&conductorHabitualForm.controls['materno'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Correo</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="correo"-->
      <!--                id="correo"-->
      <!--                oninput="this.value = this.value.toUpperCase()"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['correo'].valid&&conductorHabitualForm.controls['correo'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-md-4">-->
      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Código Postal</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="cp"-->
      <!--                id="cp"-->
      <!--                oninput="this.value = this.value.toUpperCase()"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                (keyup)="validarCp($event.target.value, 2)"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['cp'].errors&&conductorHabitualForm.controls['cp'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Colonia</mat-label>-->
      <!--              <mat-select formControlName="idColonia">-->
      <!--                <mat-option *ngFor="let colonia of coloniasDos" [value]="colonia.idCp"  id="idColonia">-->
      <!--                  {{colonia.asenta}}-->
      <!--                </mat-option>-->
      <!--              </mat-select>-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['idColonia'].valid&&conductorHabitualForm.controls['idColonia'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Calle</mat-label>-->
      <!--              <input-->
      <!--                matInput type="text"-->
      <!--                formControlName="calle"-->
      <!--                id="calle"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['calle'].valid&&conductorHabitualForm.controls['calle'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Número Interior</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="numInt"-->
      <!--                id="numInt"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                oninput="this.value = this.value.toUpperCase()"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['numInt'].valid&&conductorHabitualForm.controls['numInt'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Número Exterior</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="numExt"-->
      <!--                id="numExt"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              <mat-hint-->
      <!--                *ngIf="!conductorHabitualForm.controls['numExt'].valid&&conductorHabitualForm.controls['numExt'].dirty">-->
      <!--                Se requiere llenar el campo adecuadamente-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-md-4">-->
      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Género</mat-label>-->
      <!--              <mat-select formControlName="genero">-->
      <!--                <mat-option value="M">Masculino</mat-option>-->
      <!--                <mat-option value="F">Femenino</mat-option>-->
      <!--              </mat-select>-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['genero'].valid&&conductorHabitualForm.controls['genero'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Teléfono Fijo</mat-label>-->
      <!--              <input-->
      <!--                matInput type="text"-->
      <!--                formControlName="telefonoFijo"-->
      <!--                id="telefonoFijo"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                maxlength="10"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              &lt;!&ndash;              <mat-hint&ndash;&gt;-->
      <!--              &lt;!&ndash;                *ngIf="!conductorHabitualForm.controls['telefonoFijo'].valid&&conductorHabitualForm.controls['telefonoFijo'].dirty">&ndash;&gt;-->
      <!--              &lt;!&ndash;                Se requiere llenar el campo adecuadamente&ndash;&gt;-->
      <!--              &lt;!&ndash;              </mat-hint>&ndash;&gt;-->
      <!--              <mat-hint class="telefono" *ngIf="telefonoFijo === null && conductorHabitualForm.controls['telefonoFijo'].value.length === 10">-->
      <!--                Se requiere un telefono válido-->
      <!--              </mat-hint>-->
      <!--              <mat-hint class="telefono" *ngIf="telefonoFijo === 'MOVIL' && conductorHabitualForm.controls['telefonoFijo'].value.length === 10">-->
      <!--                Este es un telefono móvil-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Teléfono Móvil</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="telefonoMovil"-->
      <!--                id="telefonoMovil"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--                maxlength="10"-->
      <!--                onDrop="return false"-->
      <!--                autocomplete="off"-->
      <!--              />-->
      <!--              &lt;!&ndash;              <mat-hint&ndash;&gt;-->
      <!--              &lt;!&ndash;                *ngIf="!conductorHabitualForm.controls['telefonoMovil'].valid&&conductorHabitualForm.controls['telefonoMovil'].dirty">&ndash;&gt;-->
      <!--              &lt;!&ndash;                Se requiere llenar el campo adecuadamente&ndash;&gt;-->
      <!--              &lt;!&ndash;              </mat-hint>&ndash;&gt;-->
      <!--              <mat-hint class="telefono" *ngIf="telefonoMovil === null && conductorHabitualForm.controls['telefonoMovil'].value.length === 10">-->
      <!--                Se requiere un telefono válido-->
      <!--              </mat-hint>-->
      <!--              <mat-hint class="telefono" *ngIf="telefonoMovil === 'FIJO' && conductorHabitualForm.controls['telefonoMovil'].value.length === 10">-->
      <!--                Este es un telefono fijo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Fecha de Nacimiento</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                [matDatepicker]="picker2"-->
      <!--                formControlName="fechaNacimiento"-->
      <!--                id="fechaNacimiento"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--              >-->
      <!--              <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker2"></mat-datepicker-toggle>-->
      <!--              <mat-datepicker #picker2></mat-datepicker>-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['fechaNacimiento'].valid&&conductorHabitualForm.controls['fechaNacimiento'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="form-group">-->
      <!--            <mat-form-field appearance="outline">-->
      <!--              <mat-label>Fecha de Registro</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                [matDatepicker]="picker3"-->
      <!--                formControlName="fechaRegistro"-->
      <!--                id="fechaRegistro"-->
      <!--                onpaste="return true"-->
      <!--                oncopy="return false"-->
      <!--              >-->
      <!--              <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker3"></mat-datepicker-toggle>-->
      <!--              <mat-datepicker #picker3></mat-datepicker>-->
      <!--              <mat-hint *ngIf="!conductorHabitualForm.controls['fechaRegistro'].valid&&conductorHabitualForm.controls['fechaRegistro'].dirty">-->
      <!--                Se requiere llenar el campo-->
      <!--              </mat-hint>-->
      <!--            </mat-form-field>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        &lt;!&ndash;        </div>&ndash;&gt;-->
      <!--      </form>-->
      <!--    </div>-->
    </div>
  </div>
  <div class="buttonsRow">
    <button  mat-button (click) = "fileInput.click()" class="modButton">
      Guardar documentos
      <input hidden accept="application/pdf" type="file" #fileInput onpaste="return true" oncopy="return false" (change)="almacenarArchivo()"/>
    </button>

    <!--    quitado guardar conductor nueva logica-->

    <!--    <button class="modButton" mat-button  (click)="guardarConductor()" *ngIf="!conductorCheck.checked" [disabled]="!conductorHabitualForm.valid">-->
    <!--      Registrar Conductor-->
    <!--    </button>-->
    <!-- <button [ngClass]="{'btns': !'[disabled]'}" mat-button  (click)="subirADrive()" [disabled]="!(conductorCheck.checked && inspeccionesForm.valid)">
      Guardar Inspeccion
    </button> -->

    <div class="relativeLoad">
      <button *ngIf="!btnLoad"  mat-button  (click)="subirADrive()" class="modButton"
              [disabled]="!( ((inspeccionOnline.valid && inspeccionesForm.valid) || inspeccionesForm.valid) && archivoValido)"  >Guardar Inspeccion
      </button>
      <!--                <button *ngIf="!btnLoad && check2.checked" [ngClass]="{'btns': !'[disabled]'}" mat-button  (click)="archivoValido ? subirADrive() : guardarInspeccion(null)" [disabled]="!(conductorCheck.checked && inspeccionesForm.valid)">-->
      <!--                  Guardar Inspeccion-->
      <!--                </button>-->
      <!--                <button mat-raised-button *ngIf="check1.checked"  (click)="subirADrive()" [disabled]="!(inspeccionOnline.valid && inspeccionesForm.valid)">-->
      <!--                  Guardar Inspeccion url-->
      <!--                </button>-->
      <button mat-button *ngIf="btnLoad" disabled>Cargando... </button>
      <div *ngIf="btnLoad" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--      <button *ngIf="!btnLoad" class="nextButton" mat-button  (click)="subirADrive()"-->
    <!--        [disabled]="!(conductorCheck.checked && ((inspeccionOnline.valid && inspeccionesForm.valid) || inspeccionesForm.valid) && archivoValido)">-->
    <!--        Guardar Inspeccion-->
    <!--      </button>-->
  </div>
</mat-card>

