<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button matTooltip="Mensajes por responder" mat-icon-button [matMenuTriggerFor]="menu" matMenu (click)="clickBtn()">
      <mat-icon *ngIf="cantidadNotificacion === 0" [ngClass]="{'moverCampana': efect === 1 && cantidadNotificacion !== 0}" >notifications</mat-icon>
      <mat-icon *ngIf="cantidadNotificacion !== 0" [ngClass]="{'moverCampana': efect === 1 && cantidadNotificacion !== 0}" [matBadge]="cantidadNotificacion" >notifications</mat-icon>
    </button>
    <mat-menu #menu="matMenu" #addStyleMM>
      <!--            <button mat-menu-item *ngFor="let mensaje of dataMensajesCanal" (click)="filtrarPorMensajeNoLeido(mensaje.correlationId)">-->
      <div class="" #addStyle>
        <div class="d-flex"  #mMenu>
          <div class="row">
            <div class="col">
              <button mat-menu-item *ngFor="let mensaje of dataMensajesCanal" (click)="filtrarPorMensajeNoLeido(mensaje)">
                <!--              <b>SOLICITUD</b>: {{ mensaje.correlationId }} - {{ mensaje.fecha | date : 'h:mm a' }}-->
                <b>SOLICITUD</b>: {{ mensaje }}
              </button>
            </div>
            <div class="col" style="display: grid;">
              <div *ngFor="let mensaje of dataMensajesCanal">
                <!--                <b #btnOptions></b>-->
                <button mat-icon-button>
                  <!--                          <mat-icon [matBadge]="cantidadMensajesPorCanal[mensaje]" (click)="iconoMatMenu(mensaje)" style="cursor: pointer;">-->
                  <mat-icon [matBadge]="cantidadMensajesPorCanal[mensaje]" style="cursor: pointer;">
                    <div class="badgee mt-2"></div>
                  </mat-icon>
                </button>
                <!--                      <p>{{ cantidadMensajesPorCanal[mensaje] }}</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-menu>

    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="getFechas(true)">

      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089"  *ngIf="tipo !== 'inbound'">
<!--    {{tituloComponent}}-->
    SOLICITUDES
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">Inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">Fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
  <!--      INPUTS DE FECHAS-->

  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >
    <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button  mat-raised-button fxFlex="50" (click)="getFechas(true)">DESPLEGAR FECHAS</button>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort  *ngIf="dataSource || errorSpin; else spin" class="mat-elevation-z8">
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon  (click)="verDatos(element.idProspecto, element.idProducto, element.idCotizacionAli)" id="verDetalles"
                      matTooltip="Ver detalles" mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEmpleado}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreProspecto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroProspecto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO</th>
<!--          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>-->
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

<!--        <ng-container matColumnDef="estado">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO SOLICITUD</th>-->
<!--          <td mat-cell *matCellDef="let element" style="color: #e11c51; font-weight: 900;">-->
<!--            &lt;!&ndash;{{element.idEstadoSolicitud | FechaRestante: element.estado}} &ndash;&gt;-->
<!--            {{element.estado}}-->
<!--          </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTAMENTO</th>
          <td mat-cell *matCellDef="let element" style="font-weight: 900;">
            <!--{{element.idEstadoSolicitud | FechaRestante: element.estado}} -->
            {{element.descripcionDepartemento}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaSolicitud | date:"dd/MM/yyyy, HH:mm:ss" }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
<!--                            <mat-icon matTooltip="Hacer llamada" (click)="llamar(element.id)" mat-raised-button>-->
<!--                              call-->
<!--                            </mat-icon>-->
              <button mat-icon-button
                      *ngIf="extension.length > 0 && extension !== 'null'"
                      [matMenuTriggerFor]="menu"
                      (click)="getNumeros(element.id, element.numero)"
                      [disabled]="puedeLlamar">
                <mat-icon matTooltip="Hacer llamada" [style.color]="puedeLlamar ? 'silver' : null">call</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <mat-spinner *ngIf="cargando"></mat-spinner>
                <div *ngFor="let numero of numeros">
                  <button mat-menu-item (click)="llamar(element.id, numero)">
                    <mat-icon>call</mat-icon>
                    <span>{{numero}}</span>
                  </button>
                </div>
              </mat-menu>

              <!--  recotizar entra a cotizador online y recotiza el lead con datos del carrusel-->
              <mat-icon matTooltip="Emitir"  (click)="recotizar(element.idProspecto, 2, element.id, element.nombreCliente)" mat-raised-button

                        *ngIf="tipo !== 'no-contactado'">add_task
              </mat-icon>


              <mat-icon matTooltip="Registrar Datos Poliza"  (click)="registerPolicy(element.id)" mat-raised-button
                        *ngIf="tipo !== 'no-contactado'">launch

              </mat-icon>
                  <!-- entra al step donde se quedo el ejecutivo al crear una emision online-->
                            <mat-icon matTooltip="Ver Emision Funnel Online"  (click)="generarEmisionOnlineFunnel(element.id)" mat-raised-button
                                      *ngIf="tipo !== 'no-contactado'">receipt
                            </mat-icon>

              <mat-icon matTooltip="Reasignar solicitud"
                        (click)="reasignarSolicitud(element)"
                        *ngIf="idPuesto !== 8 && idPuesto !== 38"
                        mat-raised-button>
                supervisor_account
              </mat-icon>

              <button mat-icon-button
                      matTooltip="Agregar Número"
                      (click)="agregarNumero(element.id)">
                <mat-icon>person_add</mat-icon>
              </button>

<!--              <mat-icon  matTooltip="Historial de llamadas"  (click)="historicoLlamadas(element.id)">-->
<!--                history-->
<!--              </mat-icon>-->

<!--              <div class="notification">-->
<!--                <mat-icon  matTooltip="Enviar mensaje" (click)="mostrarChat(element)">-->
<!--                  whatsapp-->
<!--                </mat-icon>-->
<!--              </div>-->

              <div class="notification">
                <!--                <mat-icon *ngIf="this.tipo === 'interno' || this.tipo === 'inbound'" pTooltip="{{element.notificacion === 1 ? 'Tienes un mensaje por leer' : 'Enviar mensaje'}}" (click)="enviarWha(element)" [ngClass]="{'Blink': element.notificacion === 1}">&ndash;&gt;-->
                <!--                <mat-icon  *ngIf="this.tipo === 'interno' || this.tipo === 'outbound' || this.tipo === 'contactado' || this.tipo === 'no-contactado'" pTooltip="{{element.notificacion === 1 ? 'Tienes un mensaje por leer' : 'Enviar mensaje'}}" (click)="mostrarChat(element)" [ngClass]="{'Blink': element.notificacion === 1}">-->
                <!--                  <div [ngClass]="{'badgee': element.notificacion === 1, 'whatsapp-icon': element.notificacion !== 1}"></div>-->
                <!--                </mat-icon>-->
              </div>

              <!--              <mat-icon  MatTooltip="Agregar Número"  (click)="agregarNumero(element.id)">-->
              <!--                person_add-->
              <!--              </mat-icon>-->

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'warning': row.idEmpleado === 1737}"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
