<mat-card class="side-container">
  <mat-list>
    <mat-list-item routerLinkActive="active"  routerLink="/modulos/dashboard/tabs" >
      <span> INICIO </span>
      <mat-icon mat-list-icon>home</mat-icon>
    </mat-list-item>

    <mat-list-item class="papaBadge animate"
                   routerLinkActive="active"
                   routerLink="/modulos/dashboard/asistencias"
                   [routerLinkActiveOptions]="{exact: true}"
                   *ngIf="permisos?.ASIS">
      <span > ASISTENCIA </span>
      <div class="badge" *ngIf="hidden" > <span>1</span></div>
      <mat-icon  mat-list-icon>assignment_turned_in</mat-icon>
    </mat-list-item>

    <mat-list-item routerLinkActive="active"
                   routerLink="/modulos/dashboard/vacaciones"
                   *ngIf="permisos?.VAC">
      <span  > VACACIONES </span>
      <mat-icon mat-list-icon>airplanemode_active</mat-icon>
    </mat-list-item>

    <mat-list-item routerLinkActive="active"
                   *ngIf="permisos?.JUST"
                   routerLink="/modulos/dashboard/justificantes">
      <span > JUSTIFICANTES </span>
      <mat-icon mat-list-icon>local_hospital</mat-icon>
    </mat-list-item>
    <mat-list-item routerLinkActive="active"
                   *ngIf="permisos?.UM"
                   routerLink="/modulos/dashboard/ultimos-movimientos">
      <span > ULTIMOS MOVIMIENTOS </span>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
    </mat-list-item>
    <mat-list-item routerLinkActive="active"
                   routerLink="/modulos/dashboard/promociones">
      <span > PROMOCIONES </span>
      <mat-icon mat-list-icon>grade</mat-icon>
    </mat-list-item>

  </mat-list>
</mat-card>
