<mat-card>
  <h1>BENEFICIOS AHORRA</h1>
</mat-card>

<mat-spinner *ngIf="!beneficio; else beneficiosAhorra"></mat-spinner>

<ng-template #beneficiosAhorra>
    <div *ngIf="beneficio.length === 0;
      else visualizarImagen">
      <h1>No hay imágenes para mostrar</h1>
    </div>

  <ng-template #visualizarImagen>
    <mat-card class="cardLayout mat-elevation-z5">
      <div class="slider">
        <a href="https://forms.gle/qsqCb3EjYAsbm9BF6" target="_blank" class="link">
          <img class="beneficio" [src]=beneficio.archivo (click)="redireccionar()">
          <p>
            Esta imagen tiene un link, da click sobre la imagen para abrirlo.
          </p>
        </a>
      </div>
    </mat-card>
  </ng-template>

</ng-template>

