@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
p{
  font-family: 'Quicksand', sans-serif;
}
.header{
  height: 20%;
  width: 100%;
  margin: 0 0 1% 0;
}

h1{
  margin-bottom: 50px;
}

.cardLayout{
  height: calc(100% - 23%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.backgroundWrapper{
  grid-area: row0 / col0 / row1 / col1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .background{
    width: 95%;
    height: 90%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffffff, #2927702b);
  }
}


.slider{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beneficio{
  height: 100%;
  width: 68%;
}

