.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form {
  padding-right: 10px;
}

#button {
  padding-bottom: 15px ;
}

#cerrar {
  color: white;
  background-color: #3f51b5
}

#button button:enabled {
  background-color: #15b1ff;
  color: white;
}
