<main>
    <div class="cardTrigarante">
        <div class="logoContainerTrigarante">
            <img src="../../../assets/images/ahorraio.png">
        </div>
        <p>TRIGARANTE 2022 </p>
        <div class="buttonLogIn">
            <div id="my-signin2" ></div>
        </div>
    </div>
</main>
