@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

main {
  background-color: #8e95b1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTrigarante {
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 70px;
  overflow: hidden;

  p{
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transform: translate(54px, -15px);
    font-family: "Quicksand", sans-serif;
    color: #273abe;
  }
}

.logoContainerTrigarante {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img{
    width: 65%;
    transform: translateX(-24px);
  }
}



.buttonLogIn {
  display: flex;
  align-self: center;
  position: relative;
  top: 34%;
}


@media only screen and(max-width: 1024px) {
  .cardTrigarante {
    width: 350px;
    height: 400px;
  }
}

@media only screen and(max-width: 768px) {
  .cardTrigarante {
    width: 100%;
    height: 180px;
    border-radius: 0;
  }

  .logoContainerTrigarante {
    position: fixed;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    overflow: hidden;
  }




  .buttonLogIn {
    width: 170px;
    height: 35px;
    position: relative;
    top: 130px;
  }
}

@media only screen and(max-width: 420px) {
  .cardTrigarante {
    width: 100%;
    height: 180px;
    border-radius: 0;
  }

  .logoContainerTrigarante {
    position: fixed;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }





  .textGradient {
    font-size: 16px;
  }

  .buttonLogIn {
    width: 130px;
    height: 25px;
    position: relative;
    top: 120px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}

@media only screen and(max-width: 320px) {
  .cardTrigarante {
    width: 100%;
    height: 180px;
    border-radius: 0;
  }

  .logoContainerTrigarante {
    position: fixed;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }



  .buttonLogIn {
    width: 125px;
    height: 21px;
    position: relative;
    top: 120px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}
