<mat-card *ngIf="permisos?.VN?.activEmpleado">
  <div fxLayoutAlign="end">
    <button mat-icon-button (click)="getEmpleadoActivo()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >
    EMPLEADO CARRUSEL
  </mat-card-title>

  <mat-card-content>
    <mat-form-field class="filter">
      <mat-label>FILTRAR</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <div>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef id="align-detail">ID
          </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaIngreso">
          <th mat-header-cell *matHeaderCellDef >FECHA INGRESO</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaIngreso | date : "dd/MM/yyyy"}}</td>
        </ng-container>

        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef >PUESTO</th>
          <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
        </ng-container>

        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef >SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef >DEPARTAMENTO</th>
          <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="contador">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;">CONTACTOS</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.contador }}</td>
        </ng-container>

        <ng-container matColumnDef="permiso">
          <th mat-header-cell *matHeaderCellDef >ESTADO</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.permiso}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span> ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions" *ngIf="!element.idSolicitudesCarrusel; else pendiente">
              <mat-icon *ngIf="!element.idSolicitudesCarrusel" [ngClass]="element.permiso === 'INACTIVO' ? 'azul' : 'rojo'"
                (click)="element.permiso === 'INACTIVO' ? seleccionMotivo(1, element) : seleccionMotivo(2, element)"
                        matTooltip="{{element.permiso === 'INACTIVO' ? 'Activar' :  'Desactivar'}} empleado">
                {{element.permiso === 'INACTIVO' ? 'work': 'work_off'}}
              </mat-icon>
            </div>
            <ng-template #pendiente>
              <div class="actions">
                <mat-icon style="color: #F7C42C;" matTooltip="Empleado en proceso de desactivación">work</mat-icon>
              </div>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>


      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
