<h2>CREAR PROSPECTO</h2>
<form [formGroup]="prospectoCreateForm">
<!--  correo-->
  <mat-form-field>
    <input matInput

           type="text"
           formControlName="correo"
           class="form-control"
           id="correo"
           oninput="this.value = this.value.toUpperCase()"
           placeholder="CORREO"
           (keyup)="validaCorreo($event.target.value)"
            autocomplete="off"/>
    <mat-hint *ngIf="!prospectoCreateForm.controls['correo'].valid&&prospectoCreateForm.controls['correo'].dirty">
      Se requiere llenar el campo
    </mat-hint>
  </mat-form-field>
<!--  TELEFono-->
  <mat-form-field>
    <input matInput

           type="text"
           formControlName="numero"
           class="form-control"
           id="numero"
           maxlength="10"
           placeholder="TELEFONO MOVIL"
            autocomplete="off"/>
    <mat-hint *ngIf="!prospectoCreateForm.controls['numero'].valid&&prospectoCreateForm.controls['numero'].dirty">
      Se requiere llenar el campo
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput

           type="text"
           formControlName="nombre"
           class="form-control"
           id="nombre"
           oninput="this.value = this.value.toUpperCase()"
           placeholder="NOMBRE"

           autocomplete="off" />
    <mat-hint *ngIf="!prospectoCreateForm.controls['nombre'].valid&&prospectoCreateForm.controls['nombre'].dirty">
      Se requiere llenar el campo
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="mt-4">
    <mat-label>SELECCIONE EL GÉNERO</mat-label>
    <mat-select formControlName="sexo">
      <mat-option *ngFor="let genero of genero" [value]="genero.value"  id="sexo">
        {{genero.label}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="!prospectoCreateForm.controls['sexo'].valid&&prospectoCreateForm.controls['sexo'].dirty">
      Se requiere llenar el campo
    </mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput

           type="text"
           formControlName="edad"
           class="form-control"
           id="edad"
           placeholder="EDAD"
           maxlength="2"

           autocomplete="off"
           #edad />
    <mat-hint
      *ngIf="!prospectoCreateForm.controls['edad'].valid&&prospectoCreateForm.controls['edad'].dirty">
      Se requiere llenar el campo adecuadamente
    </mat-hint>
  </mat-form-field>

  <div *ngIf="idProspectoExis">
    <mat-hint *ngIf="productoSolicitud.length === 0; else siHay"> No hay productos existentes. Por favor cree un Nuevo Producto</mat-hint>
    <ng-template #siHay>
      <mat-form-field>
        <mat-label>Solicitudes</mat-label>
        <mat-select (selectionChange)="getSolictud($event.value)">
          <mat-option *ngFor="let dato of productoSolicitud" [value]="dato.valor">
            {{dato.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
</form>

<!--<div *ngIf="solicitud">-->
<!--  <h2 >DETALLE DE SOLICITUD</h2>-->
<!--  <button mat-button-->
<!--          fxLayoutAlign="end"-->
<!--          class="right"-->
<!--          color="primary"-->
<!--          (click) ="this.cerrarModal.emit(true);"-->
<!--          [routerLink]="['/modulos/venta-nueva-inbound/cotizador-vn/', idProspectoExis, idSolicitud]">-->
<!--    Recotizar</button>-->

<!--  <p><span>CP: </span> {{solicitud.cp}} </p>-->
<!--  <p><span>CLAVE: </span> {{solicitud.clave}} </p>-->
<!--  <p><span>MARCA: </span> {{solicitud.marca}} </p>-->

<!--  <p><span>MODELO: </span> {{solicitud.modelo}} </p>-->
<!--  <p><span>PAQUETE: </span> {{solicitud.paquete}} </p>-->
<!--  <p><span>SERVICIO: </span> {{solicitud.servicio}} </p>-->

<!--  <p><span>DESCUENTO: </span> {{solicitud.descuento}} </p>-->
<!--  <p><span>MOVIMIENTO: </span> {{solicitud.movimiento}} </p>-->
<!--  <p><span>ASEGURADORA: </span> {{solicitud.aseguradora}} </p>-->
<!--  <p><span>DESCRIPCIÓN: </span> {{solicitud.descripcion}} </p>-->

<!--</div>-->
<button mat-button (click)="abrirCotizador()"
        [disabled]="!prospectoCreateForm.valid || !idProspectoExis"> Crear Producto
</button>
<button mat-button
        (click)="guardarProspecto()"
        [disabled]="!prospectoCreateForm.valid">{{idProspectoExis ? 'Actualizar' : 'Guardar'}} Prospecto
</button>

