<mat-card>
  <div class="generalWrapper">
    <div class="header">
      <div class="stepTitle">Datos del vehículo</div>
    </div>
    <div class="advice"><p>todos los datos marcados con  <b>*</b>  son requeridos</p></div>
    <form [formGroup]="formDatos" class="firstRow">
      <mat-form-field appearance="outline">
        <mat-label>Descripción del Vehículo</mat-label>
        <input type="text" matInput disabled value="{{datos.marca}} {{datos.modelo}} {{datos.descripcion}}" readonly class="infoInput">
      </mat-form-field>
    </form>
    <form [formGroup]="formCheck">
      <mat-checkbox formControlName="tienePlacas" (click)="disbledForms()">Cuenta con Placas</mat-checkbox>
    </form>
    <form [formGroup]="formDatos" class="formWrapper">
      <!-- PLACAS -->
      <div class="placas">
        <mat-form-field appearance="outline" class="mitadRow">
          <mat-label>Placas</mat-label>
          <input matInput type="text" formControlName="numeroPlacas" id="numeroPlacas" onpaste="return true"
                 oncopy="return false" oninput="this.value = this.value.toUpperCase()" maxlength="10"
                 minlength="3" onDrop="return false" autocomplete="off"/>
          <mat-error *ngIf="!formDatos.controls['numeroPlacas'].valid && formDatos.controls['numeroPlacas'].dirty">
            Se requiere llenar el campo
          </mat-error>
        </mat-form-field>
        <button  mat-button (click)="repuveNIV()" *ngIf="formCheck.controls.tienePlacas.value" class="modButton">
          VALIDAR PLACA
        </button>
      </div>
      <!-- NÚMERO DE SERIE -->
      <mat-form-field appearance="outline" class="mitadRow">
        <mat-label>Número de Serie *</mat-label>
        <input
          matInput type="text"
          formControlName="numeroSerie"
          id="numeroSerie"
          onpaste="return true"
          oncopy="return false"
          oninput="this.value = this.value.toUpperCase()"
          maxlength="17"
          onDrop="return false"
          autocomplete="off"
          [disabled]="!formDatos.controls['numeroPlacas']"
        />
        <mat-error *ngIf="formDatos.controls['numeroSerie'].hasError('minlength'); else numSerieExistente">
          Se requieren al menos 8 carácteres alfanuméricos
        </mat-error>
        <ng-template #numSerieExistente>
          <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value !== '' ">
            Se requiere un número de serie <strong>inexistente</strong>
          </mat-error>
          <mat-hint
            *ngIf="formDatos.controls['numeroSerie'].hasError('pattern')">
            No se aceptan las letras <strong>"I", "O"</strong>
          </mat-hint>
          <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value === '' ">
            Se requiere llenar este campo
          </mat-error>
        </ng-template>
      </mat-form-field>


      <!-- NÚMERO DE MOTOR -->
      <mat-form-field appearance="outline" class="mitadRow">
        <mat-label>Número de Motor</mat-label>
        <input
          matInput
          type="text"
          formControlName="numeroMotor"
          id="numeroMotor"
          maxlength="41"
          onpaste="return true"
          oncopy="return false"
          oninput="this.value = this.value.toUpperCase()"
          onDrop="return false"
          autocomplete="off"
        />
        <mat-hint *ngIf="!formDatos.controls['numeroMotor'].valid&&formDatos.controls['numeroMotor'].dirty">
          Se requiere llenar el campo
        </mat-hint>
      </mat-form-field>
<!--      <mat-form-field appearance="outline" *ngIf="nombreAseguradora==='QUALITAS'">-->
<!--        <mat-label>Inicio de vigencia de la Póliza</mat-label>-->
<!--        <input-->
<!--          readonly matInput-->
<!--          [matDatepicker]="picker1"-->
<!--          placeholder="FECHA DE INICIO *"-->
<!--          onpaste="return true"-->
<!--          oncopy="return false"-->
<!--          [max]="maxInicio"-->
<!--          [min]="minInicio"-->
<!--          formControlName="inicioVigencia"-->
<!--        />-->
<!--        <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker1></mat-datepicker>-->
<!--        <mat-hint *ngIf="!formDatos.controls['inicioVigencia'].valid&&formDatos.controls['inicioVigencia'].dirty">-->
<!--          Se requiere llenar el campo-->
<!--        </mat-hint>-->
<!--      </mat-form-field>-->
      <!-- <div class="slideWrapper mitadRow">
        <mat-slide-toggle (change)="actualizarValidador()" formControlName="recotizar">
          ¿Cambiar datos del vehículo?
        </mat-slide-toggle>
      </div> -->
    </form>
    <div *ngIf="formDatos.controls['recotizar'].value || datosCotizacion === null" class="changeInfoSection">
      <div class="row box-content content-form">

        <div class="col-3">
          <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select [(value)]="marca" (selectionChange)="getModelos()" formControlName="marca">
              <mat-option *ngFor="let m of marcas" [value]="m.text">
                {{m.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Modelos</mat-label>
            <mat-select [(value)]="modelo" (selectionChange)="getSubmarca()" formControlName="modelo">
              <mat-option *ngFor="let mo of modelos" [value]="mo.text">
                {{mo.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label> Submarca</mat-label>
            <mat-select [(value)]="submarca" (selectionChange)="getDescripcion()" formControlName="submarca">
              <mat-option *ngFor="let sub of submarcas" [value]="sub.text">
                {{sub.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field>
            <mat-label> Descripcion</mat-label>
            <mat-select [(value)]="descripcion" formControlName="descripcion">
              <mat-option *ngFor="let d of descripciones" [value]="d.text">
                {{d.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonsRow">
    <button
      mat-button
      *ngIf="idProductoCliente !== 0 "
      [hidden]="!datosCotizacion"
      [disabled]="formDatos.invalid"
      (click)="crearProducto(false)"
      class="modButton"
    >
      Actualizar Producto
    </button>

    <button
      mat-button
      *ngIf="idProductoCliente === 0"
      [disabled]="formDatos.invalid"
      (click)="crearProducto(true)"
      class="nextButton"
    >
      guardar
    </button>

  </div>
</mat-card>


