<mat-card-title class="titulo" xmlns="http://www.w3.org/1999/html">
  <p class="center">CREAR CONFIGURACION</p>
</mat-card-title>
<form [formGroup]="configuracion">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>TITULO</mat-label>
      <input matInput placeholder="TITULO CONFIGURACION" formControlName="descripcion">
    </mat-form-field>
  </div>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>DEPARTAMENTO</mat-label>
    <input type="text"
           placeholder="VN"
           aria-label="VN"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto" (change)="valores(auto)">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.descripcion" (click)="valores(option)">
        {{option.descripcion}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button  mat-raised-button class="button-modal" (click)="cerrar()">CANCELAR</button>
  <button  mat-raised-button class="button-modal centradoDerecha" [disabled]="configuracion.invalid" (click)="registrar()" *ngIf="data == 'crear'">CREAR</button>
</mat-dialog-actions>
