

<div style="width: 100%">
  <header>
    <div class="titleWrapper"><p>DATOS SOLICITUDES</p></div>
    <button mat-button   (click)="dismiss()" class="closeButton" >
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="loaderBar" *ngIf="solicitud === undefined && prospecto === undefined">
  <p style="text-align: center;" class="parpadea text">Cargando datos...</p>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<mat-card-content *ngIf="solicitud && prospecto">
  <div class="detalle-cliente">
    <div class="title">
      <span>DETALLE CLIENTE</span>
    </div>
    <div class="tabla">
      <table>
        <thead>
        <tr>
          <th>NOMBRE</th>
          <th>GENERO</th>
          <th>EDAD</th>
          <th>EMAIL</th>
          <th>NÚMERO CELULAR</th>
          <th>CP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{prospecto.nombre}}</td>
          <td>{{prospecto.sexo}}</td>
          <td>{{prospecto.edad}}</td>
          <td>{{prospecto.correo}}</td>
          <td>{{prospecto.numero}}</td>
          <td>{{solicitud.codigoPostal? solicitud.codigoPostal:solicitud.cp?solicitud.cp:'SIN DATO'}}</td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>

  <div class="detalle-cliente2">
    <div class="title">
      <span>DETALLE DE SOLICITUD</span>
    </div>
    <div class="tabla">
      <table>
        <thead>
        <tr>
          <th>ASEGURADORA</th>
          <th>MARCA</th>
          <th>MODELO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> {{solicitud.aseguradora ? solicitud.aseguradora : datosEmision.aseguradora}}</td>
          <td>{{solicitud.marca}}</td>
          <td>{{solicitud.modelo}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th>DESCRIPCIÓN</th>
          <th>SUBDESCRIPCIÓN</th>
          <th>DETALLE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{solicitud.descripcion}}</td>
          <td>{{solicitud.subDescripcion}}</td>
          <td>{{solicitud.detalle}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <mat-accordion *ngIf="!datosEmision.nuevoJson && mostrar">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>DETALLE DE COTIZACION</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="detalle-cliente3">
        <div style="display: flex; justify-content: center; flex-wrap: nowrap;">
          <div class="detalle-emision-content">
            <table class="detalles">
              <tr>
                <th>ID COTIZACIÓN:</th>
                <td>{{respuesta.Cotizacion.IDCotizacion}}</td>
              </tr>
              <tr>
                <th>USO:</th>
                <td>{{respuesta.Vehiculo.Uso}}</td>
              </tr>
              <tr>
                <th>MARCA:</th>
                <td>{{respuesta.Vehiculo.Marca}}</td>
              </tr>
              <tr>
                <th>MODELO:</th>
                <td>{{respuesta.Vehiculo.Modelo}}</td>
              </tr>
            </table>
          </div>
          <div class="detalle-emision-content">
            <table class="detalles" >
              <tr>
                <th>DESCRIPCION:</th>
                <td>{{respuesta.Vehiculo.Descripcion}}</td>
              </tr>
              <tr>
                <th>SERVICIO:</th>
                <td>{{respuesta.Vehiculo.Servicio}}</td>
              </tr>
              <tr>
                <th>CLAVE:</th>
                <td>{{respuesta.Vehiculo.Clave}}</td>
              </tr>
              <tr>
                <th>PAQUETE:</th>
                <td>{{respuesta.Paquete}}</td>
              </tr>
            </table>
          </div>
          <div class="detalle-emision-content">
            <table class="detalles">
              <tr>
                <th>PRIMA TOTAL:</th>
                <td>{{respuesta.Cotizacion.PrimaTotal}}</td>
              </tr>
              <tr>
                <th>PRIMA NETA:</th>
                <td>{{respuesta.Cotizacion.PrimaNeta}}</td>
              </tr>
              <tr>
                <th>DERECHOS:</th>
                <td>{{respuesta.Cotizacion.Derechos}}</td>
              </tr>
              <tr>
                <th>IMPUESTOS:</th>
                <td>{{respuesta.Cotizacion.Impuestos}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf="datosEmision.nuevoJson && mostrar">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>DETALLE DE COTIZACIÓN</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="detalle-cliente3">
        <div style="display: flex; justify-content: center; flex-wrap: nowrap;">
          <div class="detalle-emision-content">
            <table class="detalles">
              <tr>
                <th>ID COTIZACIÓN:</th>
                <td>{{respuesta.cotizacion.idCotizacion}}</td>
              </tr>
              <tr>
                <th>USO:</th>
                <td>{{respuesta.vehiculo.uso}}</td>
              </tr>
              <tr>
                <th>MARCA:</th>
                <td>{{respuesta.vehiculo.marca}}</td>
              </tr>
              <tr>
                <th>MODELO:</th>
                <td>{{respuesta.vehiculo.modelo}}</td>
              </tr>
            </table>
          </div>
          <div class="detalle-emision-content">
            <table class="detalles" >
              <tr>
                <th>DESCRIPCIÓN:</th>
                <td>{{respuesta.vehiculo.descripcion}}</td>
              </tr>
              <tr>
                <th>SERVICIO:</th>
                <td>{{respuesta.vehiculo.servicio}}</td>
              </tr>
              <tr>
                <th>CLAVE:</th>
                <td>{{respuesta.vehiculo.clave}}</td>
              </tr>
              <tr>
                <th>PAQUETE:</th>
                <td>{{respuesta.paquete}}</td>
              </tr>
            </table>
          </div>
          <div class="detalle-emision-content">
            <table class="detalles" >
              <tr>
                <th>PRIMA TOTAL:</th>
                <td>{{respuesta.cotizacion.primaTotal}}</td>
              </tr>
              <tr>
                <th>PRIMA NETA:</th>
                <td>{{respuesta.cotizacion.primaNeta}}</td>
              </tr>
              <tr>
                <th>DERECHOS:</th>
                <td>{{respuesta.cotizacion.derechos}}</td>
              </tr>
              <tr>
                <th>IMPUESTOS:</th>
                <td>{{respuesta.cotizacion.impuestos}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card-content>
</div>

