.head-detalles {
  background-color: #354089;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0 0 0;
  -webkit-border-bottom-left-radius: 25%;
  -webkit-border-bottom-right-radius: 25%;
  margin-bottom: 10px;
}
.head-detalles p {
  color: #FFFFFF;
}

span {
  color: #354089;
  font-weight: bold;
}

.container-global {
  width: 1000px;
  height: 450px;
  padding: 0 0 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 2%;
}

.detalle-cliente, .detalle-cliente2{
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.detalle-cliente2{
  margin-bottom: 20px;
}
.title{margin: 10px; display: flex; justify-content: center; font-size: 1.2em}
table, th, td {  border: 1px solid #3d4ec540; border-collapse: collapse;}
th{ font-weight: 500 !important;}
thead{color: #383838; background: #3d4ec540}
.tabla{text-align: center; margin: 15px}
.tabla tbody{color: #36419deb}


#verTarjeta{
  position: inherit;
  color: #ef5350;
}

.datosTarjeta{
  color: #ef5350;
}
.detalle-cliente3 {
  background-color: #FFF;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
}

.detalle-cliente-content {
  background-color: #fff;
  width: 320px;
  height: 70px;
  margin: 10px 10px 0 0;
  text-align: left;
}

.detalle-solicitud-content {
  background-color: #fff;
  width: 320px;
  height: 120px;
  margin: 10px 10px 0 0;
  text-align: left;
}

.detalle-emision-content {
  background-color: #fff;
  width: 330px;
  height: 120px;
  margin: 10px 10px 0 0;
  text-align: left;
  justify-content: center;
  display: flex;
}
.detalle-emision-content table, th, td { width: auto; border:none; border-collapse: collapse;}
.detalles td{color: #36419deb}
.loaderBar .mat-progress-spinner{margin: 0 auto 0}

.text {
  font-size:1.3rem;
  font-family:helvetica;
  font-weight:bold;
  color: #333bd9;
  text-align: center;
}

.text2 {
  font-size:1.2rem;
  font-family:helvetica;
  font-weight:bold;
  color: #333bd9;
  text-align: center;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 96%;
  margin: 0 0 0 20px;
}
//header modal
header {
  width: 100%;
  height: 40px;
  background-color: #273ABE;
  display: inline-flex;
  opacity: 0.9;

  .titleWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

    p {
      font-size: 22px;
      color: white;
      margin: 0;
    }
  }

  .closeButton {
    width: min-content;
    height: 100%;
    background-color: #FF156B !important;
    border-radius: 0;
    border: 0;

    mat-icon {
      color: white;
      font-weight: 100;
      font-size: 24px;
    }
  }

  .closeButton:focus {
    outline: 0 !important;
    border: 0 !important;
  }
}

