<mat-card-header>
  <mat-card-title>
    <div fxLayout='column' >
      <div fxLayout='row' fxLayoutAlign='center'>
        <mat-icon color="accent" (click)="getProspecto()" matTooltip="Mostrar información" > person</mat-icon>
        <div fxFlex='80' fxLayoutAlign='center center'>
          CLIENTE
        </div>
        <mat-icon color="accent"  (click)="limpiarFormulario()" *ngIf="!idCliente" matTooltip="Limpiar formulario">delete</mat-icon>
      </div>
      <div fxLayout='row' fxLayoutAlign='center center'>
        <div >
          <a style="text-align: center; color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco (<b
            style="color: red;">*</b>) son requeridos</a>
        </div>
      </div>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <nav mat-tab-nav-bar>
    <a mat-tab-link [active]="clienteForm.controls.razonSocial.value === 1" [disabled]="idCliente !== 0"
       (click)="actualizarFormulario(1)">
      Físico
    </a>
    <a mat-tab-link [active]="clienteForm.controls.razonSocial.value === 2" [disabled]="idCliente !== 0"
       (click)="actualizarFormulario(2)">
      Moral
    </a>
  </nav>

  <form [formGroup]="clienteForm">
    <div fxLayout='row' fxLayoutAlign='space-between'>
      <div fxFlex='30'>
        <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
          <input matInput type="text" formControlName="curp" placeholder="CURP *" oninput="this.value = this.value.toUpperCase()"
                 autocomplete="off" minlength="18" maxlength="18" (keyup)="validarCurp()"/>
          <mat-error *ngIf="clienteForm.controls.curp.hasError('required')">
            Se requiere llenar el campo
          </mat-error>
          <mat-error *ngIf="clienteForm.controls.curp.hasError('pattern')">
            Es un CURP inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="rfc" placeholder="RFC *" oninput="this.value = this.value.toUpperCase()"
                 autocomplete="off" minlength="9" maxlength="13" (keyup)="validarRFC()"/>
          <mat-error *ngIf="clienteForm.controls.rfc.hasError('required')">
            Se requiere llenar el campo
          </mat-error>
          <mat-error *ngIf="rfcColor === false">
            Campo erroneo favor de revisar
          </mat-error>
          <mat-error *ngIf="clienteForm.controls.rfc.hasError('pattern')">
            Es un RFC inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
          <input matInput type="text" formControlName="paterno" placeholder="APELLIDO PATERNO *"
                 oninput="this.value = this.value.toUpperCase()" autocomplete="off"/>
          <mat-error *ngIf="clienteForm.controls.paterno.hasError('required')">
            Se requiere llenar el campo
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
          <input matInput type="text" formControlName="materno" placeholder="APELLIDO MATERNO *" oninput="this.value = this.value.toUpperCase()"
                 maxlength="40"  autocomplete="off"/>
          <mat-error *ngIf="clienteForm.controls.materno.hasError('required')">
            ¡El apellido materno es requerido!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="nombre" placeholder="NOMBRE *" oninput="this.value = this.value.toUpperCase()"
                 autocomplete="off"/>
          <mat-error *ngIf="clienteForm.controls.nombre.hasError('required')">
            ¡El nombre es requerido!
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
          <input readonly matInput [matDatepicker]="picker1" placeholder="FECHA DE NACIMIENTO *"
                   [max]="fechaNacimientoMaxima"
                 formControlName="fechaNacimiento"/>
          <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="clienteForm.controls['fechaNacimiento'].hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <!--          Para mantener el orden-->
        <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 2">
          <mat-label>PAÍS DE ORIGEN *</mat-label>
          <mat-select formControlName="idPais">
            <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id">
              {{pais.nombre}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="!clienteForm.controls.idPais.valid && clienteForm.controls.idPais.dirty">
            Se requiere llenar el campo
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 2" >
          <input matInput type="text" formControlName="cp" placeholder="CP" oninput="this.value = this.value.toUpperCase()"
                 maxlength="5" id="cp" (keyup)="getColonias()"
                  autocomplete="off"/>
          <mat-error *ngIf="clienteForm.controls.cp.hasError('required')">
            Se requiere llenar el campo
          </mat-error>
          <mat-error *ngIf="cpColor === false">
            Campo erroneo favor de revisar
          </mat-error>
          <mat-error *ngIf="clienteForm.controls.cp.hasError('pattern')">
            Este campo solo acepta números
          </mat-error>
        </mat-form-field>

        <!--          Fin del orden-->

      </div>

      <!--*************************************************COLUMNA DOS****************************************************************************-->
      <div fxFlex='30'>
        <div >

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
            <mat-label>SELECCIONE EL GÉNERO *</mat-label>
            <mat-select formControlName="genero">
              <mat-option *ngFor="let genero of genders" [value]="genero.value">
                {{genero.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="clienteForm.controls['genero'].hasError('required')">
              Este campo es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
            <mat-label>PAÍS DE ORIGEN *</mat-label>
            <mat-select formControlName="idPais">
              <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id">
                {{pais.nombre}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="!clienteForm.controls.idPais.valid && clienteForm.controls.idPais.dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
            <input matInput type="text" formControlName="cp" placeholder="CP" oninput="this.value = this.value.toUpperCase()"
                   maxlength="5" id="cp" (keyup)="getColonias()" autocomplete="off"/>
            <mat-error *ngIf="clienteForm.controls.cp.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
            <mat-error *ngIf="clienteForm.controls.cp.hasError('pattern')">
              Este campo solo acepta números
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>COLONIA *</mat-label>
            <mat-select formControlName="idColonia">
              <mat-option *ngFor="let colonia of colonias" [value]="colonia.idCp" id="idColoniaF">
                {{colonia.asenta}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!colonias">
              Introduce un código postal válido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="calle" placeholder="CALLE *" oninput="this.value = this.value.toUpperCase()"
                   maxlength="40"autocomplete="off"/>
            <mat-error *ngIf="clienteForm.controls.calle.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
            <mat-error *ngIf="calleColor === false">
              Campo erroneo favor de revisar
            </mat-error>
          </mat-form-field>

                   <!-- Para mantener orden-->
          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 2">
            <input matInput type="text" formControlName="numExt" placeholder="NÚMERO EXTERIOR *" oninput="this.value = this.value.toUpperCase()"
                   maxlength="40" autocomplete="off"/>
            <mat-error *ngIf="clienteForm.controls.numExt.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 2">
            <input matInput type="text" formControlName="numInt" placeholder="NÚMERO INTERIOR"
                   oninput="this.value = this.value.toUpperCase()" maxlength="40" autocomplete="off"/>
          </mat-form-field>
          <mat-error *ngIf="numIntColor === false">
            Campo erroneo favor de revisar
          </mat-error>
          <!--          Final del orden-->
        </div>
      </div>
      <!--*************************************************COLUMNA TRES****************************************************************************-->
      <div fxFlex='30'>
        <div >

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
            <input matInput type="text" formControlName="numExt" placeholder="NÚMERO EXTERIOR *" oninput="this.value = this.value.toUpperCase()"
                   maxlength="40"  autocomplete="off"/>
            <mat-error *ngIf="clienteForm.controls.numExt.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
            <mat-error *ngIf="numExtColor === false">
              Campo erroneo favor de revisar
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1">
            <input matInput type="text" formControlName="numInt" placeholder="NÚMERO INTERIOR"
                   oninput="this.value = this.value.toUpperCase()" maxlength="40" autocomplete="off"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="telefonoMovil"  placeholder="TELÉFONO MOVIL *" oninput="this.value = this.value.toUpperCase()"
                   maxlength="13" autocomplete="off" minlength="10"/>
            <mat-error *ngIf="clienteForm.controls.telefonoMovil.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
            <mat-error *ngIf="clienteForm.controls.telefonoMovil.hasError('pattern')">
              ¡Este campo necesita al menos 10 números!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="telefonoFijo" placeholder="TELÉFONO FIJO" oninput="this.value = this.value.toUpperCase()" maxlength="10"
                   autocomplete="off"/>
            <mat-error *ngIf="clienteForm.controls.telefonoFijo.hasError('pattern')">
              ¡Este campo necesita al menos 10 números!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="correo" placeholder="CORREO *" oninput="this.value = this.value.toUpperCase()"
                   maxlength="100" autocomplete="off"/>
            <mat-error *ngIf="clienteForm.controls.correo.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
            <mat-error *ngIf="clienteForm.controls.correo.hasError('email')">
              ¡Introduce un correo válido!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

</mat-card-content>


<mat-card-actions fxLayoutAlign="end"
                  fxLayoutGap="15px">

  <button *ngIf="idCliente && !idProductoCliente" [disabled]="clienteForm.invalid" (click)="datosProducto()" mat-raised-button>
    Registrar producto
  </button>
  <button [disabled]="clienteForm.invalid" mat-raised-button (click)="actualizarEmision()">
    {{idCliente ? 'Actualizar' : 'Crear'}} cliente
  </button>
</mat-card-actions>
