mat-card {
  width: 100%;
  padding-bottom: 10%;
}

mat-label {
  color: #354089!important;
  font-size: 15px!important;
}

.mat-tab-header {
  margin-bottom: 4% !important;
}

.form-control:focus {
  border: none;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

input {
  color: black;
}

.mat-card-header {
  text-align: center;
  display: block;
}

.mat-hint {
  transition: all 0.5s;
}

mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

errorClass {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: red!important;
    // opacity: 1!important;
  }
}

.succesClass {
  background-color: green !important;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: 0.5s;
  padding-left: 15px;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}

.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  top: 15px;
}
.relativeLoad {

}

mat-card-actions {
  display: inline-flex;
  text-align: right;
  padding-left: 10px;
}

.mat-card > .mat-card-actions:last-child {
  float: right;
  background-color: transparent;
  box-shadow: none;
  padding-top: 10px;
}

.mat-card-actions .mat-raised-button:first-child {
  margin-right: 8px;
}

@media (max-width: 425px) {
  .btns { width: 98px; height: 30px; font-size: .6rem; font-weight: normal; padding-left: 5px; margin-right: 4px; }
  .mat-card > .mat-card-actions:last-child { float: none; padding-top: 0px; }
}
.relativeLoad {
  position: relative;
}

/*.container{
  margin-top: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aseguradora{
  width: 35%;
}

.subir_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.btn{
  width: 150px;
}*/
