.mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0;
  height: calc(100vh - 160px);
  max-height: 524px;
  width: 100%;
  border-radius: 4px;

  .header{
    width: 92%;
    height: 45px;
    border-bottom: #80808030 solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 44px);
    width: 92%;

    .generalWrapper{
      margin-top: 14px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 500px;
      padding-bottom: 5px;

      form{
        .warningCard{
          color: #FF156B;
          font-size: 600;
        }

        .typeCard{
          display: flex;
          flex-wrap: wrap;
          mat-form-field{
            margin-right: 24px;
            width: 172px;
          }
        }
      }
    }
  }
}

.stepTitle{
  text-align: start;
  font-size: 26px;
  color: #354089;
}

.mat-card-title{
  display: block;
  margin-bottom: 16px;
  text-align: left;
  width: 92%;
}

.archivo {
  background-color: #4caf50;
  color: #fff;
}

.tarjeta {
  box-shadow: 0px 2px 4px #000000a7;
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.debito {
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

.credito {
  background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}

.tarjeta-creditoA input, .tarjeta-creditoB input,
.tarjeta-debito input {
  color: #fff;
  font-weight: 400 !important;
}

button {
  color: #fff;
}

input {
  padding: 3px 0 !important;
}

mat-icon {
  margin-right: 5px;
  color: #fff;
}
.colortarjeta{
  color: #fff;
  font-size: 15px;
  font-weight: 200;
}
numTarjeta{
  letter-spacing: 3px;
}
.mat-focused .colortarjeta {
  color: #fff;
  opacity: 0.75;
}
.placeholder {
  font-weight: 500;
  font-size:16px;
  text-align: center;
  opacity: 0.8;
  color: white !important;
  background: transparent !important;
}

.mat-focused .placeholder {
  color: #fff;
  opacity: 0.75;
}

.switch {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

mat-card-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px !important;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

.emitWrapper{
  text-align: center;
  border: dashed 1px red;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 10px;
  p{
    margin: 0;
  }
}
.text-error {color: red; font-weight: bolder; font-size: x-large;}
.text-msj{font-weight: 700}
.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}

.buttonsRow{
  margin-top: 10px;
  width: 100%;
  display: inline-grid;
  grid-auto-flow: column;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.nextButton:not(:disabled):hover{
  background-color: rgba(39, 58, 190, 0.5) !important;
}

.emitButton{
  background-color: #273ABE !important;
}

.emitButton:hover{
  background-color: #273abe80 !important;
}
// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  position: relative;
}

.rowDate{
  display: grid;
  grid-template-columns: [coli] 45% [col1] 55% [colf];
  grid-template-rows:    [rowi] auto [row1] 59px [rowf];

  p{
    grid-area: rowi / col1 / row1 / colf;
    margin: 0;
    color: white;
    font-size: 14px;
  }

  .formCVV{
    grid-area: row1 / coli / rowf / col1;
    width: 80%;
  }

  .formsDate{
    grid-area: row1 / col1 / rowf / colf;
    display: flex;
    width: 100%;
    justify-content: space-between;

    mat-form-field{
      width: 45%;
    }
  }
}

@media only screen and (max-width: 1920px){
  .nextButton{
    height: 40px;
    font-size: 20px;
    width: 240px;
  }

}

@media only screen and (max-width: 1024px){
  .generalWrapper{
    margin-top: 0;
  }
  .header{
    height: 38px;
  }
  .stepTitle{
    font-size: 24px;
  }
  .nextButton{
    height: 36px;
    font-size: 16px;
    width: 220px;
  }
  .tarjeta{
    font-size: 12px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px){
  .payForm, .tarjeta{
    font-size: 12px;
  }
  .header{
    height: 30px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .cardContent{
    height: fit-content;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 140px;
  }
}

