
<form >
  <h1>Motivos de rechazo</h1>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ingresa tus motivos de rechazo</mat-label>
    <textarea [formControl]="motivos" matInput placeholder="motivos..."></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
    <button fxFlex="40" mat-raised-button (click)="dismiss()">Cerrar</button>
    <button fxFlex="40" mat-raised-button
            [disabled]="motivos.invalid"
            (click)="rechazar()">Rechazar</button>
  </div>
</form>

