<mat-card *ngIf="permisos?.VN?.llamadas">

  <div fxLayoutAlign="end">
    <!--    <div class="lds-ring" ><div></div><div></div><div></div><div></div></div>-->
    <button mat-icon-button>
      <mat-icon (click)="getFechas()">refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    Llamadas recibidas
  </mat-card-title>

  <!--      INPUTS DE FECHAS-->
  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button fxFlex="60" (click)="getFechas()">DESPLEGAR FECHAS</button>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > ID</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{element.id}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaRegistro | date: 'dd/MM/yyy hh:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="ejecutivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EJECUTIVO/A</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="tipificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> tipo llamada</th>
          <td mat-cell *matCellDef="let element">
            {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> numero</th>
          <td mat-cell *matCellDef="let element">
            {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                *ngIf="puedeLlamar && (extension.length > 0 && extension !== 'null')"
                (click)="llamar(element.numero)">
                call
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <mat-spinner *ngIf="!dataSource.data.length"></mat-spinner>
  </mat-card-content>
</mat-card>
