.tableWrapper{
  overflow: auto;
  width: 100%;
  table {
    width: 800px;
  }
}

.mat-menu-content {
  width: 345px !important;
  overflow-x: hidden;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.flex-container {
  display: flex;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  width: 40%;
  color: #111218;
}
.mat-input-element {
  color: #111218;
}
.mat-header-cell {
  background-color: #354089;
  color: white;
  text-align: center;
}
.mat-cell {
  padding: 0 7px;
  text-align: center;
}
.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
button:focus {
  outline: none;
}
.mat-icon-disabled {
  color: #ccc!important;
  cursor: not-allowed;
}
// Estilos para resaltar las columnas
.warning {
  background: #ffdbe2;
}
.greeat {
  background: #d7ffcf;
}
.yellow {
  background: #fed758;
}
.fechas-label {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

@media only screen and(max-width: 1024px) {
  .buttonsContainer {
    margin-left: 5px;
  }
}
