<mat-card *ngIf="permisos?.VN?.adminPolizas">
  <div fxLayoutAlign="end" >
  <button mat-icon-button (click)="getFechas(true)">
    <mat-icon>refresh</mat-icon>
  </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    ADMINISTRACIÓN DE PÓLIZAS
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled [(ngModel)]="rangeDates[0]" [value]="rangeDates[0]" [max]="max" matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled [(ngModel)]="rangeDates[1]" [value]="rangeDates[1]" matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button *ngIf="permisos?.VN?.adminPolizas?.fechas"  mat-raised-button fxFlex="50" (click)="getFechas(true)">DESPLEGAR FECHAS</button>
    </div>
  </div>
  <mat-card-content>
    <div class="tableWrapper">

      <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource || errorSpin; else spin" class="example-container mat-elevation-z8 ">
        <ng-container matColumnDef="detalle" sticky>
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon *ngIf="permisos?.VN?.adminPolizas?.detalles"  (click)="detallesPoliza(element.id)" id="verDetalles"
                      matTooltip="Ver detalles" mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="poliza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PÓLIZA</th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}}
          </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEmpleado}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SOCIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreComercial}}</td>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTAMENTO</th>
          <td mat-cell *matCellDef="let element">
            {{element.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="estadoPoliza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO POLIZA</th>
          <td mat-cell *matCellDef="let element">
            {{element.estadoPoliza}}</td>
        </ng-container>
        <ng-container matColumnDef="estadoRecibo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO RECIBO</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'warning': element.estadoRecibo === 'SIN APLICAR', 'greeat' : element.estadoRecibo === 'APLICADO'}">
            {{element.estadoRecibo}}</td>
        </ng-container>
        <ng-container matColumnDef="estadoPago">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO PAGO</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'yellow': element.estadoPago === 'EMITIDO', 'greeat' : element.estadoPago === 'COBRADO', 'warning' : element.estadoPago === 'SIN PAGO'}">
            {{element.estadoPago}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="telefonoMovil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TELÉFONO</th>
          <td mat-cell *matCellDef="let element">
            {{element.telefonoMovil}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA INICIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaInicio | date: "dd/MM/yyyy" | uppercase }} </td>
        </ng-container>

        <ng-container matColumnDef="numeroSerie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NÚMERO DE SERIE</th>
          <td mat-cell *matCellDef="let element">
            {{element.numeroSerie}} </td>
        </ng-container>

        <ng-container matColumnDef="acceso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ACCESO</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'warning': element.acceso === 'USUARIO NO ASIGNADO', 'greeat' : element.acceso === 'ACCEDIO', 'yellow' : element.acceso === 'SIN ACCESO'}">
            {{element.acceso}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones" stickyEnd>
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span>ACCIONES</span></th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <button mat-icon-button
                      [matMenuTriggerFor]="menu"
                      (click)="getNumeros(element.id, element.telefonoMovil)"
                      [disabled]="puedeLlamar">
                <mat-icon [style.color]="puedeLlamar ? 'silver' : null">call</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <mat-spinner *ngIf="cargando"></mat-spinner>
                <div *ngFor="let numero of numeros">
                  <button mat-menu-item (click)="llamar(element.idSolicitud, numero)">
                    <mat-icon>call</mat-icon>
                    <span>{{numero}}</span>
                  </button>
                </div>
              </mat-menu>

              <div *ngIf="element.cierre === 1">POLIZA CERRADA</div>
              <mat-icon *ngIf="permisos?.VN?.adminPolizas?.solicitarEndoso" matTooltip="Solicitar endoso"  mat-raised-button
                        (click)="crearEndoso(element.id)">assignment
              </mat-icon>
              <mat-icon *ngIf="permisos?.VN?.adminPolizas?.documentos" matTooltip="Mostrar Documentos" mat-raised-button
                        (click)="mostrarPoliza(element.id)">search
              </mat-icon>
              <mat-icon matTooltip="Recibos" *ngIf="element.cierre === 0 && permisos?.VN?.adminPolizas?.recibos"  mat-raised-button
                        (click)="recibos(element.id, element.idRecibo, element.idSolicitud)">description
              </mat-icon>
              <span *ngIf="!element.carpetaCliente && permisos?.VN?.adminPolizas?.subirArchivo">
                <mat-icon matTooltip="Subir archivo" mat-icon-button aria-label=""
                          (click)="subirArchivo(element.id)">
                  cloud_upload
                </mat-icon>
              </span>
              <mat-icon matTooltip="Generar Inspección"  mat-raised-button *ngIf="!element.emitida && permisos?.VN?.adminPolizas?.inspeccion"
                        (click)="generarInspeccion(element.id, element.idCliente)">linked_camera
              </mat-icon>
<!--              <mat-icon matTooltip="Modificar recibos" mat-raised-button *ngIf="element.idEstadoRecibos === 1 && permisos?.VN?.adminPolizas?.modificarRecibos"-->
<!--                        (click)="bajaRecibos(element)">money_off-->
<!--              </mat-icon>-->

<!--              <mat-icon *ngIf="permisos?.VN?.adminPolizas?.historialLlamadas" matTooltip="Historial de llamadas"  (click)="historicoLlamadas(element.id)">-->
<!--                history-->
<!--              </mat-icon>-->
              <mat-icon *ngIf="element.idPago" matTooltip="Reenviar app/WebApp" (click)="enviarEmail(element.id)">
                mail_outline
              </mat-icon>
              <mat-icon matTooltip="Copiar Link de Pago" *ngIf="element.url" (click)="copiarLink(element.url)">
                content_copy
              </mat-icon>
              <button *ngIf="permisos?.VN?.adminPolizas?.numero" mat-icon-button
                      matTooltip="Agregar Número"
                      (click)="agregarNumero(element.id, element.poliza)">
                <mat-icon>person_add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'warning': !row.idPago || row.idEstadoPago === 2, 'greeat' : row.idPago}"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>





