

<div fxLayout="row" fxLayoutAlign="end" style="margin-top: 13px;">
  <button mat-icon-button
          color="primary"
          style="position: relative; left: 10px;"
          matTooltip="Cerrar"

          (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <mat-card-title >GACETAS DEL MES</mat-card-title>
</div>


<mat-spinner *ngIf="!labels && !noHayGacetas; else navs"></mat-spinner>

<ng-template #navs>
  <h2 *ngIf="noHayGacetas">No hay gacetas por el momento</h2>
  <span *ngIf="!noHayGacetas">
    <mat-tab-group (selectedTabChange)="getImagenes($event)">
    <mat-tab *ngFor="let label of labels" label="{{label.descripcion}}"></mat-tab>
  </mat-tab-group>

  <mat-spinner *ngIf="!imagenes; else cuerpoModal"></mat-spinner>
  </span>
</ng-template>

<ng-template #cuerpoModal >

  <div fxLayout="column" fxLayoutAlign="space-between">
    <mat-card-content style="text-align: center; margin: 2%;">
      <img [src]="'https://drive.google.com/uc?export=view&id=' + imagenes[contador].archivo" width="90%"
           (click)="redireccionar()"/>
      <p *ngIf="imagenes[contador].link" class="link"> Esta imagen tiene un link, da click sobre la imagen para abrirlo</p>
    </mat-card-content>

    <div fxLayout="row" fxLayoutAlign="center ">
      <button mat-icon-button
              color="primary"
              matTooltip="Imagen anterior"
              [disabled]="contador === 0"
              style="margin-right: 16px;"
              (click)="moverContador(false)">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <button mat-icon-button color="primary" matTooltip="Imagen siguiente"
              [disabled]="contador === (imagenes.length - 1)" (click)="moverContador(true)">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>


</ng-template>

