.spinnerWrapper{
  width: 229.27px;
  height: 255.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formWrapper{
  width: 100%;
  height: 56%;
}

form{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .mat-form-field{
    width: 100%;
  }
}
.nextButton:disabled {
  background-color: transparent!important;
  color: #777!important;
}

.nextButton{
  width: 100%;
  background-color: #5bb34b !important;
  color: white!important;
}
.rowWrapper{
  display: flex;
  justify-content: space-around;
}
.buttonsWrapper{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 0 22px;
}
