<div *ngIf="!loading">
  <p style="color: #364088; font-family: Arial, Helvetica, sans-serif; font-size: 2rem; text-align:center;" class="headerTitle" *ngIf="data.tipo === 1">
    AGENTE
  </p>
  <p style="color: #364088; font-family: Arial, Helvetica, sans-serif; font-size: 2rem; text-align:center;" class="headerTitle" *ngIf="data.tipo === 2">
    VERIFICAR
  </p>
  <p style="color: #364088; font-family: Arial, Helvetica, sans-serif; font-size: 2rem; text-align:center;" class="headerTitle" *ngIf="data.tipo === 2">
    INSPECCION
  </p>

  <p style="color: #364088; font-family: Arial, Helvetica; text-align:center;" class="headerTitle" *ngIf="data.tipo === 1"> Ingresa tu agente </p>

  <p style="color: #364088; font-family: Arial, Helvetica; text-align:center;" class="headerTitle" *ngIf="data.tipo === 2"> Ingresa tu ticket </p>

  <div class="formWrapper">
    <form [formGroup]="formAgente" *ngIf="data.tipo === 1">


        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>CLAVE DE AGENTE </mat-label>
          <input matInput type="text"  name="agente" formControlName="agente" oncopy="return false"
                 >
          <mat-hint *ngIf="this.formAgente.controls['agente'].errors && this.formAgente.controls['agente'].dirty">
            Introduce la clave agente</mat-hint>
        </mat-form-field>



        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> CUENTA</mat-label>
          <input matInput type="text"  name="cuenta" formControlName="cuenta" oncopy="return false"
          >
          <mat-hint *ngIf="this.formAgente.controls['cuenta'].errors && this.formAgente.controls['cuenta'].dirty">
            Introduce el nombre de la cuenta</mat-hint>
        </mat-form-field>



    </form>
    <form [formGroup]="formticket" *ngIf="data.tipo === 2">


      <mat-form-field class="example-full-width" appearance="outline" style="font-size: 14px; width: 100%;">
        <mat-label>CLAVE DE AGENTE </mat-label>
        <input matInput type="text"  name="agente" formControlName="agente" oncopy="return false" autocomplete="off"
        >
        <mat-hint *ngIf="this.formticket.controls['agente'].errors && this.formticket.controls['agente'].dirty">
          Introduce la clave agente</mat-hint>
      </mat-form-field>



<!--      <mat-form-field class="example-full-width" appearance="outline">-->
<!--        <mat-label> TICKET</mat-label>-->
<!--        <input matInput type="text"  name="ticket" formControlName="ticket" oncopy="return false" autocomplete="off"-->
<!--        >-->
<!--        <mat-hint *ngIf="this.formticket.controls['ticket'].errors && this.formticket.controls['ticket'].dirty">-->
<!--          Introduce e ticket</mat-hint>-->
<!--      </mat-form-field>-->
      <mat-form-field appearance="outline"  style="font-size: 14px; width: 100%; padding: 0 0 0 0!important;" >
        <mat-select formControlName= "ticket">
          <mat-option *ngFor="let ticket of ticketsInspeccions" [value]="ticket.ticket"
          >
            {{ticket.ticket}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </form>

  </div>
  <div class="buttonsWrapper">

    <button mat-button  (click)="inspeccionar()" [disabled]="!formAgente.valid" class="nextButton"
            *ngIf="data.tipo === 1">Enviar Inspeccion Previa</button>
    <button mat-button  (click)="ticket()" [disabled]="!formticket.valid" class="nextButton"
            *ngIf="data.tipo === 2">Enviar ticket</button>
  </div>
</div>
<div *ngIf="loading" class="spinnerWrapper">
  <mat-spinner></mat-spinner>
</div>

