img:active {
  border: 1px solid red;

}

img:hover {
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  transition: all linear .5s;
  cursor: pointer;
}

/*.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aseguradora{
  width: 35%;
}

.subir_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.btn{
  width: 150px;
}*/
