

<mat-card>
  <p style="color: #364088; font-family: Arial, Helvetica, sans-serif; font-size: 2rem; text-align:center;" class="headerTitle">
    COTIZADOR

  </p>

  <p style="color: #364088; font-family: Arial, Helvetica; text-align:center;" class="headerTitle"> Elige tu campaña </p>

  <span *ngFor="let asegu of aseguradoras">
    <span style="width: 10rem; padding: 0.5em; margin: 0 1em;">
      <img [src]="'/assets/images/logos-seguros/' + asegu.aseguradora + '.svg'" *ngIf="asegu.activo === 0"
           style="filter: grayscale(100%);" width="140" height="140">

      <span *ngFor="let depa of asegu.departamento ">
        <img  [src]="'/assets/images/logos-seguros/' + asegu.aseguradora + '.svg' "
             *ngIf="asegu.activo === 1 && idDepartamento === depa.depa"
             width="140" height="140"
             (click)="getMarcas(asegu.aseguradora, asegu.service, asegu.catalogo, asegu.urlCotizacion)"
        >
      </span>



    </span>


  </span>

</mat-card>
