<div *ngIf="!this.autorizacion">
  <div class="campo">
    <div class="regresar" (click)="cerrar()">
      <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
    </div>
  </div>
</div>

<mat-tab-group mat-stretch-tabs (selectedTabChange)="onclick($event)" [selectedIndex]="1">
  <span *ngFor="let tlabel of documentos">
    <mat-tab label="{{tlabel.tipo}}">
    </mat-tab>
  </span>
</mat-tab-group>

<div class="alignButtons">
  <button matTooltip="Corregir {{doc.tipo}}" *ngFor="let doc of documentos; let i = index" class="styleInButton"(click)="fileInput.click()">
    <mat-icon mat-raised-button>edit</mat-icon>
    <input hidden accept="application/pdf" type="file" #fileInput (change)="actualizarArchivo(i)"/>
  </button>
</div>

<div *ngIf="pdf">
  <ngx-extended-pdf-viewer  height="100%"
                           [base64Src]="pdf"
                           [showBorders]="false"
                           [showDownloadButton]="false"
                           [showOpenFileButton]="false"
                           [showPropertiesButton]="false"
                           [contextMenuAllowed]="false"
                           [showSecondaryToolbarButton]="false"
                           [showBookmarkButton]="false"
                           [enablePrint]="false"
                            [handTool]="false">
  </ngx-extended-pdf-viewer>
</div>


