
#cotizarPDF{
  position: absolute;
  top: -1000px;
  left: -800px;
  z-index: -2;
}

.pdf{ 
  width: 800px; 
  padding: 28px 56px;
  background-color: #fff;

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    p{
      margin: 0;
      padding: 5px 40px;
      border-radius: 20px;
      color: #fff;
      font-weight: 500;
    }
  }

  .headerDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    .imageWrapper{
      img{
        height: 90px; 
        margin-left: 30px;
      }
    }
    .dateWrapper{
      text-align: right;
    }
  }

  .infoContainer{
    margin-top: 24px;

    h3{
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      color: #fff;
      margin: 0
    }
    .infoData{
      display: flex;
      padding: 8px;
      background-color: #f1f3f4;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .colLeft{
        width: 68%;
      }
      .colRight{
        width: 32%;
      }
    }
  }

  section{
    min-height: 100%;
    position: relative;
    height: 120px;

    .pie{
      width: 100%;
      height: 17px;
      position: absolute;
      bottom: 40px;
      left: 0;
      text-align: center;
    }
}
}
th.mat-header-cell, td.mat-footer-cell {
  color: #ffffff !important;
  padding: 0px !important;
}



.mapfre{background: #AC0404;}
.gnp{background: #d88d35;}
.gnp-text{color:#004988;}
.qualitas-text{color:#77247e;}
.qualitas{background: #77247e; }







