<form [formGroup]="datosRegistro">
  <mat-form-field *ngIf="variablesPorMostrar.includes('idTipoPago')">
    <mat-label>TIPO PAGO *</mat-label>
    <mat-select formControlName="idTipoPago">
      <mat-option *ngFor="let tipoPago of tipoPagos"
                  [value]="tipoPago.id"
                  id="idTipoPago">
        {{tipoPago.tipoPago}}
      </mat-option>
    </mat-select>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('idTipoPago')]}}
    </mat-hint>
    <mat-error *ngIf="datosRegistro.controls['idTipoPago'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="variablesPorMostrar.includes('fechaInicio')">
    <input readonly
           matInput
           [matDatepicker]="picker"
           placeholder="INICIO DE VIGENCIA *"
           id="fechaInicio"

           formControlName="fechaInicio"
           autocomplete="false">
    <mat-datepicker-toggle matTooltip="Agregar fecha"
                           matSuffix [for]="picker"
                           matTooltip="Agregar fecha">

    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('fechaInicio')]}}
    </mat-hint>
    <mat-error *ngIf="datosRegistro.controls['fechaInicio'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf= "variablesPorMostrar.includes('poliza') ||
                          variablesPorMostrar.includes('alias')">
    <input matInput
           type="text"
           formControlName="poliza"
           id="poliza"

           oninput="this.value = this.value.toUpperCase()"
           placeholder="POLIZA *"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('poliza')]}}
    </mat-hint>
    <mat-error *ngIf="datosRegistro.controls['poliza'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
    <mat-error *ngIf="datosRegistro.controls['poliza'].hasError('pattern')">
      La nomenclatura correcta para una poliza de {{socio.nombreComercial}} es: {{socio.ejemploExpresionRegular}}
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="variablesPorMostrar.includes('oficina')">
    <input matInput
           type="text"
           formControlName="oficina"
           id="oficina"

           oninput="this.value = this.value.toUpperCase()"
           placeholder="OFICINA"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('oficina')]}}
    </mat-hint>
  </mat-form-field>

  <mat-form-field *ngIf="variablesPorMostrar.includes('primaNeta')">
    <input matInput
           type="text"
           formControlName="primaNeta"
           id="primaNeta"
           maxlength="10"

           placeholder="PRIMA NETA *"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('primaNeta')]}}
    </mat-hint>
    <mat-error *ngIf="datosRegistro.controls['primaNeta'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
    <mat-error *ngIf="datosRegistro.controls['primaNeta'].hasError('pattern')">
      Solo se aceptan números, un punto y dos decimales
    </mat-error>
  </mat-form-field>

  <div *ngIf="variablesPorMostrar.includes('alias') ||
                  variablesPorMostrar.includes('tipoRamo') ||
                  variablesPorMostrar.includes('tipoSubramo') ||
                  variablesPorMostrar.includes('productoSocio')">
    <mat-form-field>
      <mat-label>SOCIO *</mat-label>
      <mat-select formControlName="idSocio">
        <mat-option *ngFor="let socio of socios"
                    [value]="socio.id" id="idSocio"
                    (click)="getRamo(socio.id)">
          {{socio.nombreComercial}}
        </mat-option>
      </mat-select>
      <mat-hint>
        {{variablesComentarios[variablesPorMostrar.indexOf('alias')]}}
      </mat-hint>
      <mat-error *ngIf="datosRegistro.controls['alias'].hasError('required')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>RAMO *</mat-label>
      <mat-select formControlName="tipoRamo">
        <mat-option *ngFor="let ramo of ramos"
                    [value]="ramo.id"
                    id="idRamo"
                    (click)="getSubRamo(ramo.id)">
          {{ramo.tipoRamo}}
        </mat-option>
      </mat-select>
      <mat-hint>
        {{variablesComentarios[variablesPorMostrar.indexOf('tipoRamo')]}}
      </mat-hint>
      <mat-error *ngIf="datosRegistro.controls['tipoRamo'].hasError('required')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>SUBRAMO *</mat-label>
      <mat-select formControlName="tipoSubramo">
        <mat-option *ngFor="let subRamo of subRamos"
                    [value]="subRamo.id"
                    id="idSubRamo"
                    (click)="getProductoSocio(subRamo.id)">
          {{subRamo.tipoSubRamo}}
        </mat-option>
      </mat-select>
      <mat-hint>
        {{variablesComentarios[variablesPorMostrar.indexOf('tipoSubramo')]}}
      </mat-hint>
      <mat-error *ngIf="datosRegistro.controls['tipoSubramo'].hasError('required')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>PRODUCTO SOCIO *</mat-label>
      <mat-select formControlName="idProductoSocio">
        <mat-option *ngFor="let pSocio of productosSocio"
                    [value]="pSocio.id"
                    id="idProductoSocio">
          {{pSocio.tipoProducto}}
        </mat-option>
      </mat-select>
      <mat-hint>
        {{variablesComentarios[variablesPorMostrar.indexOf('productoSocio')]}}
      </mat-hint>
      <mat-error *ngIf="datosRegistro.controls['idProductoSocio'].hasError('required')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="variablesPorMostrar.includes('periodicidad')">
    <mat-label>PERIODICIDAD *</mat-label>
    <mat-select formControlName="idPeriodicidad">
      <mat-option *ngFor="let periodicidad of periodicidades"
                  [value]="periodicidad.id">
        {{periodicidad.nombre}}
      </mat-option>
    </mat-select>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('periodicidad')]}}
    </mat-hint>
    <mat-error *ngIf="!datosRegistro.controls['idPeriodicidad'].valid&&datosRegistro.controls['idPeriodicidad'].dirty">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="variablesPorMostrar.includes('tipoPago')">
    <mat-label>TIPO PAGO *</mat-label>
    <mat-select formControlName="idTipoPago">
      <mat-option *ngFor="let tipoPago of tipoPagos"
                  [value]="tipoPago.id">
        {{tipoPago.tipoPago}}
      </mat-option>
    </mat-select>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('tipoPago')]}}
    </mat-hint>
    <mat-error *ngIf="!datosRegistro.controls['idTipoPago'].valid&&datosRegistro.controls['idTipoPago'].dirty">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
</form>
