/*.margen-up{*/
/*  margin-top:80px;*/
/*}*/
.ctn-principal{
  width: 100%;
  margin-top:80px;
}
ctn-resultado{
  width: 80%;
  margin-top: 20px;
}
.btn-azul{
  background: #0069d9 !important;
  color: white !important;
  font-size: 18px !important;
  padding: 5px 10px 5px 10px !important;
  width: 48% !important;
  float: left !important;
}
.btn-rojo{
  color: white !important;
  font-size: 18px !important;
  padding: 5px 10px 5px 10px !important;
  width: 48% !important;
  float: right !important;
}
.linea{
  /*border-bottom: 2px solid #009688 !important;*/
  width: 100%;
  margin-top: -5px;
}
.ctn-input {
  margin: 0 auto;
}

.negrita6{
  font-weight: 600;
  margin-left: 10px;
  margin-top: 1rem;
}
.resultados.mat-card {
  /*background: #e6f2ff;*/
  width: 98%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #ddd;
}
.txt-resultado{
   color:#6c757d;
   font-size: 18px;
   font-weight: 500;
}

.ctn-liga {
  margin-bottom: 25px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  background:#f6fafc;
  border: 1px solid #e7e6e6;
}

.btn-ligaCP{
  background: #044f99;
  border: 1px;
  color: white;
}
.img-info{
  width: 360px;
  display: block;
  margin:0 auto;
}
.margin-down {
  margin-bottom: 15px;
}

.btn-ligaAH{
  background: #0069d9;
  width: 100%;
  margin-top: 10px !important;
  color: white;
}
.img-preciog{
  margin-top: 10px !important;
}
.ctn-ahorra50{
  background: #00c34d;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}
.ctn-anuncio{
  width: 80%;
  margin: 0 auto !important;
  display: block;
  margin-top: 25px !important;
}
.txt-anuncio{
  font-size: 18px !important;
}
@media(min-width:320px)and (max-width:640px){
  .txt-resultado{
    font-size: 14px;

  }
  .btn-azul{
    font-size: 15px !important;
    padding: 2px 5px 2px 5px !important;
  }
  .btn-rojo{
    font-size: 15px !important;
    padding: 2px 5px 2px 5px !important;
  }
  .resultados.mat-card {
    margin-top: 20px;
  }
  .img-info{
    width: 270px;
  }
  .img-fondocarros{
    display: none;
  }
  .img-icon{
    display: none !important;
  }
  .icono-ahorra{
    display: block !important;
  }
}
@media(min-width:768px){
  .txt-resultado{
    font-size: 18px;
  }
  .resultados.mat-card {
    margin-top: 30px;
  }
  .btn-azul{
    font-size: 18px !important;
    padding: 5px 10px 5px 10px !important;
  }
  .btn-rojo{
    font-size: 18px !important;
    padding: 5px 10px 5px 10px !important;
  }
  .img-info{
    width: 360px;
  }
  .img-fondocarros{
    display: block;
  }
  .img-icon{
    display: block !important;
  }
  .icono-ahorra{
    display: block !important;
  }
}
@media(min-width:992px){
  .txt-resultado{
    font-size: 18px;
  }
  .resultados.mat-card {
    margin-top: 30px;
  }
  .btn-azul{
    font-size: 18px !important;
    padding: 5px 10px 5px 10px !important;
  }
  .btn-rojo{
    font-size: 18px !important;
    padding: 5px 10px 5px 10px !important;
  }
  .img-info{
    width: 360px;
  }
  .img-fondocarros{
    display: block;
  }
  .img-icon{
    display: block !important;
  }
  .icono-ahorra{
    display: block !important;
  }
}
