
        <div class="container ctn-principal">
          <div class="row mt-5 ctn-input">
            <div class="col-12">
               <h1 class="color-blue mat-h1 mat-headline">Consultar CURP y RFC</h1>
               <h2  class="color-gris mat-subheading-2">Busca tu CURP y RFC de manera sencilla y rápida.</h2>
            </div>
            <hr class="linea">
          </div>
          <!-- AQUI EMPIEZA EL FORMULARIO -->
          <form class="example-form" #myForm="ngForm" (ngSubmit)="generarDatos()">
          <div class="row ctn-input mt-2" >
            <div class="col-12">
              <p class="mat-body"> Por favor ingresa tus datos y después selecciona el botón de buscar.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="nombre" [formControl]="nombreValidator" required>
                <mat-error *ngIf="nombreValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <input matInput placeholder="Apellido Paterno" name="appaterno" [(ngModel)]="appaterno" [formControl]="apPaternoValidator" required>
                <mat-error *ngIf="apPaternoValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <input matInput placeholder="Apellido Materno" name="apmaterno" [(ngModel)]="apmaterno" [formControl]="apMaternoValidator" required>
                <mat-error *ngIf="apMaternoValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <input matInput type="number" placeholder="Día de Nacimiento" name="dianac" [(ngModel)]="dianac" [formControl]="diaNacValidator" required>
                <mat-error *ngIf="diaNacValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <input matInput type="number" placeholder="Mes de Nacimiento" name="mesnac" [(ngModel)]="mesnac" [formControl]="mesNacValidator" required>
                <mat-error *ngIf="mesNacValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <input matInput type="number" placeholder="Año de Nacimiento" name="anionac" [(ngModel)]="anionac" [formControl]="anioNacValidator" required>
                <mat-error *ngIf="anioNacValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <mat-label>Género</mat-label>
                <mat-select [(ngModel)]="genero" name="genero" [formControl]="generoValidator">
                  <mat-option *ngFor="let e of generos" [value]="e.value">
                    {{e.text}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="generoValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <mat-form-field class="example-full-width centrar">
                <mat-label>Estado de nacimiento</mat-label>
                <mat-select [(ngModel)]="estado" name="estado" [formControl]="estadoValidator">
                  <mat-option *ngFor="let e of estados" [value]="e.value">
                    {{e.text}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="estadoValidator.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 trigger col-sm-12 col-md-12 col-lg-4">
              <button class="btn-rojo" type="reset" mat-raised-button color="warn" (click)="limpia()"><i class="material-icons">delete</i>Limpiar</button>
              <button class="btn-azul" type="submit" mat-raised-button><i class="material-icons">search</i>Buscar</button>
            </div>
          </div>
          </form>
          <!--DIV DE RESULTADOS-->
          <!--Aqui se genera la animacion al hacer click en el boton de "buscar" [@slideInOut]="animationState"-->
          <div class="container" >
             <mat-card class="resultados">
               <ul>
                 <li class="color-blue"><span class="txt-resultado">CURP = {{curp}}</span></li>
                 <li class="color-blue"><span class="txt-resultado">RFC = {{rfc}}</span></li>
              </ul>
             </mat-card>
          </div>
        </div>






