<section class="generalContainer">
  <span class="alternateAnimation text"><strong>COTIZANDO...</strong></span>
  <div class="container">
    <div class="holder">
      <div class="box"></div>
    </div>
    <div class="holder">
      <div class="box"></div>
    </div>
    <div class="holder">
      <div class="box"></div>
    </div>
  </div>
</section>
