.mat-expansion-panel-header{
  margin-top: 20px;
  margin-bottom: 10px;
}
.example-container {
  height: 100%;
}
.example-container2 {
  height: 600px;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.text {
  font-size:1.3rem;
  font-family:helvetica;
  font-weight:bold;
  color: #333bd9;
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #7a306ad1;
  color: white;
  width: .3em;
  max-width: .3em;
}
td{
  cursor: pointer;
}
th, td {
  text-overflow: revert;
  white-space: pre;
}

.mat-footer-cell {
  background-color: rgba(134, 61, 113, 0.71);
  color: white;
  text-align: center;
}


.custom-tooltip {
  width: 150px;
  height: 70px;
  border: 1px solid cornflowerblue;
  overflow: hidden;
}

.custom-tooltip p {
  margin: 5px;
  white-space: nowrap;
}

.custom-tooltip p:first-of-type {
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

mat-panel-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
  }
  .status{
    width: 60%;
    color: white;
  }

}
.dpto-td{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 90px;
  max-height: 160px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: contents;
}
span.rechazada{
  color: #ff146b;
}

span.pendiente{
  color: #fffb00;
}

span.aceptada{
  color: #30b953;
}
span.deshabilitado{
  color: #877B66;
}

.negrita {
  color: white;
  font-weight: bold;
}
