<mat-card *ngIf="this.permisos.VN?.esquemaComision">
  <mat-card-title> {{tituloPrincipal}}</mat-card-title>
  <button mat-icon-button (click)="getEsquemas()" matTooltip="Recargar Página" class="prueba">
    <mat-icon>refresh</mat-icon>
  </button>

  <span *ngIf="ya && !vacio; else vacioDiv">
    <mat-accordion multi="true" *ngFor="let dato of datos.departamentos; let index = index ">
    <mat-expansion-panel style="margin-bottom: 10px;">
      <mat-expansion-panel-header style="background: linear-gradient(45deg, #364088 70%, #8e95b1 180%);">
        <mat-panel-title>
          <p class="titulo">
            {{dato.catalogoEsquema}}
          </p>
          <section fxLayoutAlign="space-between center" fxLayoutGap="10px" *ngIf="idEstadoEsquema !== 6 && idEstadoEsquema !== 0">
            <button mat-stroked-button color="accent" (click)="aprobarOrechazar(1, dato)">Aprobar</button>
            <button mat-stroked-button color="warn" (click)="aprobarOrechazar(2, dato)">Rechazar</button>
          </section>
<!--          <section fxLayoutAlign="space-between center" fxLayoutGap="10px"  *ngIf="idEstadoEsquema === 6">-->
<!--            <button mat-stroked-button color="accent" (click)="editarModal(dato)">Editar</button>-->
<!--          </section>-->
          <section  *ngIf="idEstadoEsquema === 0" class="status" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="space-between center" fxLayoutGap="10px">
              <span class="negrita">ESTATUS:</span>
              <span [ngClass]="{
                'aceptada': dato.idEstadoEsquema === 1,
                'pendiente': dato.idEstadoEsquema === 2 || dato.idEstadoEsquema === 3 || dato.idEstadoEsquema === 4 || dato.idEstadoEsquema === 5,
                'rechazada': dato.idEstadoEsquema === 6,
                'deshabilitado': dato.idEstadoEsquema === 7}">
                {{dato.estadoEsquema}}
              </span>
            </div>
            <div>
              <span class="negrita">PERIODO:</span>
              <span> {{dato.fechaInicio | date: 'dd/MM/yyyy'}} - {{dato.fechaFin | date: 'dd/MM/yyyy'}}</span>
            </div>
          </section>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <section *ngIf="dato.idEstadoEsquema === 6">
          <h3>Comentarios rechazo</h3>
          <p style="color: black;">
            {{dato.comentarios}}
          </p>
        </section>
        <div class="example-container mat-elevation-z8">
          <section class="tableWrapper mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSource[index]">

            <ng-container matColumnDef="departamentos">
              <th mat-header-cell *matHeaderCellDef>DEPARTAMENTOS</th>
              <td class="dpto-td" mat-cell *matCellDef="let elementID">
                <span *ngFor="let dep of (dato['idTipoTablaEsquema'] === 1 ? elementID['departamentos'] : elementID['turnos']);
                let w=index">{{dato['idTipoTablaEsquema'] === 1 ? elementID['departamentos'][w]['descripcion'] : elementID['turnos'][w]['descripcionTurno']}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="baja">
              <th mat-header-cell *matHeaderCellDef>BAJA</th>
              <ng-container *matCellDef="let elementID">
                <td mat-cell [mat-menu-trigger-for]="mostrarText"> {{elementID['baja']['conversion']}} </td>
                <mat-menu #mostrarText="matMenu">
                  <div class="menu">
                    {{'Comisión Contado: ' + elementID['baja']['comisionContado']}}
                  </div>
                  <div class="menu">
                    {{'Comisión Parcial: ' + elementID['baja']['comisionParcial']}}
                  </div>
                </mat-menu>
              </ng-container>
            </ng-container>

            <ng-container matColumnDef="zd">
              <th mat-header-cell *matHeaderCellDef>ZD</th>
              <ng-container *matCellDef="let elementID">
                <td mat-cell [mat-menu-trigger-for]="mostrarText"> {{elementID['zonaDesarrollo']['conversion']}} </td>
                <mat-menu #mostrarText="matMenu">
                  <div class="menu">
                    {{'Comisión Contado: ' + elementID['zonaDesarrollo']['comisionContado']}}
                  </div>
                  <div class="menu">
                    {{'Comisión Parcial: ' + elementID['zonaDesarrollo']['comisionParcial']}}
                  </div>
                </mat-menu>
              </ng-container>
            </ng-container>

            <ng-container *ngFor="let column of displayedColumns2[index]; let i=index" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>{{column}}</th>
              <ng-container *matCellDef="let elementID">
                <td *ngIf="elementID['conversiones'][i]; else noHay" mat-cell [mat-menu-trigger-for]="mostrarText"> {{elementID['conversiones'][i]['conversion']}} </td>
                <ng-template #noHay>
                  <td mat-cell> {{'-' }} </td>
                </ng-template>
                <mat-menu #mostrarText="matMenu">
                  <div class="menu">
                    {{elementID['conversiones'][i] ? 'Comisión Contado: ' + elementID['conversiones'][i]['comisionContado'] : null}}
                  </div>
                  <div class="menu">
                    {{elementID['conversiones'][i] ? 'Comisión Parcial: ' + elementID['conversiones'][i]['comisionParcial'] : null}}
                  </div>
                </mat-menu>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="dato['idTipoTablaEsquema'] === 2" matColumnDef="mes">
              <th mat-header-cell *matHeaderCellDef>MES</th>
              <td mat-cell *matCellDef="let elementID">
                <span>
                  {{meses[elementID['mes']-1]}}
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="nuev[index];" ></tr>
            <tr mat-row *matRowDef="let row; columns: nuev[index];"></tr>
          </table>
          </section>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  </span>

  <ng-template #vacioDiv>
    <h1>No tienes esquemas en este estado de proceso</h1>
  </ng-template>

</mat-card>
