campo.example-card {
  height: auto;
}

.contenedor {
  margin: auto;
  width: 70%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
}

.colum {
  //width: 20%;
  min-width: 200px;
  margin: 30px;
}

mat-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6 {
  font-family: 'Montserrat', Arial;
  margin-bottom: 8px;
  color: #e21c51;
  font-weight: bold;
  text-decoration: underline;
}

hr {
  width: 70%;
  background: #e21c5142;
}

.cliente {
  font-family: 'Montserrat', Arial;
  margin: auto;
  width: 70%;
  padding: 20px;
  text-align: left;
}

//Boton de regresar
div.regresar:focus {
  outline: none;
}

.regresar mat-icon {
  font-size: 3.5em;
  cursor: pointer;
  color: #354089;
}

.regresar span {
  margin-top: 19px;
  margin-left: 12px;
  font-size: 0.8em;
  color: #354089;
  font-weight: bold;
}

.campo .regresar {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin-top: -10px;
  cursor: pointer;
  width: 10%;
}

.title {
  //width: 100%;
  text-align: center;
}

.text-title {
  color: #354089;
  font-family: Montserrat, Arial;
  font-size: 40px;
  letter-spacing: 2px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  font-size: 30px;
}

.poliza {
  box-shadow: 7px 8px 11px #ccc !important;
  //border-top-left-radius: 0;
  //border-top-right-radius: 40px;
  //border-bottom-right-radius: 0px;
  //border-bottom-left-radius: 40px;
  width: 80%;
  height: auto;
}

.content-center {
  display: flex;
  justify-content: center;
}

.heade {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-content {
  border-bottom: 30px solid #040c85;
  border-left: 55px solid transparent;
  height: 0;
  width: 90%;
}

.text {
  color: #354089;
  //font-family: Montserrat, Arial;
  font-size: 30px;
}

.titulos {
  //border-bottom: 15px solid #394485;
  //border-right: 35px solid transparent;
  margin-bottom: 0px;
  height: 15px;
  width: 40%;
  color: white;
  background: #394485;
}

.datoNoGuardado {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  font-weight: bold;
}
