<mat-card class="example-card" *ngIf="permisos?.VN?.adminPolizas">
<!--      boton regresar-->
  <div class="campo">
    <div class="regresar" (click)="cerrar()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span>REGRESAR</span>
    </div>
  </div>

  <mat-card-content class="content-center">
    <div *ngIf="!detallesPoliza">
      <mat-spinner style="margin-left: 48%; margin-top: 15px;"></mat-spinner>
    </div>
    <mat-card class="poliza" *ngIf="detallesPoliza">
      <div class="heade">
        <div class="text">Póliza</div>
        <div class="title-content"></div>
      </div>

      <mat-card-header>
        <mat-card-title class="card-title">
          {{ detallesPoliza.nombreCliente }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="poliza-content">
<!--        &lt;!&ndash; Datos Personales&ndash;&gt;-->

        <div style="height: 80px;"></div>
        <div class="titulos">
          <b>DATOS PERSONALES</b>
        </div>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <p><span>CLIENTE:</span>{{detallesPoliza.nombreCliente}}
            </p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p>
              <span>TELEFONO:</span> {{detallesPoliza.telefonoMovil}}
            </p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p>
              <span>CORREO:</span> {{detallesPoliza.correo}}
            </p>
          </mat-list-item>
        </mat-list>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <p><span>GÉNERO:</span> {{detallesPoliza.genero === "M" ? "MASCULINO" : "FEMENINO"}} </p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p><span>RAZÓN SOCIAL:</span> {{detallesPoliza.razonSocial === 1 ? 'FÍSICO' : 'MORAL'}} </p>
          </mat-list-item>
          <mat-list-item role="listitem" *ngIf="detallesPoliza.razonSocial === 1">
            <p><span>FECHA DE NACIMIENTO:</span> {{detallesPoliza.fechaNacimiento | date : 'dd/MM/ yy'}}</p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p><span>CÓDIGO POSTAL:</span> {{detallesPoliza.cp}}</p>
          </mat-list-item>
        </mat-list>

        <div class="titulos">
          <b>PRODUCTO CLIENTE</b>
        </div>

        <mat-list role="list">
          <mat-list-item role="listitem">
            <p><span>PRODUCTO:</span> Auto </p>

          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>MODELO:</span> {{datoCliente.modelo}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>MARCA:</span> {{datoCliente.marca}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>NÚMERO DE MOTOR:</span> {{datoCliente.numeroMotor}}</p>
            <p *ngIf="!datoCliente.numeroMotor"
               style="text-transform: uppercase; font-size: 1.1rem; margin-left: 5px;">
              Dato no agregado
            </p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>NÚMERO DE PLACAS:</span> {{datoCliente.numeroPlacas}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>DESCRIPCIÓN:</span> {{datoCliente.descripcion}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>ASEGURADORA:</span> {{datoCliente.aseguradora || detallesPoliza.aseguradora}}</p>
            <p *ngIf="(datoCliente.aseguradora === null ||
             datoCliente.aseguradora === undefined) && detallesPoliza.aseguradora === null"
               style="text-transform: uppercase; font-size: 1.1rem; margin-left: 5px;">
              Dato no agregado
            </p>

          </mat-list-item>

          <div class="titulos">
            <b>REGISTRO DE POLIZA</b>
          </div>

          <mat-list-item role="listitem">
            <p><span>NÚMERO POLIZA:</span> {{detallesPoliza.poliza}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>PRIMA NETA:</span> {{detallesPoliza.primaNeta}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>FECHA REGISTRO:</span> {{detallesPoliza.fechaRegistro | date : 'dd/MM/ yy'}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>FECHA INICIO:</span> {{detallesPoliza.fechaInicio | date : 'dd/MM/ yy'}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>CANTIDAD DE PAGOS:</span> {{detallesPoliza.cantidadPagos}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>TIPO DE PAGO:</span> {{detallesPoliza.tipoPago || 'NO SE HA PAGADO AÚN'}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p><span>ESTADO DEL PAGO:</span> {{detallesPoliza.estado || 'NO SE HA PAGADO AÚN'}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
