<div class="row">
  <div class="col-sm-6">
    <div mat-dialog-content>
      <p>
        {{speech || speechService.speechDefault}}
      </p>
    </div>
  </div>
  <div class="col-sm-6" *ngIf="data.solicitud">
    <h2>Solicitud: {{data.solicitud.id}}</h2>
    <div>
      <p>Nombre: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.datos.nombre}}</p>
      <p>Edad: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.datos.edad}}</p>
      <p>Correo: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.datos.correo}}</p>
      <p>Número: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.datos.telefono}}</p>
      <p> Marca: {{data.solicitud.CotizacionesAli.peticion.marca}}</p>
      <p> Detalle: {{data.solicitud.CotizacionesAli.peticion.descripcion}}</p>
      <p> Modelo: {{data.solicitud.CotizacionesAli.peticion.modelo}}</p>
      <p> Aseguradora: {{data.solicitud.CotizacionesAli.peticion.aseguradora}}</p>
      <p> CP: {{data.solicitud.CotizacionesAli.peticion.cp}}</p>
    </div>
  </div>

  <div class="col-sm-6" *ngIf="!data.solicitud">
    <div>
      <app-propspecto-ib (cerrarModal)="matDialogRef.close()"></app-propspecto-ib>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <mat-icon matTooltip="Emitir"  (click)="recotizar()" mat-raised-button
            *ngIf="data.solicitud">add_task
  </mat-icon>

  <mat-icon matTooltip="Ver Emision Funnel Online"  (click)="generarEmisionOnlineFunnel()" mat-raised-button
            *ngIf="data.solicitud">receipt
  </mat-icon>

  <mat-icon matTooltip="Registrar Datos Poliza"  (click)="generarEmision(data.solicitud.id || data.idSolicitud)" mat-raised-button
            *ngIf="data.solicitud">launch
  </mat-icon>

</mat-dialog-actions>
