<mat-card>

  <div fxLayoutAlign="end">
    <button mat-icon-button>
      <mat-icon (click)="getFechas()">refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    LINKS DE PAGO
  </mat-card-title>


  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" >
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        <ng-container matColumnDef="titular">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > TITULAR</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{element.titular}}
          </td>
        </ng-container>

        <ng-container matColumnDef="poliza">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > POLIZA</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{element.poliza}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > FECHA CREACIÓN</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{element.fechaCreacion | date: 'dd/MM/yyy hh:mm:ss'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > NOMBRE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{element.nombre}}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > ACCIONES</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon matTooltip="Recibos" mat-raised-button (click)="recibos(element.idRegistro, element.idRecibo)">description
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
