.header{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  p{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  div{
    height: 48px;
  }
}

.mat-tab-group {
  display: flex;
  position: absolute;
  top: 8%;
  width: 93%;
  height: 91%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

:host ::ng-deep .mat-tab-body-wrapper {
  top: 8%;
  width: 100%;
  height: calc(92% - 48px);
  box-shadow: 0px 5px 10px 0px #0000005f;

  .contentCard {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.container-header {
  display: grid;
  grid-template-columns: [col0] 100% [col1];
  grid-template-rows: [row0] 100% [row1];
  align-items: center;
  padding: 7px 24px;
  height: 6vh;
  border-bottom: solid 2px #2125291f;
  background-color: #772f6a47;

  p{
    color: #36419deb;
    font-weight: 500;
    font-size: 18px;
    justify-self: center;
    margin: 0;
    grid-area: row0 / col0 / row1 / col1;
  }
  .dateWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: row0 / col0 / row1 / col1;

    p{
      margin:  0;
      color: #36419deb;
      font-weight: 500;
      font-size: 14px;

      span{
        font-weight: 500;
        margin: 0 10px 0 5px;
      }
    }

    img{
      width: 28px;
      height: 28px;
    }
  }
}

.boton {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  background: (#1d267175, #c3376475);
  justify-content: space-between;
}

button{
  margin-top: 30px;
}
span.rechazada{
  color: red;
}

span.pendiente{
  color: blue;
}

span.aceptada{
  color: green;
}

span{
  margin-left: 5px;
}

#columna {
  column-count: 3;
  //text-align: inherit;
  padding: 5px;
  column-gap: 1em;
  column-rule: 2px solid #bd3664;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  margin-right: -64px;
  padding: 5px;
  column-gap: 1em;
}

.botones {
  justify-content: space-around;
  display: flex;
}
.dash-content{
  width: 100%;
  height: 80.5vh;
  padding: 1% 2% 10% 2%;
  margin: 0;
  overflow: auto;

  form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: solid 1px #0000003d;

    h2, mat-form-field{
      width: auto;
      margin: 0;
      font-size: 12px;
    }

    h2{
      font-size: 14px;
    }
  }
}
