
<div class="container-dash">
  <h1> NOMINA </h1>
  <div class="dash-content">
    <p> Tu sueldo bruto mensual actual es de {{ 13000 | currency }} </p>
    <p> Tu sueldo neto mensual actual es de {{ 10920 | currency }}  </p>
  </div>
</div>
