.title {
  text-align: center;
}

.tamanio {
  transform: scale(10);
}
.tam {
  padding: 45px 0;
}

.uploadDocs{
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;

  .docWrapper{
    align-items: center;
    display: flex;
    border: 2px dashed var(--gray);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 140px;
    transition: 0.3s;
    padding: 12px;
    cursor: pointer;

    mat-icon{
      font-size: 60px;
      height: auto;
      width: auto;
      color: var(--gray);
      transition: 0.3s;
      margin: 10px;
    }

    p{
      transition: 0.3s;
      margin: 12px 0 0 0;
      font-weight: 500;
      color: var(--iron);
      text-align: center;
    }
  }

  .docWrapper:hover{
    transition: 0.4s;
    border-color: rgb(185, 45, 45);

    mat-icon{
      transform: scale(1.13);
      color: rgb(185, 45, 45);
    }

    p{
      color: rgb(185, 45, 45);
    }
  };
  
  .docWrapperImage{
    align-items: center;
    display: flex;
    border: 2px dashed var(--gray);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 140px;
    transition: 0.3s;
    padding: 12px;
    cursor: pointer;

    mat-icon{
      font-size: 60px;
      height: auto;
      width: auto;
      color: var(--gray);
      transition: 0.3s;
      margin: 10px;
      border-color: rgb(45, 94, 185) !important;

    }

    p{
      transition: 0.3s;
      margin: 12px 0 0 0;
      font-weight: 500;
      color: var(--iron);
      text-align: center;
      border-color: rgb(45, 94, 185) !important;
    }

    
  }
  .docWrapperImage:hover{
    transition: 0.4s;
    border-color: rgb(45, 94, 185) !important;

    mat-icon{
      transform: scale(1.13);
      color: rgb(45, 94, 185) !important;
    }

    p{
      color: rgb(45, 94, 185) !important;
    }
  };
  

  .docWrapperCheck{
    pointer-events: none;
    border: none;
    background-color: #8e95b124;

    mat-icon{
      color: green;
    }

    p{
      color: green;
    }
  }
}




.buttonWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button{
    background-color: green;
    color: #fff;
  }

  button:disabled{
    background-color: var(--grayD);
    color: var(--blackD);
  }
}



.viewBlocker{
  //height: 100%;
  //width: 100%;
  text-align: center;
  max-width: 100%;
  display: flex;
  height: auto;
  z-index: -1000;
  top: 5000px;
  position: absolute;
  margin: auto;
  justify-content: center;
  //float: left;
  //align-content: center;
}
