<div class="viewBlocker" id="htmlData">
  <img id="ClienteDoc" width="200" height="250" (load)="imgClient()"/>
</div>
<div class="viewBlocker" id="htmlDataProd">
  <img id="ProductoDoc" width="200" height="250" (load)="imgProd()"/>
</div>
<div class="viewBlocker" id="htmlDataDom">
  <img id="DomiDoc" width="200" height="250" (load)="imgDomcilio()"/>
</div>
<div fxLayoutAlign="center">
  <head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/pdf-lib@1.7.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
  </head>
  <div class="view" style="width: 100%; height: 100%">
    <div class="header">
      ARCHIVOS DE CLIENTE
    </div>
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabSelected($event)">
      <mat-tab label="Cargar Archivos">
        <mat-card-content style="padding: 8% 0">
          <mat-card-title style="font-size: 20px; height: 40px">Seleccione y cargue el tipo de archivo de cliente</mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between">

            <div class="uploadDocs" fxLayout="column">
              <div [ngClass]="{docWrapper: true}" style="margin: 0; width: 100%; padding: 0; height: 30px">
                <p>{{'Documento de Cliente'}}</p>
              </div>
              <div class="uploadDocs" fxLayout="row" style="margin: 0; width: 100%; padding: 0">
                <div *ngIf="!fileClient" [ngClass]="{docWrapper: true, docWrapperCheck: pdfFileClient}" (click)="fileInput.click()" style="margin: 0; width: 100%; padding: 30px">
                  <mat-icon >
                    {{(pdfFileClient) ? 'check_circle' : 'picture_as_pdf' }}
                  </mat-icon>
                  <p >{{(pdfFileClient) ? 'PDF Cargado' : 'PDF'}}</p>
                </div>
                <div *ngIf="!pdfClient" [ngClass]="{docWrapperImage: true, docWrapperCheck: fileClient}" (click)="inputFile.click()" style="margin: 0; width: 100%; padding: 30px">
                  <mat-icon>
                    {{(fileClient) ? 'check_circle' : 'image'}}
                  </mat-icon>
                  <p>{{(fileClient) ? 'Imagen Cargada' : 'Imagen'}}</p>
                </div>
              </div>
              <input hidden accept="application/pdf" type="file" name="testPDF" #fileInput [attr.disabled]="pdfFileClient ? '' : null" [disabled]="pdfFileClient || fileClient" (change)="savePDFClient()"/>
              <input hidden type="file" accept="image/png, image/gif, image/jpeg" #inputFile [disabled]="fileClient || pdfFileClient" onchange="document.getElementById('ClienteDoc').src = window.URL.createObjectURL(this.files[0])"/>
            </div>

            <div class="uploadDocs" fxLayout="column">
              <div [ngClass]="{docWrapper: true}" style="margin: 0; width: 100%; padding: 0; height: 30px">
                <p>{{'Documento del Producto'}}</p>
              </div>
              <div class="uploadDocs" fxLayout="row" style="margin: 0; width: 100%; padding: 0">
                <div *ngIf="!fileAuto" [ngClass]="{docWrapper: true, docWrapperCheck: pdfFileProd}" (click)="fileInput2.click()" style="margin: 0; width: 100%; padding: 30px">
                  <mat-icon>
                    {{(pdfFileProd) ? 'check_circle' : 'picture_as_pdf'}}
                  </mat-icon>
                  <p>{{(pdfFileProd) ? 'PDF Cargado' : 'PDF'}}</p>
                </div>
                <div *ngIf="!pdfAuto" [ngClass]="{docWrapperImage: true, docWrapperCheck: fileAuto}" (click)="inputFile2.click()" style="margin: 0; width: 100%; padding: 30px">
                  <mat-icon >
                    {{(fileAuto) ? 'check_circle' : 'image'}}
                  </mat-icon>
                  <p>{{(fileAuto) ? 'Imagen Cargada' : 'Imagen'}}</p>
                </div>
              </div>
              <input hidden accept="application/pdf" type="file" name="testPDF" #fileInput2 [disabled]="pdfFileProd || fileAuto" (change)="savePDFProd()"/>
              <input hidden type="file" accept="image/png, image/gif, image/jpeg" #inputFile2 [disabled]="fileAuto || pdfFileProd" onchange="document.getElementById('ProductoDoc').src = window.URL.createObjectURL(this.files[0])"/>
            </div>
            <div class="uploadDocs" fxLayout="column">
              <div [ngClass]="{docWrapper: true}" style="margin: 0; width: 100%; padding: 0; height: 30px">
                <p>{{'Documento de Domicilio'}}</p>
              </div>
              <div class="uploadDocs" fxLayout="row" style="margin: 0; width: 100%; padding: 0">
                <div *ngIf="!fileDom" [ngClass]="{docWrapper: true, docWrapperCheck: pdfFileDom}" (click)="fileInput3.click()" style="margin: 0; width: 100%; padding: 30px">
                  <mat-icon>
                    {{(pdfFileDom) ? 'check_circle' : 'picture_as_pdf'}}
                  </mat-icon>
                  <p>{{(pdfFileDom) ? 'PDF Cargado' : 'PDF'}}</p>
                </div>
                <div *ngIf="!pdfDom" [ngClass]="{docWrapperImage: true, docWrapperCheck: fileDom}" (click)="inputFile3.click()" style="margin: 0; width: 100%; padding: 30px">
                  <mat-icon>
                    {{(fileDom) ? 'check_circle' : 'image'}}
                  </mat-icon>
                  <p>{{(fileDom) ? 'Imagen Cargada' : 'Imagen'}}</p>
                </div>
              </div>
              <input hidden accept="application/pdf" type="file" name="testPDF" #fileInput3 [disabled]="pdfFileDom || fileDom" (change)="savePDFDom()"/>
              <input hidden type="file" accept="image/png, image/gif, image/jpeg" #inputFile3 [disabled]="fileDom || pdfFileDom" onchange="document.getElementById('DomiDoc').src = window.URL.createObjectURL(this.files[0])"/>
            </div>
          </div>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Archivos Cargados">
        <mat-card-content style="padding: 1% 1% 7% 10%">
          <embed id="archivoPDF" type="application/pdf" [width]="700" [height]="300">
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    <mat-card-actions fxLayoutAlign="space-around">
      <button  mat-raised-button [disabled]="(!fileClient && !pdfClient) || (!fileAuto && !pdfAuto) || (!fileDom && !pdfDom)" (click)="mergePDF(false, true)">Guardar Documentos</button>
      <button  mat-raised-button (click)="closeDialog(null)">Cancelar</button>
    </mat-card-actions>
  </div>
</div>

