<mat-card-title style="text-align: center;">
  ¿Por qué motivo quiere reagendar la llamada?
</mat-card-title>

<mat-card-content>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="ingrese sus comentario" [(ngModel)]="comentario">
  </mat-form-field>
</mat-card-content>

<div fxLayoutAlign="space-between">
  <button mat-raised-button color="primary" (click)="dismiss()"> Cancelar </button>
  <button mat-raised-button color="primary" (click)="llamadaPendiente()" [disabled]="!comentario"> Reagendar </button>
</div>
