<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title >MODIFICAR ESTADO SOLICITUD</mat-card-title>
  </mat-card-header>
  <h2 style="color: #ff146b">Tienes {{tiempo}} segundos para tipificar o se tipificará por el sistema.</h2>

  <!--  *ngIf="loading"-->

  <mat-card-content>
    <!--    <h3> Cliente: {{cliente}}</h3>
        <h3> Solicitud: {{solicitud}} </h3>-->
    <form [formGroup]="estadoSolcitudCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group" *ngIf="!data.predictivo">
              <mat-form-field>
                <mat-label>ESTADO</mat-label>
                <mat-select formControlName="edoSolicitud" (selectionChange)="getEtiquetas()">
                  <mat-option *ngFor="let edo of edosSolicitud" [value]="edo.id">
                    {{edo.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>TIPIFICACIÓN</mat-label>
                <mat-select formControlName="idEtiquetaSolicitud" (selectionChange)="getSubetiquetas()">
                  <mat-option *ngFor="let etiqueta of etiquetaSolicitud" [value]="etiqueta.id">
                    {{etiqueta.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>SUBTIPIFICACIÓN</mat-label>
                <mat-select formControlName="idSubetiquetaSolicitud">
                  <mat-option *ngFor="let subetiqueta of subetiquetas" [value]="subetiqueta.id">
                    {{subetiqueta.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text"  class="form-control" oncopy="return false"
                       formControlName="comentarios" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="COMENTARIOS" id="comentarios" onDrop="return false" autocomplete="off" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <button mat-button id="actualizar" (click)="tipificarLlamada()" [disabled]="!estadoSolcitudCreateForm.valid">Modificar
    </button>
  </mat-card-actions>
</mat-card>

