th {
  color: white;
}
header {
  width: 100%;
  height: 40px;
  background-color:  #273ABE;
  display: inline-flex;
  opacity: 0.9;

  .titleWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

    p {
      font-size: 22px;
      color: white;
      margin: 0;
    }
  }


  .closeButton {
    width: min-content;
    height: 100%;
    background-color: #FF156B !important;
    border-radius: 0;
    border: 0;

    mat-icon {
      color: white;
      font-weight: 100;
      font-size: 24px;
    }
  }

  .closeButton:focus {
    outline: 0 !important;
    border: 0 !important;
  }
}
.content-modal{
  margin: 10px;
}
.mat-dialog-container{
  padding: 0 !important;
}
