<header>
  <div class="titleWrapper"><p>AGENDA</p></div>
  <button mat-button   (click)="onNoClick()" class="closeButton">
    <mat-icon>close</mat-icon>
  </button>
</header>
<div class="content-modal">
<table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource || errorSpin; else spin"
       class="example-container mat-elevation-z8 ">

  <ng-container matColumnDef="idSolicitud">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> SOLICITUD</th>
    <td mat-cell *matCellDef="let element">
      {{element.idSolicitud}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLEADO</th>
    <td mat-cell *matCellDef="let element">
      {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO</th>
    <td mat-cell *matCellDef="let element"> {{element.numero}}  </td>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE</th>
    <td mat-cell *matCellDef="let element">
      {{element.cliente || 'NUEVO CONTACTO'}} </td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> COMENTARIO</th>
    <td mat-cell *matCellDef="let element" style="max-width: 230px">
      {{element.comentario}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="llamar(element.id, element.numero, element.idSolicitud)" *ngIf="puedeLlamar">
        <mat-icon matTooltip="Llamar">call</mat-icon>
      </button>
      <button mat-icon-button (click)="atendida(element.id)">
        <mat-icon matTooltip="Marcar como atendida">check</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.background]="row.idEstadoLlamada == 9 ? 'aliceblue'  : 'antiquewhite'"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
<ng-template #spin >
  <mat-spinner  ></mat-spinner>
</ng-template>
</div>


