/*.container{
  margin-top: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

.aseguradora{
  width: 100%;
}

.subir_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.subir_btn_sig{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background: #00a322 !important;
  width: 150px;
}

.btn {
  width: 150px;
}
