<mat-card-content class="container">
<div>
  <h1>ELIGE LA ASEGURADORA A EMITIR</h1>
</div>

<!--<nav mat-tab-nav-bar>
  <a mat-tab-link [active]="clienteForm.controls.razonSocial.value === 1" [disabled]="idCliente !== 0"
     (click)="actualizarFormulario(1)">
    Físico
  </a>
  <a mat-tab-link [active]="clienteForm.controls.razonSocial.value === 2" [disabled]="idCliente !== 0"
     (click)="actualizarFormulario(2)">
    Moral
  </a>
</nav>-->

<div class="form">
  <mat-form-field appearance="fill">
    <mat-label>Aseguradora</mat-label>
    <mat-select [formControl]="aseguradoraForm">
      <input class="filter" (keyup)="onKey($event.target.value)" placeholder="¿Qué seguradora estás buscando?" autocomplete="off" class="aseguradora">
      <mat-option *ngFor="let aseg of aseguradoraServ" [value]="aseg" (onSelectionChange)="cambiarCeCo(0, aseg.nombreComercial)">
        {{ aseg.nombreComercial | uppercase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h5 *ngIf="aseguradoraForm.value.nombreComercial === 'QUALITAS' ||
             aseguradoraForm.value.nombreComercial === 'GNP' ||
             aseguradoraForm.value.nombreComercial === 'MAPFRE' ||
             aseguradoraForm.value.nombreComercial === 'BANORTE'">
    SUBIR LOS SIGUIENTES DOCUMENTOS
  </h5>
  <div class="subir_btn" *ngIf="aseguradoraForm.value.nombreComercial === 'QUALITAS' ||
             aseguradoraForm.value.nombreComercial === 'GNP' ||
             aseguradoraForm.value.nombreComercial === 'MAPFRE' ||
             aseguradoraForm.value.nombreComercial === 'BANORTE'">
    <button mat-raised-button class="subir_btn_sig"
            *ngIf="archivoValidoVehiculo && archivoValidoCliente && archivoValidoPoliza && archivoValidoDomicilio && documentosForm.valid"
            (click)="sendOCR()">
      Continuar</button>
    <form [formGroup]="documentosForm">
      <button mat-raised-button class="btn" [disabled]="archivoValidoPoliza"  (click)="fileInput1.click()">Póliza</button>
      <input hidden accept="application/pdf" type="file" #fileInput1 (change)="almacenarArchivoPoliza()"/>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Documento de Cliente</mat-label>
        <mat-select formControlName="cliente">
          <input class="filter" (keyup)="onKey($event.target.value)" placeholder="¿Qué documento de identificacion mando el cliente?" autocomplete="off">
          <mat-option *ngFor="let doc of clientesDoc" [value]="doc">
            {{ doc | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="btn" [disabled]="archivoValidoCliente" *ngIf="documentosForm.controls.cliente.value != ''" (click)="fileInput2.click()">{{documentosForm.controls.cliente.value}}</button>
      <input hidden accept="application/pdf" type="file" #fileInput2 (change)="almacenarArchivoCliente()"/>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Documento de Domicilio</mat-label>
        <mat-select formControlName="domicilio">
          <input class="filter" (keyup)="onKey($event.target.value)" placeholder="¿Qué documento de domicilio mando el cliente?" autocomplete="off">
          <mat-option *ngFor="let doc of domicilioDoc" [value]="doc">
            {{ doc | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="btn" [disabled]="archivoValidoDomicilio" *ngIf="documentosForm.controls.domicilio.value != ''" (click)="fileInput3.click()">{{documentosForm.controls.domicilio.value}}</button>
      <input hidden accept="application/pdf" type="file" #fileInput3 (change)="almacenarArchivoClienteDomicilio()"/>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Documento de Vehiculo</mat-label>
        <mat-select formControlName="vehiculo">
          <input class="filter" (keyup)="onKey($event.target.value)" placeholder="¿Qué documento de vehiculo mando el cliente?" autocomplete="off">
          <mat-option *ngFor="let doc of vehiculoDoc" [value]="doc">
            {{ doc | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="btn" [disabled]="archivoValidoVehiculo" *ngIf="documentosForm.controls.vehiculo.value != ''" (click)="fileInput4.click()">{{documentosForm.controls.vehiculo.value}}</button>
      <input hidden accept="application/pdf" type="file" #fileInput4 (change)="almacenarArchivoVehiculo()"/>
    </form>
  </div>

  <div class="subir_btn" *ngIf="aseguradoraForm.value.nombreComercial !== 'QUALITAS' &&
             aseguradoraForm.value.nombreComercial !== 'GNP' &&
             aseguradoraForm.value.nombreComercial !== 'MAPFRE' &&
             aseguradoraForm.value.nombreComercial !== 'BANORTE'">
    <button mat-raised-button class="btn"  (click)="siguiente()">Continuar</button>
  </div>

</div>
</mat-card-content>
