p {
  color: #364088; text-align: center;  font-family: Arial, Helvetica, sans-serif;
}
.titulo {
  color: #364088; text-align: center;  font-family: Arial, Helvetica, sans-serif; font-size: 2rem;
}

