.contaier {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mat-icon{
  color: #5bb34b;
  font-size: 82px;
  width: auto;
  height: auto;
}

p{
  margin: 0;
}

.text-succes {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #4f2e82;
}

.subtext {
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  color: #4f2e82;
}
.nextButtonWrapper{
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
}
.nextButton{
  margin-top: 14px;
  background-color: #5bb34b !important;
  color: white;
}
