<app-preloader-cotizacion *ngIf="!this.dataArrayCotizacion; else elseBlock"></app-preloader-cotizacion>
<ng-template #elseBlock>
  <div [ngClass]="{
                    qualitasQuote: nombreAseguradorab.toUpperCase() === 'QUALITAS',
                    gnpQuote: nombreAseguradora.toUpperCase() ==='GNP',
                    mapfreQuote: nombreAseguradora.toUpperCase() === 'MAPFRE'
                  }"
  >
    <div class="container">
          <div class="container-info">
            <!-- DATOS DEL VEHICULO -->
            <div class="data-img">
              <img src="{{ imageSRC }}" alt="" class="insureImage"/>
            </div>
            <div class="dataVehicle">
              <p class="titleDataVehicle">Datos del vehículo</p>
              <p class="titleDescriptionDataVehicle"><b>{{ tabSelectedText }}</b></p>
              <p class="titleDescriptionDataVehicle">{{ vehicleDataText }}</p>
            </div>
          </div>
          <div class="titlesWrapper">
            <p>Tipo de cobertura:</p>
          </div>
          <div class="container-tabs">
      <!--      no borrar futuro poder cotizar con coberturas modificables-->
            <mat-tab-group class="tabsGroup"
                           mat-align-tabs="center"
                           [selectedIndex]="selected.value"
                           (selectedIndexChange)="setValue($event)"
                           (selectedTabChange) = "intab($event)">

              <mat-tab class="tamano" *ngFor="let tab of tabs; let index = index" [label]="tab">
                <ng-template matTabContent>
                  <app-tabla-emision-cotizacion *ngIf="coberturasTabla"
                                                [dataVehicle]="coberturasTabla"
                                                [nombreAseguradora]="nombreAseguradorab"
                                                [banderaCotizacionInspeccion]= true
                                                (coberturasSalida)= "botonRecotizar($event)">
                  </app-tabla-emision-cotizacion>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
            <div class="container-radio" *ngIf="coberturasTabla">
              <div class="paymentPeriod">
                <button [ngClass]="{anualPeriod: true, activeButton: methodSelected === 0}" (click)="changeSelectedMethod(0)">Anual</button>
                <button *ngIf="this.nombreAseguradorab != 'GNP'" [ngClass]="{montPeriod: true, activeButton: methodSelected === 1}" (click)="changeSelectedMethod(1)">Semestral</button>
                <button *ngIf="this.nombreAseguradorab != 'GNP'" [ngClass]="{montPeriod: true, activeButton: methodSelected === 2}" (click)="changeSelectedMethod(2)">Trimestral</button>
              </div>
              <div class="amountWrapper">
                <p *ngIf="this.nombreAseguradorab === 'QUALITAS'">
                  {{banderaCotizacionInspeccion ? ('30% de descuento') : ('23% de descuento')}}</p>
                <p *ngIf="this.nombreAseguradorab === 'MAPFRE'">25% de descuento</p>
                <table>
                  <tr>
                    <td class="price">Precio Oferta:</td>
                    <td class="price">{{(primaTotal !== 0) ? (primaTotal | currency) : 'no disponible'}}</td>
                  </tr>
                  <tr *ngIf="this.nombreAseguradorab === 'QUALITAS'">
                    <td>Precio Regular:</td>
                    <td class="oldPrice">{{banderaCotizacionInspeccion ? (primaTotal * 1.30 | currency) : (primaTotal * 1.23 | currency)}}</td>
                  </tr>
                  <tr *ngIf="this.nombreAseguradorab === 'QUALITAS'">
                    <td>Ahorra:</td>
                    <td>{{banderaCotizacionInspeccion ? (primaTotal * 1.30 - primaTotal | currency) : (primaTotal * 1.23 - primaTotal | currency)}}</td>
                  </tr>
                  <tr *ngIf="this.nombreAseguradorab === 'MAPFRE'">
                    <td>Precio Regular:</td>
                    <td class="oldPrice">{{(primaTotal * 1.25 | currency)}}</td>
                  </tr>
                  <tr *ngIf="this.nombreAseguradorab === 'MAPFRE'">
                    <td>Ahorra:</td>
                    <td>{{(primaTotal * 1.25 - primaTotal | currency)}}</td>
                  </tr>
                  <tr *ngIf="!ocultarPagosSubsecuentes">
                    <td>Pago Inicial:</td>
                    <td>{{primerPago | currency}}</td>
                  </tr>
                  <tr *ngIf="!ocultarPagosSubsecuentes">
                    <td>Siguientes:</td>
                    <td>{{pagoSubsecuente | currency}}</td>
                  </tr>
                </table>
              </div>
              <br><br>
              <button mat-raised-button
                      class="button-download"
                      [ngClass]="nombreAseguradora ==='GNP'?'aling-btn':''"
                      (click)="download()">
                        <mat-icon>download</mat-icon>DESCARGAR COTIZACIÓN
              </button>
              <br><br>
              <button *ngIf="this.nombreAseguradorab === 'QUALITAS' && ocultarBoton === true && banderaCotizacionInspeccion === true"
                      mat-raised-button
                      class="button-inspeccion"
                      (click)="cotizacionNormal()">
                        COTIZAR SIN INSPECCION
              </button>

              <!--        si banderaCotizacionInspeccion es true hara cotizacion por inspeccion previa -->
              <button *ngIf="this.nombreAseguradorab === 'QUALITAS' && ocultarBoton === true && banderaCotizacionInspeccion === false"
                      mat-raised-button
                      class="button-inspeccion"
                      (click)="cotizacionInspeccion()">
                        COTIZAR CON INSPECCION
              </button>
              <br>
              <hr>
              <button *ngIf="this.idTipoModificar !== 2 && ocultarBoton === true "
                      mat-raised-button
                      [disabled]="primaTotal === 0 "
                      (click)="crearEmision()"
                      class="button-emmit-policie">
                        EMITIR
              </button>
              <button *ngIf="this.idTipoModificar === 2 && ocultarBoton === true"
                      mat-raised-button
                      [disabled]="primaTotal === 0 "
                      (click)="crearEmision()"
                      class="button-emmit-policie">
                        EMITIR
              </button>
              <br>
              <hr>
            </div>
          </div>
    </div>
  </div>

<!--  manda a llamar una app donde se dibuja un documento de la cotizacion -->
  <app-pdf  *ngIf="this.nombreAseguradorab === 'QUALITAS' || this.nombreAseguradorab === 'GNP' || nombreAseguradora === 'MAPFRE'" [cotizacionRespuesta]="this.datosPDF" [selected]="this.selected.value" [imagenLogo] ="this.imageSRC" [nombreCliente]="this.nombreCliente" [reqCotizacion]="this.cotizacion"></app-pdf>
</ng-template>

<!--<app-pdf  *ngIf="dataArrayCotizacion && this.nombreAseguradorab === 'QUALITAS'" [cotizacionRespuesta]="this.dataArrayCotizacion" [selected]="this.selected.value" [imagenLogo] ="this.imageSRC"  ></app-pdf>-->
