$qualitas-color: #8f1180;
$qualitas-colorLight: #f1e9f0;
$gnp-color: #ef7a3d;
$gnp-colorLight: #f5ede9;
$mapfre-color: #AC0404;
$mapfre-colorLight: #f7e6e4;

@mixin insuranceQuote($main-color, $side-color) {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  min-height: calc(100vh - 60px);

  .container {  
    width: 100%;
    .container-info {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      height: 96px;
      align-items: center;
      border-bottom: 1px solid #8f1180;
      padding: 8px 0;
      margin-bottom: 10px;

      .data-img {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .insureImage {
          width: 200px;
          height: 80px;
        }
      }

      .dataVehicle{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;


        p{
          margin: 0;
          text-align: end;
        }
  
        .titleDataVehicle {
          color: $main-color;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
        }
  
        .titleDescriptionDataVehicle {
          color: #515874;
        }
      }
    }
    .titlesWrapper{
      width: 100%;
      height: 36px;
      display: flex;
      justify-content: flex-start;

      p{
        width: calc(75% - 25px);
        text-align: center;
        background-color: $main-color;
        color: white;
        margin: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 10px;
        font-size: 14px;
        font-weight: 500;
      }
    }
    
    .container-tabs {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;

      .tabsGroup {
        width: 75%;
        padding-right: 25px;

        ::ng-deep .mat-tab-label-container{
          background-color: $main-color;
        
          .mat-tab-label{
            color: white;
            min-width: 140px !important;
          }
          .mat-tab-list{
            .mat-ink-bar{
              background-color: #ffffff;
            }
          }
        }
      }

      .container-radio {
        width: 25%;
        transform: translateY(-36px);
        display: inline-block;
        justify-content: center;
        align-items: center;

        .paymentPeriod{
          width: 100%;
          display: flex;
          align-items: end;
  
          button{
            font-size: 12px;
            height: 28px;
            background-color: $side-color;
            color: #9f9f9f;
            border-top-left-radius: 12px;
            border: 1px solid #dcd8e7;
            border-top-right-radius: 12px;
          }
  
          .activeButton{
            border: 0;
            height: 36px;
            background-color: $main-color;
            color: white;
            font-weight: 500;
          }
  
          .anualPeriod{
            width: 20%;
          }
  
          .montPeriod{
            width: 40%;
          }
        }

        .amountWrapper{
          background-color: $side-color;
          border: dashed 1px $main-color;
          padding: 8px;

          p{
            margin-bottom: 8px;
            text-align: center;
            font-weight: 500;
            color: $main-color !important;
          }

          table{
            tr{
              td:nth-of-type(2){
                text-align: right;
              }
              
              .oldPrice{
                text-decoration: line-through;
              }
              .price{
                font-weight: 500;
                color: $main-color;
              }
            }
          }
        }

        .aling-btn{
          bottom: -70px;
        }

        .button-emmit-policie {
          width: 100%;
          background-color: #00a322;
          transition: all linear 0.4s;
          color: white;
        }
        .updateCot{
          margin-bottom: 28px;
        }
        .button-emmit-policie:hover {
          background: #00a322 !important;
        }
        .button-emmit-policie:disabled:hover {
          width: 100%;
          background-color: #808080;
          transition: all linear 0.4s;
          color: white;
        }

        .button-inspeccion {
          width: 100%;
          background-color: #FF156B;
          transition: all linear 0.4s;
          color: white;
        }
        .button-inspeccion:hover {
          background: #FF156B !important;
        }

        .button-download {
          width: 100%;
          background-color: #233085;
          transition: all linear 0.4s;
          color: white;
        }
        .button-download:disabled {
          width: 100%;
          background-color: #dcdce1;
          transition: all linear 0.4s;
          color: #b9b9b9;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .container{
      .container-info .dataVehicle{
        .titleDataVehicle {
          font-size: 14px;
        }
  
        .titleDescriptionDataVehicle {
          font-size: 13px;
        }
      }
      .titlesWrapper{
        p{
          width: calc(70% - 14px);
          font-size: 13px;
        }
      }

      .container-tabs{
        .container-radio{
          width: 30%;

          .amountWrapper{
            p{
              font-size: 13px;
            }

            table tr td{
              font-size: 12px;
            }
          }

          .button-download, .button-inspeccion, .button-emmit-policie{
            font-size: 12px;
          }
        }
        .tabsGroup{
          width: 70%;
          padding-right: 14px;

          ::ng-deep .mat-tab-label-container{
            .mat-tab-label{
              font-size: 13px
            }
          }
        }
      }
    }

  }
}

.qualitasQuote{
  @include insuranceQuote($qualitas-color, $qualitas-colorLight);
}

.gnpQuote{
  @include insuranceQuote($gnp-color, $gnp-colorLight);
}

.mapfreQuote{
  @include insuranceQuote($mapfre-color, $mapfre-colorLight);
}



