<div *ngIf="permisos?.VN?.productividad">
  <mat-card-title style="margin-top: 15px;">
    REPORTE PRODUCTIVIDAD POR CAMPAÑA
  </mat-card-title>

  <mat-card>
    <mat-card-header>
      <mat-card-title>FECHA</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayoutAlign="space-between" fxLayoutGap="12px">
      <mat-form-field appearance="fill">
        <mat-label>FECHA INICIO</mat-label>
        <input matInput [matDatepicker]="picker1"
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               matTooltip="Agregar fecha inicio"
        >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>FECHA FIN</mat-label>
        <input matInput [matDatepicker]="picker2"
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha fin"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
      <div fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex="60">
        <button [hidden]="btnSendingDates && btnSendingDates2"
                mat-raised-button fxFlex="50"
                (click)="getFechas(rangeDates)"
                *ngIf="permisos?.VN?.productividad.fechas"
                >
                DESPLEGAR FECHAS

        </button>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card fxLayoutAlign="space-between" fxLayoutGap="16px">
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Tipo de Contacto</mat-label>-->
<!--      <mat-select (selectionChange)="findAll()" [(value)]="idTipoContacto">-->
<!--        <mat-option *ngFor="let contacto of tipoContactos" [value]="contacto.id">-->
<!--          {{contacto.descripcion}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

    <mat-form-field appearance="fill">
      <mat-label>Campaña</mat-label>
      <mat-select (selectionChange)="findAll()" [(value)]="idDepartamento">
        <mat-option *ngFor="let tipoSub of tipoSubareas" [value]="tipoSub.idDepartamento">
          {{tipoSub.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card fxLayoutAlign="space-between" fxLayoutGap="16px">
    <mat-card style="background-color: #e6e6e6">
      <mat-card-title>Prima</mat-card-title>
      <div *ngIf="primaNetaAplicada !== undefined && primaNetaEmitida !== undefined && primaNetaCobrada !== undefined">
        <p>Total de Prima Aplicada: <span >{{primaNetaAplicada | currency: 'MXN'}}</span></p>
        <p>Total de Prima Cobrada: <span >{{primaNetaCobrada | currency: 'MXN'}}</span></p>
        <p>Total de Prima Emitida: <span >{{primaNetaEmitida | currency: 'MXN'}}</span></p>
      </div>
      <div class="loaderBar" *ngIf="primaNetaAplicada === undefined && primaNetaEmitida === undefined && primaNetaCobrada === undefined">
        <p style="text-align: center;" class="parpadea text">Calculando datos...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-card>

    <mat-card style="background-color: #e6e6e6">
      <mat-card-title>Polizas</mat-card-title>
      <div *ngIf="polizasAplicadas !== undefined && polizasCobradas !== undefined && polizasEmitidas !== undefined">
        <p>Total de Prima Aplicada: <span >{{polizasAplicadas | number}}</span></p>
        <p>Total de Prima Cobrada: <span >{{polizasCobradas | number}}</span></p>
        <p>Total de Prima Emitida: <span >{{polizasEmitidas | number}}</span></p>
      </div>
      <div class="loaderBar" *ngIf="polizasAplicadas === undefined && polizasCobradas === undefined && polizasEmitidas === undefined">
        <p style="text-align: center;" class="parpadea text">Calculando datos...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-card>

    <mat-card fxLayout="column">
      <mat-card *ngIf="totalContactos !== undefined">
        <mat-card-title style="font-size: 1.5rem;">Total contactos</mat-card-title>
        <p style="color: #364088; text-align: center; font-size: 1.5rem; margin-top: 15px;">{{totalContactos | number}}</p>
      </mat-card>
      <div class="loaderBar" *ngIf="totalContactos === undefined">
        <p style="text-align: center;" class="parpadea text">Contando tus contactos...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <mat-card class="conversiones-content2" *ngIf="conversiones !== undefined">
        <mat-card-title>Conversión</mat-card-title>
        <p style="color: #364088; text-align: center; font-size: 1.5rem; margin-top: 15px;">{{conversiones | percent: '1.0-2' }}</p>
      </mat-card>

      <div class="loaderBar" *ngIf="conversiones === undefined">
        <p style="text-align: center;" class="parpadea text">Calculando conversión...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

    </mat-card>
  </mat-card>

  <mat-card *ngIf="permisos?.VN?.productividad.tablas">
    <mat-card-title>TABLAS</mat-card-title>

    <div fxLayoutAlign="space-between center">
      <button *ngIf="panelExpand == false && panelExpand2 == false" mat-raised-button (click)="myPanels.openAll()">DESPLEGAR TABLAS</button>
      <button *ngIf="panelExpand == true && panelExpand2 == true || panelExpand2 == true || panelExpand == true " mat-raised-button (click)="myPanels.closeAll()">CERRAR TABLAS</button>
      <p class="question" (click)="openHelpModal()" matTooltip="Como ver los datos de la tabla">AYUDA</p>
    </div>

    <mat-accordion #myaccordion="matAccordion" multi="true" >
      <mat-expansion-panel style="margin-bottom: 10px;"
                           (opened)="panelExpand2 = true"
                           (closed)="panelExpand2 = false">
        <mat-expansion-panel-header style="background-color:#364088; ">
          <mat-panel-title matTooltip="DA CLICK PARA ABRIR O CERRAR LA TABLA" fxLayoutAlign="space-between">
            <p style="color: #ffffff; text-align: center; font-size: 1.1rem; font-weight: bold;">
              PRODUCTIVIDAD POR EJECUTIVO </p>
            <p style="color: #ffffff; font-size: 1rem; font-weight: bold; margin-left: 54%;">
              TABLA {{panelExpand2 ? 'ABIERTA' : 'CERRADA'}} </p>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>

          <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource"  matSort  #sort>

              <ng-container matColumnDef="tipoSubarea" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAÑA </th>
                <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
                <td mat-footer-cell *matFooterCellDef> TOTAL </td>
              </ng-container>

              <ng-container matColumnDef="nombreEjecutivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > EJECUTIVO </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreEjecutivo}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="antiguedad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > DÍAS EN LA EMPRESA </th>
                <td mat-cell *matCellDef="let element"> {{element.antiguedad}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="conversion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CONVERSIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.polizasCobradas / element.contactos | percent: '1.0-2'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{polizasCobradas/totalContactos | percent: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="contactos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACTOS </th>
                <td mat-cell *matCellDef="let element"> {{element.contactos}} </td>
                <td mat-footer-cell *matFooterCellDef> {{totalContactos}} </td>
              </ng-container>

              <ng-container matColumnDef="polizasEmitidas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NPE </th>
                <td mat-cell *matCellDef="let element"> {{element.polizasEmitidas}} </td>
                <td mat-footer-cell *matFooterCellDef> {{polizasEmitidas}}</td>
              </ng-container>

              <ng-container matColumnDef="primaNetaEmitida">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PNE </th>
                <td mat-cell *matCellDef="let element"> {{element.primaNetaEmitida | currency: 'MXN'}} </td>
                <td mat-footer-cell *matFooterCellDef>{{primaNetaEmitida | currency: 'MXN'}} </td>
              </ng-container>

              <ng-container matColumnDef="polizasCobradas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NPC </th>
                <td mat-cell *matCellDef="let element"> {{element.polizasCobradas}} </td>
                <td mat-footer-cell *matFooterCellDef> {{polizasCobradas}} </td>
              </ng-container>

              <ng-container matColumnDef="primaNetaCobrada">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PNC </th>
                <td mat-cell *matCellDef="let element"> {{element.primaNetaCobrada | currency: 'MXN'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{primaNetaCobrada | currency: 'MXN'}} </td>
              </ng-container>

              <ng-container matColumnDef="polizasAplicadas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NPA </th>
                <td mat-cell *matCellDef="let element"> {{element.polizasAplicadas}} </td>
                <td mat-footer-cell *matFooterCellDef> {{polizasAplicadas}} </td>
              </ng-container>

              <ng-container matColumnDef="primaNetaAplicada">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PNA </th>
                <td mat-cell *matCellDef="let element"> {{element.primaNetaAplicada | currency: 'MXN'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{primaNetaAplicada | currency: 'MXN'}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
          <!--            FIN DE LA TABLA-->

          <mat-paginator #paginador
                         [pageSizeOptions]="[100, 50, 10]"
                         showFirstLastButtons>
          </mat-paginator>
        </div>

      </mat-expansion-panel>


<!--      <mat-expansion-panel style="margin-bottom: 10px;"-->
<!--                           (opened)="panelExpand3 = true"-->
<!--                           (closed)="panelExpand3 = false">-->
<!--        <mat-expansion-panel-header style="background-color:#364088; ">-->
<!--          <mat-panel-title matTooltip="DA CLICK PARA ABRIR O CERRAR LA TABLA" fxLayoutAlign="space-between">-->
<!--            <p style="color: #ffffff; text-align: center; font-size: 1.1rem; font-weight: bold;">-->
<!--              DISTRIBUCIÓN POR EMISIÓN </p>-->
<!--            <p style="color: #ffffff; font-size: 1rem; font-weight: bold; margin-left: 54%;">-->
<!--              TABLA {{panelExpand3 ? 'ABIERTA' : 'CERRADA'}} </p>-->
<!--          </mat-panel-title>-->

<!--        </mat-expansion-panel-header>-->

<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Filter</mat-label>-->
<!--            <input matInput (keyup)="applyFilterDist($event.target.value)" placeholder="Filtrar">-->
<!--          </mat-form-field>-->

<!--          <div class="example-container2 mat-elevation-z8" fxLayoutAlign="center">-->
<!--            <table mat-table [dataSource]="dataSourceDistribucion"  matSort #sortDist>-->

<!--              <ng-container matColumnDef="nombreComercial" >-->
<!--                <th mat-header-cell *matHeaderCellDef mat-sort-header> SOCIO </th>-->
<!--                <td mat-cell *matCellDef="let element">{{ element.nombreComercial }}</td>-->
<!--                <td mat-footer-cell *matFooterCellDef></td>-->
<!--              </ng-container>-->

<!--              <ng-container matColumnDef="primaNetaCobrada">-->
<!--                <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMA NETA COBRADA </th>-->
<!--                <td mat-cell *matCellDef="let element"> {{ element.primaNetaCobrada | currency: 'MXN' }} </td>-->
<!--                <td mat-footer-cell *matFooterCellDef> {{ primaNetaCobradaDist | currency: 'MXN' }} </td>-->
<!--              </ng-container>-->

<!--              <ng-container matColumnDef="polizasCobradas">-->
<!--                <th mat-header-cell *matHeaderCellDef mat-sort-header> PÓLIZAS COBRADAS  </th>-->
<!--                <td mat-cell *matCellDef="let element"> {{ element.polizasCobradas }} </td>-->
<!--                <td mat-footer-cell *matFooterCellDef>{{polizasCobradas}}</td>-->
<!--              </ng-container>-->

<!--              <ng-container matColumnDef="porcentajePrima">-->
<!--                <th mat-header-cell *matHeaderCellDef> % PRIMA </th>-->
<!--                <td mat-cell *matCellDef="let element"> {{ element.primaNetaCobrada / primaNetaCobradaDist | percent  }} </td>-->
<!--                <td mat-footer-cell *matFooterCellDef> {{ primaNetaCobradaDist / primaNetaCobradaDist | percent  }} </td>-->
<!--              </ng-container>-->

<!--              <ng-container matColumnDef="porcentajePolizas">-->
<!--                <th mat-header-cell *matHeaderCellDef> % PÓLIZAS </th>-->
<!--                <td mat-cell *matCellDef="let element"> {{ element.polizasCobradas / polizasCobradasDist | percent }} </td>-->
<!--                <td mat-footer-cell *matFooterCellDef>{{polizasCobradasDist / polizasCobradasDist | percent}}</td>-->
<!--              </ng-container>-->

<!--              <tr mat-header-row *matHeaderRowDef="displayedColumnsDistribucion"></tr>-->
<!--              <tr mat-row *matRowDef="let row; columns: displayedColumnsDistribucion;"></tr>-->
<!--              <tr mat-footer-row *matFooterRowDef="displayedColumnsDistribucion"></tr>-->
<!--            </table>-->
<!--          </div>-->
<!--          &lt;!&ndash;            FIN DE LA TABLA&ndash;&gt;-->

<!--          <mat-paginator #paginadorDist-->
<!--                         [pageSizeOptions]="[100, 50, 10]"-->
<!--                         showFirstLastButtons>-->
<!--          </mat-paginator>-->
<!--        </div>-->

<!--      </mat-expansion-panel>-->


    </mat-accordion>
  </mat-card>



</div>
