mat-card-title{
  color: #354089;
}


.question {
  color: #364088;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease-in-out 0.4s;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.question:hover {
  cursor: pointer;
  color: #df1d52;
}
.mat-expansion-panel-header{
  margin-top: 20px;
}
.example-container {
  height: 600px;
  overflow: auto;
}
.example-container2 {
  height: 600px;
  width: 100%;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
.parpadea {

  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
.text {
  font-size:1.3rem;
  font-family:helvetica;
  font-weight:bold;
  color: #333bd9;
  text-align: center;
}
@-moz-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.conversiones-content2 {
  background-color: rgba(255, 0, 0, 0.35);
}
th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  background-color: #C33764;
  color: white;
  width: 25%;
}

th, td {
  text-overflow: revert;
  white-space: pre;
}
