<mat-card *ngIf="permisos?.VN?.out">
  <mat-card-title style="text-align: center; color: #354089">
    Llamadas actuales
  </mat-card-title>

  <div fxLayoutAlign="end" >

    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)=" getData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-content>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterLlamadas($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort #sortLlamadas class="mat-elevation-z8 ">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id llamada</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef > nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="extension">
          <th mat-header-cell *matHeaderCellDef> extension</th>
          <td mat-cell *matCellDef="let element">
            {{element.extension}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoLlamada">
          <th mat-header-cell *matHeaderCellDef> Tipo Llamada</th>
          <td mat-cell *matCellDef="let element">
            {{element.tipoLlamada}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef > fechaInicio</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date:"dd/MM/yyyy" }} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef > numero</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="campania">
          <th mat-header-cell *matHeaderCellDef>CAMPAÑA</th>
          <td mat-cell *matCellDef="let element">
            {{element.departamento}}
        </ng-container>

        <ng-container matColumnDef="tiempo">
          <th mat-header-cell *matHeaderCellDef>TIEMPO EN LLAMADA</th>
          <td mat-cell *matCellDef="let element">
            {{element.tiempo}}
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions" *ngIf="puedeLlamar && (extension.length > 0 && extension !== 'null')">

<!--              <mat-icon  matTooltip="Finalizar llamada"  mat-raised-button (click)="finalizar(element.id, 6)">person_search-->
<!--              </mat-icon>-->

              <mat-icon  matTooltip="Espiar llamada"  mat-raised-button (click)="openSupervisar(element.extension, element.nombre, 'espiar', element.id)">person_search
              </mat-icon>

              <mat-icon matTooltip="Couching"  mat-raised-button (click)="openSupervisar(element.extension, element.nombre, 'couch', element.id)">supervised_user_circle
              </mat-icon>

              <mat-icon matTooltip="Conferencia"  mat-raised-button (click)="openSupervisar(element.extension, element.nombre, 'conferencia', element.id)">groups
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
      </table>
      <mat-paginator
        #paginadorLlamadas
        [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

    <br>

    <div>

      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterUsuarios($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <table mat-table [dataSource]="usersSource" matSort #sortUsuarios class="mat-elevation-z8 ">

        <ng-container matColumnDef="extension">
          <th mat-header-cell *matHeaderCellDef> Extensión</th>
          <td mat-cell *matCellDef="let element">{{element.extension}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado</th>
          <td mat-cell *matCellDef="let element">
            {{element.estado}} </td>
        </ng-container>


        <ng-container matColumnDef="campania">
          <th mat-header-cell *matHeaderCellDef>Departamento</th>
          <td mat-cell *matCellDef="let element">
            {{element.depto}}
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayUserColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayUserColums;"></tr>
      </table>
      <mat-paginator #paginadorUsuarios [pageSizeOptions]="[5,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


