
<div *ngIf="imagenes && contador === (imagenes.length - 1) ||
            !visualizarGaceta">
  <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 5px;">
    <button mat-icon-button
            color="primary"
            style="position: relative; left: 10px;"
            matTooltip="Cerrar"

            (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card-title >BOLETÍN SEMANAL</mat-card-title>
  </div>

</div>


<mat-spinner *ngIf="!imagenes; else cuerpoModal"></mat-spinner>

<ng-template #cuerpoModal>
  <div *ngIf="imagenes.length === 0;
  else visualizarImagenes">
    No hay gacetas por visualizar
  </div>
  <ng-template #visualizarImagenes>
    <mat-dialog-content style="text-align: center; margin: 2%;">
      <img [src]="'https://drive.google.com/uc?export=view&id=' + imagenes[contador].archivo" width="90%"
           (click)="redireccionar()"/>
      <p *ngIf="imagenes[contador].link"
         class="link">
        Esta imagen tiene un link, da click sobre la imagen para abrirlo
      </p>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center ">

<!--      <div >-->
        <button mat-icon-button
                color="primary"
                matTooltip="Imagen anterior"
                [disabled]="contador === 0"
                style="margin-right: 16px;"
                (click)="moverContador(false)">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>

        <button mat-icon-button color="primary" matTooltip="Imagen siguiente"
                [disabled]="contador === (imagenes.length - 1)" (click)="moverContador(true)">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
<!--      </div>-->


<!--      <div class="container">-->
<!--        <div class="row align-items-center">-->
<!--          <div class="col-6"-->
<!--               style="text-align: end;">-->
<!--            <button mat-icon-button-->
<!--                    color="primary"-->
<!--                    matTooltip="Imagen anterior"-->
<!--                    [disabled]="contador === 0"-->
<!--                    (click)="moverContador(false)">-->
<!--              <mat-icon>arrow_back_ios</mat-icon>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="col-6" style="text-align: left;">-->
<!--            <button mat-icon-button-->
<!--                    color="primary"-->
<!--                    matTooltip="Imagen siguiente"-->
<!--                    [disabled]="contador === (imagenes.length - 1)"-->
<!--                    (click)="moverContador(true)">-->
<!--              <mat-icon>arrow_forward_ios</mat-icon>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </mat-dialog-actions>
  </ng-template>
</ng-template>

