<mat-card-title> SELECCIONA EL MOTIVO DE LA PAUSA</mat-card-title>
<mat-card-content>
  <div class="form-group">
    <form [formGroup]="motivoPausaForm">
      <mat-form-field>
        <mat-label>Motivo</mat-label>
        <mat-select formControlName="motivos">
          <mat-option [value]="option" *ngFor="let option of motivos">
            {{option.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</mat-card-content>
<mat-card-actions class="d-flex justify-content-between">
  <button mat-button [disabled]="!aparecer" class="rojo" (click)="close()">Cancelar</button>
  <button mat-button class="enviar" (click)="enviar()">Enviar</button>
</mat-card-actions>
