<div [hidden]="hide">
  <mat-card>
    <div class="flex-container">
      <div class="reload-all">
        <button mat-icon-button *ngIf="!this.sinDatos">
          <mat-icon (click)="mensajesPendientes()">refresh</mat-icon>
        </button>
      </div>
    </div>


    <mat-card-title style="text-align: center;">
      Mensajes pendientes Whatsapp
    </mat-card-title>

    <mat-card-content>
      <div *ngIf="!this.sinDatos">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="solicitud">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SOLICITUD</th>
            <td mat-cell *matCellDef="let element">
              {{element.correlationId}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA</th>
            <td mat-cell *matCellDef="let element">
              {{element.fecha | date: 'short'}} </td>
          </ng-container>

          <ng-container matColumnDef="mensaje">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MENSAJE</th>
            <td mat-cell *matCellDef="let element">
              {{element.mensaje}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span>ACCIONES</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="actions">

                <div class="notification">
                  <mat-icon (click)="enviarWha(element)" [matBadge]="element.cant">
                    <div class="whatsapp-icon"></div>
                  </mat-icon>
                </div>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="cols"></tr>
          <tr mat-row *matRowDef="let row; columns: cols;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      </div>
      <div *ngIf="this.sinDatos" class="container">
        <h3 style="justify-content: center; align-items: center; display: flex; margin-top: 100px;">
          No tienes mensajes por responder...
        </h3>
      </div>
      <!--  </nb-card-body>-->
    </mat-card-content>
  </mat-card>
</div>

<div [hidden]="!hide">
  <!--  <div *ngIf="cargando && !sinDatos">-->
  <!--  <div>-->
  <!--    <div class="spinner-border text-primary" style="width: 20rem; height: 20rem; font-size: 45px;" role="status">-->
  <!--      <span class="sr-only">Loading...</span>-->
  <!--    </div>-->
  <!--    <h3>Cargando datos...</h3>-->
  <!--  </div>-->


  <mat-card class="loaderContainer" *ngIf="cargando && !sinDatos">
    <mat-spinner></mat-spinner>
  </mat-card>


  <div *ngIf="cargarPanel && !cargando">
    <div class="layout">
      <mat-card-title style="text-align: center;">
        Mensajes pendientes Whatsapp
      </mat-card-title>
      <div class="content">
        <mat-card class="sidebar-group col-md-3" style="max-height: 628px; overflow-x: hidden;">
          <div id="chats" class="sidebar active">
            <header>
              <span>Chats</span>
            </header>
            <div class="sidebar-body">
              <ul class="list-group list-group-flush">
                <li *ngFor="let arrData of arrDataMensajes"
                    (click)="getMensajesCanal(arrData.correlationId)"
                    class="list-group-item">
                  <span class="material-icons">
                    chevron_right
                  </span>
                  <div class="users-list-body">
                    <h5>{{ arrData.correlationId }}</h5>
                    <p> {{ arrData.idTipoMensajeWhatsapp === 1 ? arrData.mensaje : 'Mensaje multimedia' }} </p>
                    <div class="users-list-action">
                      <div class="new-message-count" style="margin-top: 30px;">{{ arrData.cant }}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </mat-card>

        <mat-card class="sidebar-group col-md-6">
          <div class=" ">
            <div class="chat chat-box" id="container">
              <div *ngFor="let msg of mensajes">
                <div class="">
                  <div *ngIf="msg.idTipoEnvio === 1" class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                      <p>
                        {{ msg.mensaje }}
                      </p>
                      <div class="check">
                        <span>{{ msg.fecha }}</span>
                        <!--            <img src="img/check-2.png">-->
                      </div>
                    </div>
                  </div>
                  <div *ngIf="msg.idTipoEnvio === 2" class="chat-l">
                    <div *ngIf="msg.idTipoMensajeWhatsapp === 1" class="mess">
                      <p>
                        {{ msg.mensaje }}
                      </p>
                      <div class="check">
                        <span>{{ msg.fecha }}</span>
                      </div>
                    </div>
                    <div *ngIf="msg.idTipoMensajeWhatsapp === 3" class="mess2">
                      <!--                      <a href="{{ msg.mensaje }}" target="_blank" download="imagen">-->
                      <img src="{{ msg.mensaje }}" alt="" (click)="verImagen(msg.mensaje)">
                      <div class="check1">
                        <span>{{ msg.fecha }}</span>
                        <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                        <span class="material-icons" style="font-size: 20px; margin: 3px 10px;
                            padding-top: 7px;">get_app</span>
                        </a>
                      </div>
                      <!--                      </a>-->
                    </div>
                    <div *ngIf="msg.idTipoMensajeWhatsapp === 6" class="mess2">
                      <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                        <img src="{{ msg.mensaje }}" alt="">
                        <div class="check1">
                          <span>{{ msg.fecha }}</span>
                          <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                        <span class="material-icons" style="font-size: 20px; margin: 3px 10px;
                            padding-top: 7px;">get_app</span>
                          </a>
                        </div>
                      </a>
                    </div>
                    <div *ngIf="msg.idTipoMensajeWhatsapp === 8" class="mess2">
                      <!--                      <a href="{{ msg.mensaje }}" target="_blank" download="imagen">-->
                      <span class="material-icons" (click)="verImagen(msg.mensaje)">
                          <div class="pdf-centrado">
                            picture_as_pdf
                          </div>
                        </span>
                      <div class="check1">
                        <span>{{ msg.fecha }}</span>
                        <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                        <span class="material-icons" style="font-size: 20px; margin: 3px 10px;
                            padding-top: 7px;">get_app</span>
                        </a>
                      </div>
                      <!--                      </a>-->
                    </div>
                    <div *ngIf="msg.idTipoMensajeWhatsapp === 4">
                      <audio controls>
                        <source src="{{ msg.mensaje }}" type="audio/ogg">
                      </audio>
                      <div class="check">
                        <span>{{ msg.fecha }}</span>
                      </div>
                    </div>
                    <div *ngIf="msg.idTipoMensajeWhatsapp === 5" class="mess">
                      <iframe width="280" height="300" frameborder="0" [src]=msg.localizacion allowfullscreen></iframe>
                      <div class="check">
                        <span>{{ msg.fecha }}</span>
                      </div>
                    </div>
                    <div class="sp"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-footer">
            <textarea type="text"
                      (keypress)="press($event)"
                      [(ngModel)]="texto"
                      name="texto"
                      autocomplete="off"
                      placeholder="Escribe un mensaje"></textarea>
              <button (click)="enviar()" mat-icon-button style="outline: none; border: none;">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>

        <mat-card class="sidebar-group col-md-3" *ngIf="dataMensajesCanal">
          <div id="contact-information" class="sidebar active">
            <header>
              <span>Información</span>
            </header>
            <div class="sidebar-body">
              <div class="pl-4 pr-4 text-center">
                <figure class="avatar avatar-state-danger avatar-xl mb-4">
              <span class="material-icons" style="font-size: 70px;">
                account_circle
              </span>
                </figure>
                <h5 class="text-primary">{{ dataMensajesCanal.solicitudData.nombreProspecto }}</h5>
                <p class="text-muted">{{ dataMensajesCanal.solicitudData.estado }}</p>
              </div>
              <hr>
              <!--              <div class="pl-4 pr-4">-->
              <!--                <h6>Info.</h6>-->
              <!--                <p class="text-muted">Test test test test test test test test test test test test test test test test-->
              <!--                  test.</p>-->
              <!--              </div>-->
              <hr>
              <div class="pl-4 pr-4">
                <h6>Número</h6>
                <p class="text-muted">{{ dataMensajesCanal.solicitudData.numeroProspecto }}</p>
              </div>
              <hr>
              <!--              <div class="pl-4 pr-4" style="max-height: 165px; overflow-x: hidden;">-->
              <div class="pl-4 pr-4">
                <h6>Media: </h6>
                <mat-tab-group>
                  <mat-tab label="{{ mediaData.tipo }}" *ngFor="let mediaData of mediaMessageArr">
                    <div *ngIf="mediaData.id === 3" style="max-width: 300px; overflow-y: hidden;">
                      <div class="files">
                        <ul class="list-inline">
                          <li class="list-inline-item" *ngFor="let arrMsg of mensajesMultimedia; let i = index">
                            <div *ngIf="arrMsg.idTipoMensajeWhatsapp === 3">
                              <a href="#">
                                <figure class="avatar avatar-lg">
                                  <div>
                                    <a href="{{ arrMsg.mensaje }}" target="_blank" download="imagen">
                                      <img style="width: auto; height: 60px;" src="{{ arrMsg.mensaje }}" alt="">
                                    </a>
                                  </div>
                                </figure>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="mediaData.id === 4" style="max-width: 300px; overflow-y: hidden;">
                      <div class="files">
                        <ul class="list-inline">
                          <li class="list-inline-item" *ngFor="let arrMsg of mensajesMultimedia; let i = index">
                            <div *ngIf="arrMsg.idTipoMensajeWhatsapp === 4">
                              <figure class="avatar avatar-lg">
                                <div>
                                  <audio controls style="width: 40px; height: 23px;">
                                    <source src="{{ arrMsg.mensaje }}" type="audio/ogg">
                                  </audio>
                                </div>
                              </figure>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="mediaData.id === 8" style="max-width: 300px; overflow-y: hidden;">
                      <div class="files">
                        <ul class="list-inline">
                          <li class="list-inline-item" *ngFor="let arrMsg of mensajesMultimedia; let i = index">
                            <div *ngIf="arrMsg.idTipoMensajeWhatsapp === 8">
                              <a href="{{ arrMsg.mensaje }}" target="_blank" download="imagen">
                                <figure class="avatar avatar-lg">
                                  <div>
                                <span class="material-icons">
                                <div class="pdf-media">
                                  picture_as_pdf
                                </div>
                              </span>
                                  </div>
                                </figure>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
                <!--                <div *ngFor="let mediaData of mediaMessageArr">-->
                <!--                  <h6>{{ mediaData.tipo }}</h6>-->
                <!--                  <div *ngIf="mediaData.id === 3" style="max-width: 300px; overflow-y: hidden;">-->
                <!--                    <div class="files">-->
                <!--                      <ul class="list-inline">-->
                <!--                        <li class="list-inline-item" *ngFor="let arrMsg of mensajesMultimedia; let i = index">-->
                <!--                          <div *ngIf="arrMsg.idTipoMensajeWhatsapp === 3">-->
                <!--                            <a href="#">-->
                <!--                              <figure class="avatar avatar-lg">-->
                <!--                                <div>-->
                <!--                                  <a href="{{ arrMsg.mensaje }}" target="_blank" download="imagen">-->
                <!--                                    <img style="width: auto; height: 60px;" src="{{ arrMsg.mensaje }}" alt="">-->
                <!--                                  </a>-->
                <!--                                </div>-->
                <!--                              </figure>-->
                <!--                            </a>-->
                <!--                          </div>-->
                <!--                        </li>-->
                <!--                      </ul>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                  <div *ngIf="mediaData.id === 4" style="max-width: 300px; overflow-y: hidden;">-->
                <!--                    <div class="files">-->
                <!--                      <ul class="list-inline">-->
                <!--                        <li class="list-inline-item" *ngFor="let arrMsg of mensajesMultimedia; let i = index">-->
                <!--                          <div *ngIf="arrMsg.idTipoMensajeWhatsapp === 4">-->
                <!--                            <figure class="avatar avatar-lg">-->
                <!--                              <div>-->
                <!--                                <audio controls style="width: 40px; height: 23px;">-->
                <!--                                  <source src="{{ arrMsg.mensaje }}" type="audio/ogg">-->
                <!--                                </audio>-->
                <!--                              </div>-->
                <!--                            </figure>-->
                <!--                          </div>-->
                <!--                        </li>-->
                <!--                      </ul>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                  <div *ngIf="mediaData.id === 8" style="max-width: 300px; overflow-y: hidden;">-->
                <!--                    <div class="files">-->
                <!--                      <ul class="list-inline">-->
                <!--                        <li class="list-inline-item" *ngFor="let arrMsg of mensajesMultimedia; let i = index">-->
                <!--                          <div *ngIf="arrMsg.idTipoMensajeWhatsapp === 8">-->
                <!--                            <a href="{{ arrMsg.mensaje }}" target="_blank" download="imagen">-->
                <!--                              <figure class="avatar avatar-lg">-->
                <!--                                <div>-->
                <!--                                <span class="material-icons">-->
                <!--                                <div class="pdf-media">-->
                <!--                                  picture_as_pdf-->
                <!--                                </div>-->
                <!--                              </span>-->
                <!--                                </div>-->
                <!--                              </figure>-->
                <!--                            </a>-->
                <!--                          </div>-->
                <!--                        </li>-->
                <!--                      </ul>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
              <hr>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="!cargarPanel">
    <mat-card-title style="text-align: center;">
      Mensajes pendientes Whatsapp
    </mat-card-title>
    <h2>No tienes mensajes por responder...</h2>
  </div>
</div>
