table {
  width: 100%;
}
.color {
  color: red;
}

.estilosModal {
  max-width: none!important;
  background-color: #0bbb79 !important;
}

.loaderContainer {
  width: 96%;
  height: 70vh;
  padding: 0;
  margin: 0 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.loadWord {
  display: inline-flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.notification {
  padding: 1px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.Blink {
  color: #088529;
  //animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

.badgee {
  //position: absolute;
  //top: -6px;
  //right: -73px;
  //padding: 5px 10px;
  //border-radius: 16%;
  background: url('../../../../assets/images/whatsapp.svg') no-repeat center center;
  height: 24px;
  width: 30px;
  filter: invert(55%) sepia(100%) saturate(322%) hue-rotate(79deg) brightness(84%) contrast(106%);
  //filter: invert(25%) sepia(76%) saturate(6211%) hue-rotate(142deg) brightness(95%) contrast(94%);
  //animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
.mat-menu-content {
  width: 345px !important;
  overflow-x: hidden;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.flex-container {
  display: flex;
}

th.mat-sort-header-sorted {
  color: black;
}

.boton-llamar {
  margin-top: -5px;
  margin-left: 20px;
}

.button-input {
  width: 100%;
  display: flex;
  margin-top: 0;
  top: 15px;
  position: relative;
}

.input {
  display: inline-grid;
  width: 50%;
}
.input2 {
  display: inline-grid;
  //width: 50%;
  float: right;
  margin-right: 22px;
}
.mff {
  width: 100% !important;
  text-align: end;
}

.flexStyle {
  width: 100%;
  height: auto;
  display: inline-flex;
}
.mat-form-field {
  width: 40%;
  color: #111218;
}
.mat-input-element {
  color: #111218;
}
.mat-header-cell {
  background-color: #111218;
  color: white;
}
.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.example-user-input {
  margin-right: 8px;
}
#reactivar {
  color: #28B463;
}
button:focus {
  outline: none;
}
.button-detalle {
  background-color: transparent;
  border: none;
}
.crearSolicitudBtn {
  position: relative;
  bottom: 7px;
}
.mat-icon-disabled {
  color: #ccc!important;
  cursor: not-allowed;
}
.timePicker {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #666666;
  cursor: pointer;
  outline: none;
  color: #666;
  margin-right: 17px;
  width: 120px;
}
.fechas-label {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}
.pickTimes {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.btnDesplegar { width: 200px; height: 50px;}
.btnDesplegar:disabled {background-color: #fff;}
#tableContainer {
  overflow: auto;
  padding: 0;
  margin: 0;
}
.buttonsContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: content-box;
  margin-left: 20px;
}
.buttonsVN:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
mat-progress-bar {width: 150px;}
.text {
  font-size:1.1rem;
  font-family:helvetica;
  font-weight:bold;
  color: #333bd9;
  text-align: center;
}
.parpadea {
  animation: parpadeo 0.5s linear infinite;
}

.moverCampana {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.whatsapp-icon {
  background: url('../../../../assets/images/whatsapp.svg') no-repeat center center;
  height: 20px;
  margin-top: 3px;
  width: 30px;
  //filter: invert(108%) sepia(78%) saturate(2999%) hue-rotate(236deg) brightness(72%) contrast(103%);
  filter: invert(55%) sepia(100%) saturate(322%) hue-rotate(79deg) brightness(84%) contrast(106%);
}

.mat-badge-content {
  color: #fff !important;
  background: #d70a0a !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media only screen and(max-width: 1024px) {
  .buttonsContainer {
    margin-left: 5px;
  }
}
.chatSeleccionado {
  background-color: grey;
}

#container {
  //height: 620px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}
#container::-webkit-scrollbar:vertical {
  width:10px;
}

#container::-webkit-scrollbar-button:increment, #container::-webkit-scrollbar-button {
  display: none !important;
}
#container::-webkit-scrollbar-thumb {
  background-color: #797979 !important;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
#container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.container {
  width: 800px;
  margin: auto;
  padding-left: 0;
}
.chat {
  //display: flex;
  //flex-direction: column;
  height: 50vh;
  background: #f1f0e8;
}
.chat-header {
  display: flex;
  cursor: pointer;
}
.profile {
  width: 100%;
  background: #036055;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 10px;
  position: relative;
  margin: -3px 0;
}
.profile .pp {
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 32px;
}
.profile .arrow {
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 19px;
  cursor: pointer;
}
.profile h2 {
  //display: inline-block;
  //line-height: 60px;
  //vertical-align: bottom;
  color: #fff;
  font-size: 20px;
  //top: 11px;
  //left: 16px;
  padding-left: 84px;
  padding-top: 9px;
}
.profile span {
  color: #ccc;
  position: absolute;
  top: 11px;
  left: 46px;
  font-size: 44px;
}
.regresar{
  color: #ccc;
  position: absolute;
  top: 11px;
  left: 5px;
  font-size: 44px;
}
.right .icon {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
}
.profile .left {
  flex: 1;
}

.chat-box {
  padding-left: 10px;

}
.chat-box .img_chat {
  width: 280px;
}

.chat-r {
  display: flex;
  padding-right: 10px;
}
.chat-r .sp {
  flex: 1;
}

.chat-l {
  display: flex;
}
.chat-l .sp {
  flex: 1;
}

.chat-box .mess {
  max-width: 300px;
  background: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  //cursor: pointer;
  min-width: 150px;
}
.chat-box .mess p {
  word-break: break-all;
  font-size: 18px;
}

.chat-box .mess2 {
  //max-width: 300px;
  background: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  //cursor: pointer;
  //min-width: 150px;
}
.chat-box .mess2 p {
  word-break: break-all;
  font-size: 18px;
}
.chat-box .mess2 img {
  word-break: break-all;
  max-width: 300px;
  max-height: 282px;
}
.chat-box .mess-r {
  background: #E2FFC7;
}
.chat-box .emoji {
  width: 20px;
}
.chat-box .check {
  float: right;
}
.chat-box .check1 {
  //float: right;
}
.chat-box .check1 span {
  color: #888;
  font-size: 12px;
  font-weight: 700px;
}
.chat-box .check img {
  width: 20px;
}
.chat-box .check span {
  color: #888;
  font-size: 12px;
  font-weight: 700px;
}

.pdf-centrado {
  width: 100px;
  height: auto;
  display: inline-flex;
  justify-content: center;
  color: red;
  font-size: 50px;
}

.pdf-media {
  color: red;
  font-size: 50px;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  position: sticky;
  cursor: pointer;
}
.chat-footer textarea {
  display: block;
  flex: 1;
  width: 100%;
  height: 50px;
  border-radius: 13px;
  margin: 5px;
  padding: 10px;
  outline: none;
  font-size: 19px;
  padding-left: 40px;
  padding-right: 90px;
  border: 2px solid #ccc;
  color: #555;
  resize: none;
}
.chat-footer .mic {
  display: block;
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.chat-footer .emo{
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10px;
  top: 12px;
}
.chat-footer .icons {
  position: absolute;
  right: 100px;
  top: 10px;
}
.chat-footer .icons img{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

@media screen and (max-width: 1085px){
  .profile h2 {
    font-size: 13px;
    padding-left: 55px;
  }
  .regresar {
    top: 17px;
    left: -2px;
    font-size: 30px;
  }


  .profile span {
    top: 18px;
    left: 36px;
    font-size: 27px;
  }

  .chat {
    height: 50vh;
  }

  .chat-box .mess {
    max-width: 260px;
    width: 162px;
    margin: 6px;
  }

  .chat-box .check span {
    font-size: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: -1rem;
  }

  .chat-box .mess p {
    word-break: break-word;
    font-size: 12px;
  }

  .chat-footer textarea {
    height: 68px;
    padding: 10px;
    font-size: 19px;
  }
}

@media screen and (max-width: 1450px){
  .chat-box {
    height: 60vh;
  }

  .profile h2 {
    font-size: 13px;
    padding-left: 55px;
  }
  .regresar {
    top: 17px;
    left: -2px;
    font-size: 30px;
  }


  .profile span {
    top: 18px;
    left: 36px;
    font-size: 27px;
  }

  .chat {
    height: 50vh;
  }

  .chat-box .mess {
    max-width: 260px;
    width: 204px;
    margin: 8px;
  }

  .chat-box .check span {
    font-size: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: -1rem;
  }

  .chat-box .mess p {
    word-break: break-word;
    font-size: 12px;
    margin-bottom: 1px;
  }

  .chat-footer textarea {
    height: 68px;
    padding: 10px;
    font-size: 19px;
  }
}



.layout .content {
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.layout .content .sidebar-group .sidebar > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  font-weight: 700;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.layout .content .sidebar-group .sidebar > header > span {
  font-size: 22px
}

.layout .content .sidebar-group .sidebar > header ul {
  margin-bottom: 0
}

.layout .content .sidebar-group .sidebar > header ul li {
  margin-bottom: 0
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125)
}
.layout .content .sidebar-group .sidebar .list-group-item {
  padding: 20px;
  padding-left: unset; // <----
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer
}
.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0
}
.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
.list-group-item:first-child {
  -webkit-border-top-left-radius: .25rem;
  -moz-border-radius-topleft: .25rem;
  border-top-left-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  -moz-border-radius-topright: .25rem;
  border-top-right-radius: .25rem
}
.layout .content .sidebar-group .sidebar .list-group-item .users-list-body .users-list-action {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-box-shadow: -8px 1px 10px 5px #fff;
  -moz-box-shadow: -8px 1px 10px 5px #fff;
  box-shadow: -8px 1px 10px 5px #fff;
  bottom: 0;
  padding: 0 5px
}
.layout .content .sidebar-group .sidebar .list-group-item .users-list-body .users-list-action .new-message-count {
  width: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 0;
  font-size: 13px;
  height: 23px;
  background-color: #3db16b;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%
}
.files ul.list-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto
}

.files ul.list-inline .list-inline-item {
  margin-left: 0;
  margin-right: .5rem
}
