<mat-tab-group>

  <mat-tab label="Cotizador Online">
    <app-log-aseguradoras [idProspecto]="idProspecto" [idSolicitudDetalles]="idSolicitudDetalles" [tipoContacto]="tipoContacto" [idTipoModificar]="idTipoModificar" >
    </app-log-aseguradoras>
  </mat-tab>
</mat-tab-group>
