.mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0;
  height: calc(100vh - 160px);
  max-height: 524px;
  width: 100%;
  border-radius: 4px;
  justify-content: space-between;
}
.placas{
  display: flex;
  width: 100%;
}
.generalWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 94%;
  max-height: 500px;
}

.header{
  width: 92%;
  height: 45px;
  border-bottom: #80808030 solid 2px;
}

.stepTitle{
  text-align: start;
  font-size: 26px;
  color: #354089;
}

.advice{
  width: 92%;
  margin-top: 10px;
  margin-bottom: 10px;

  p{
    margin: 0;
    color: gray;
    vertical-align: text-top;

    b{
      color: #62367a;
      font-size: 17px;
    }
  }
}

.firstRow{
  width: 92%;
  margin-top: 10px;
}

.infoInput{
  text-align: center !important;
}

.formWrapper{
  display: flex;
  justify-content: space-between;
  width: 92%;
  height: 220px;
  flex-wrap: wrap;
}

.formCol{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 47%;
}

.mitadRow{
  width: 47%;
}
.slideWrapper{
  height: 77.88px;
  width: max-content;
  display: flex;
  align-items: center;
}

.changeInfoSection{
  width: 92%;
}



p span {
  color: #354089;
  font-weight: 500;
}

mat-card-title {
  margin-bottom: 4%;
}

#header-title {
  margin: 3% 0;
}


mat-hint {
  color: tomato !important;
}

.col-4 {
  padding: 0!important;
}

mat-card-actions {
  text-align: right;
}

.buttonsRow{
  width: 92%;
  display: inline-grid;
  grid-auto-flow: column;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:disabled, .modButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.nextButton2{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton2:disabled, .modButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.modButton {
  background-color: #354089;
  color: white;
  height: 33px;
  margin-top: 12px;
  margin-left: 26px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #354089;
}

