
<header>
  <div class="titleWrapper"><p>DATOS DE COTIZACIÓN</p></div>
  <button mat-button (click)="dismiss()" class="closeButton">
    <mat-icon>close</mat-icon>
  </button>
</header>

<div class="dialogContent">

  <div class="formWrapper">
    <form [formGroup]="formCotizacion">
      <div class="rowWrapper ">

          <!--Genero-->
        <mat-form-field class="geneder" appearance="outline">
          <mat-label>Genero del conductor</mat-label>
          <mat-select [(value)]="genero" formControlName="genero" name="genero">
            <mat-option value="MASCULINO">MASCULINO</mat-option>
            <mat-option value="FEMENINO">FEMENINO</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Fecha nacimiento-->
        <mat-form-field class="date" appearance="outline">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker"
                 [max]="fechaNacimientoMaxima"
                 formControlName="fechaNacimiento">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!--CP-->
        <mat-form-field class="cp" appearance="outline">
          <mat-label>Código Postal</mat-label>
          <input matInput type="text" maxLength="5" name="cp" formControlName="cp" oncopy="return false"
                 (keyup)="validarCp($event.target.value)">
          <mat-hint *ngIf="this.formCotizacion.controls['cp'].errors && this.formCotizacion.controls['cp'].dirty">
            Introduce un CP válido</mat-hint>
        </mat-form-field>
        <!--Colonia-->
        <mat-form-field class="subUrb" appearance="outline">
          <mat-label>Colonia</mat-label>
          <mat-select formControlName="idColonia" name="idColonia" >
<!--            <mat-option *ngFor="let colonia of colonias" [value]="colonia.idCp" id="idColoniaF">-->
            <mat-option *ngFor="let colonia of colonias" [value]="colonia" id="idColoniaF">
              {{colonia.d_asenta}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!colonias">
            Introduce un código postal válido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="rowWrapper">
        <!-- Descuento-->
        <mat-form-field appearance="outline">
          <mat-label>Selecciona el descuento</mat-label>
          <mat-select [(value)]="descuento" formControlName="descuento">
            <mat-option *ngFor="let desc of descuentos" [value]="desc">
              {{desc}}%
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--Marca-->
        <mat-form-field appearance="outline">
          <mat-label>Marca</mat-label>
          <mat-select [(value)]="marca" (selectionChange)="getModelos()" name="marca"
                      formControlName="marca">
            <mat-option *ngFor="let m of marcas" [value]="m.text">
              {{m.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--Modelos-->
        <mat-form-field appearance="outline">
          <mat-label>Modelos</mat-label>
          <mat-select
            [(value)]="modelo"
            (selectionChange)="getSubmarca()"
            formControlName="modelos"
            name="modelos"
          >
            <mat-option *ngFor="let o of modelos" [value]="o.text">
              {{o.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class=" rowWrapper ">
        <!--Submarca-->
        <mat-form-field  class="subMarca" appearance="outline">
          <mat-label>Sub-Marca</mat-label>
          <mat-select
            [(value)]="submarca"
            (selectionChange)="getDescripcion()"
            name="submarca"
            formControlName="submarca"
          >
            <mat-option *ngFor="let d of submarcas" [value]="d.text">
              {{d.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Descripcion-->
        <mat-form-field  class="descripcion" appearance="outline">
          <mat-label>Descripcion</mat-label>
          <mat-select
            [(value)]="descripcion"
            name="descripcion"
            formControlName="descripcion"
          >
            <mat-option *ngFor="let s of descripciones" [value]="s.text">
              {{s.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </form>

  </div>
  <div class="buttonsWrapper">
    <button mat-button (click)="refrescar()" class="cleanButton">Limpiar</button>
    <button mat-button  (click)="cotizar()" [disabled]="!formCotizacion.valid" class="nextButton">Siguiente</button>
  </div>
</div>
