header {
  width: 100%;
  height: 40px;
  background-color: #273ABE;
  display: inline-flex;
  opacity: 0.9;

  .titleWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

    p {
      font-size: 22px;
      color: white;
      margin: 0;
    }
  }

  .closeButton {
    width: min-content;
    height: 100%;
    background-color: #FF156B !important;
    border-radius: 0;
    border: 0;

    mat-icon {
      color: white;
      font-weight: 100;
      font-size: 24px;
    }
  }

  .closeButton:focus {
    outline: 0 !important;
    border: 0 !important;
  }
}


.dialogContent {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 24px 15px 24px;

  .formWrapper {
    width: 100%;
    height: 56%;

    form {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;

      .rowWrapper {
        display: flex;
        justify-content: space-between;

        .mat-form-field {
          width: 30%;
        }
        .descripcion {
          width: 65%;
        }
        .subMarca {
          width: 30%;
        }
        .geneder, .cp, .date{
          width:20%;
        }
      }



    }
  }

  .buttonsWrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 22px;

    .cleanButton {
      width: 22%;
      background-color: #d7a432f0 !important;
      color: white !important;
    }

    .nextButton2 {
      background-color: transparent !important;
      color: #777 !important;
    }

    .nextButton {
      width: 22%;
      background-color: #5bb34b !important;
      color: white !important;
    }

    .nextButton:disabled{
      background-color: #e1e1e1 !important;
      color: #b7b7b7 !important;
    }
  }

}


::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 11px 0 17px 0 !important;
  }
}
