$gradient: linear-gradient(to right, #1D2671, #C33764); // Gradiente del toolbar
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.whatsappButton:hover{
  transition: 0.4s;
  transform: scale(1.2);
}
.escucha {
  font-size: 19px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 15px;
  cursor: pointer;
}
.escucha span:hover {
  text-shadow: 1px -1px 6px rgba(157, 157, 157, 0.75);
  transition: 0.4s all;
}
p {
  margin: 0;
}
.conectarbtn {
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: #30b953;
  min-width: 29%;
}

.toolbar {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 60px;
  display: inline-flex;
  background: linear-gradient(45deg, #273abe 20%, #8e95b1 180%);
  color: white;
  font-weight: 600;
  justify-content: space-between;
}

.headerBlock1 {
  width: 20%;
  align-items: center;
  display:flex;
  justify-content: space-around;

  img{
    height: 65%;
  }

  div .mat-icon{
    color: white;
  }
}

.headerBlock2 {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-family: 'Quicksand', sans-serif;
}

.headerBlock3 {
  display:flex;
  height: 100%;
  width:15%;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  figure{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img{
      transition: 0.3s;
      height: 50%;
    }
  }
  figure img:hover{
    transition: 0.4s;
    transform: scale(1.1);
  }
  p{
    position: relative;
    right: 40px;
  }
}

//.logOutCircleUserProfile {
//  width: 35px;
//  height: 35px;
//  border-radius: 50%;
//  background-color: #ffffff;
//  cursor: pointer;
//
//  display: inline-flex;
//  justify-content: center;
//  align-items: center;
//  color: #000000;
//  transition: linear all 0.2s;
//}
//
//.logOutCircleUserProfile:hover {
//  color: #a9a9a9;
//}

.extension {
  font-family: 'Quicksand', sans-serif;
  color:whitesmoke;
}

// estilos nuevo menu
// inicio del codigo nuevo menu
.openSidenavButton .mat-icon{
  transition: 0.3s;
}
.openSidenavButton .mat-icon:hover{
  transition: 0.4s;
  transform: scale(1.2);
}
.sidenavWrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenavMenuColor{
  height: auto;
  background: linear-gradient(200deg, #273abe 20%, #8e95b1 160%);
}

.menuButtonWrapper{
  height: 40px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.menuMain{
  width: 300px;
}

.menuChildrenWrapper{
  height: 100%;
  width: fit-content;
}

.menuChildren{
  height: 100%;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

@keyframes showNames{
  0%{
    visibility: hidden;
    opacity: 0;
  }
  25%{
    opacity: 0;
    visibility: visible;
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.subName{
  animation-name: showNames;
  animation-duration: 0.4s;
}

// TAMAÑOS
.buttonsMain{
  height: 100%;
}
.large{
  transition: 0.4s;
  width: 310px;
}
.medium{
  transition: 0.4s;
  width: 280px;
}
.small{
  transition: 0.4s;
  width: 250px;
}
.tiny{
  transition: 0.4s;
  width: 220px;
}
.tinyX{
  transition: 0.4s;
  width: 180px;
}

.menuGrandChildrenWrapper{
  height: 100%;
  width: fit-content;
}

.menuGrandChildren{
  height: 100%;
  width: fit-content;
}

.grandChildrenMain{
  height: 100%;
  width: 260px;
}

.menuButton{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  padding-right: 12px;
  cursor: pointer;

  mat-icon{
    color: white;
  }
}

.menuButtonActive{
  background-color: #0000001f;
}

.menuButton:hover{
  background-color: #0000001f;
}
.sub{
  background-color: #0000001f;
}
.sub:hover{
  background-color: #00000036;
}
.subGrand{
  background-color: #00000036;
}
.subGrand:hover{
  background-color: #00000046;
}
.submenuButtonActive{
  background-color: #00000036;
}
.menuButtonName{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,.87)
}

.redDisplay{
  animation-name: parpadeoRed;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 100;
  pointer-events: none;
}
@keyframes parpadeoRed {
  0%{
    background-color: #ff00004f;
  }
  50%{
    background-color: #ff000070;
  }
  100%{
    background-color: #ff00004f;
  }
}
//clases para el indicador de internet
.inter{
  color:whitesmoke;
}
.noInter{
  color: red;
}

.logoContainer{
  position: relative;
  right: 20px;
  :hover {
    transform: scale(1.2);
    transition: 0.4s all;
  }
}

.logoAhorra{
  width: 120px;
  height: 100px;
  cursor: pointer;
}
