<!--Tono de llamada entrante-->
<iframe *ngIf="telefoniaServer" hidden src="https://mark46.telefoniat2022.com:8089/httpstatus"></iframe>
<audio id="ringtone" loop src="../../../../assets/sounds/telephone-ring.mp3"></audio>
<audio id="callbackring" loop src="../../../../assets/sounds/callback.mp3"></audio>
<!--<audio id="ringtone" loop src="../../../../assets/sounds/spongebob_hornpipe.mp3"></audio>-->
<!--HEADER-->
<header class="toolbar" role="banner">
  <!--    BLOCK CONTAINER 1-->
  <div class="headerBlock1 ">
    <!--BOTON PARA ABRIR CERRAR SIDENAV-->
    <div (click)="this.sidenav.opened ? closeSidenav() : this.sidenav.open()" class="openSidenavButton">
      <mat-icon>menu</mat-icon>
    </div>
    <!--    TITULO TRIGARANTE 2020-->
    <img src="../../../assets/images/ahorraio-blanco.svg" (click)="irInicio()" >
    <!--    LOGOUT BUTTON-->

    <mat-menu #submenu="matMenu">
      <button mat-menu-item (click)="mostrarImagenes()">Boletín Semanal</button>
      <button mat-menu-item (click)="gacetasDelMes()">Comunicados del mes</button>
      <!--      <button mat-menu-item (click)="procedimientosSteps()">Diferenciadores</button>-->
      <button mat-menu-item >
        <a href="https://sites.google.com/ahorra.io/biblioteca-documental/biblioteca-documental"
           target="_blank">
          Biblioteca documental
        </a>
      </button>
      <button mat-menu-item >
        <a href="https://ahorra-recursos.s3.amazonaws.com/app/presentacion/Preguntas+frecuentes+capacitaci%C3%B3n.pdf"
           target="_blank">
          Preguntas frecuentes App
        </a>
      </button>
      <button mat-menu-item >
        <a href="https://ahorra-recursos.s3.amazonaws.com/app/video/vistaPoliza.mp4"
           target="_blank">
          Acceso app movil
        </a>
      </button>
      <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
    </mat-menu>
  </div>
  <!--    BLOCK CONTAINER 3-->
  <div class="headerBlock2">
    <!-- Etiqueta que muestra la extensión-->
<!--    <button mat-flat-button-->
<!--            disabled-->
<!--            matTooltip="Extensión"-->
<!--            *ngIf= "extension.length > 0 &&-->
<!--                      extension !== 'null'">-->
<!--          <span class="extension"-->
<!--                [style.color]="extStatus">-->
<!--          Ext: {{extension ? extension : 'Sin extensión asignada'}}-->
<!--        </span>-->
<!--    </button>-->
    <!--            <h4 class="extension" [style.color]="extStatus">Extensión: {{extension ? extension : 'Sin extensión asignada'}} </h4>-->
    <!--   Botón para conectar extensión-->
<!--    <button mat-flat-button-->
<!--            *ngIf="!conectado &&-->
<!--                        (extension.length > 0 &&-->
<!--                        extension !== 'null')"-->
<!--            color="primary"-->
<!--            class="conectarbtn"-->
<!--            matTooltip="Conectar extensión"-->
<!--            [disabled]="inavilitarPor3 < 3"-->
<!--            id="reconnect"-->
<!--            (click)="killToken()">-->
<!--      Conectar-->
<!--    </button>-->
<!--    <button mat-flat-button (click)="postCall()">-->
<!--      CALL-->
<!--    </button>-->
    <!--   Botón para pausar extensión-->
    <div *ngIf="conectado && (extension.length > 0 && extension !== 'null') && usuario.estadoUsuario === 1">
      <!--<button mat-flat-button
              color="accent"
              matTooltip="Pausar extensión"
              (click)="motivoPausa()">
        <mat-icon>pause</mat-icon>
      </button>-->
      <!--<div  (click)="finalizarPausa()" class="alinear-items item4" *ngIf="usuario.estadoUsuario===2">-->
      <!--  <h4 style="color: red;">Finalizar pausa</h4>-->
      <!--  <mat-icon>warning</mat-icon>-->
      <!--</div>-->
    </div>
  </div>

  <!--    BLOCK CONTAINER 3-->
  <div class="headerBlock3" >
    <button mat-button class="escucha" (click) = "logearseWhatsapp()" *ngIf="ocutarBoton === false"  >
      <mat-icon>whatsapp</mat-icon>
    </button>
<!--    <button mat-button matBadgeSize="large"-->
<!--      class="profileIcon" matTooltip="Pendientes" (click)="pendientes()">-->
<!--      <mat-icon matBadge="{{llamadasPendiantes}}" matBadgeColor="accent">pending_actions</mat-icon>-->
<!--      &lt;!&ndash;<span class=" userIcon">person_outline</span>&ndash;&gt;-->
<!--    </button>-->
  </div>
  <!--    BLOCK CONTAINER 2-->
  <div class="headerBlock3">
    <!--    indicador de internet-->
    <p [ngClass]="networkStatus ? 'inter' : 'noInter' ">{{networkStatus ? 'Con Internet' : 'Sin Internet'}}</p>
    <!--    ACCESSIBILITY ASSISTANT-->
    <!--    TRIGARANTE ESCUCHA-->
    <a (click)="trigaranteEscucha()" class="logoContainer"><img src="assets/images/logoahorra.png" class="logoAhorra"></a>
    <!--<button mat-button class="escucha" (click)="trigaranteEscucha()">
      <mat-icon>fact_check</mat-icon>
    </button>-->
    <figure [matMenuTriggerFor]="submenu">
      <img src="../../../assets/images/perfil-blanco.svg" matTooltip="Submenú">
    </figure>
    <!--      <button matTooltip="Mensajes por responder" mat-icon-button style="outline: none;"-->
    <!--              [matMenuTriggerFor]="menu"-->
    <!--              matMenu (click)="clickBtn()">-->
    <!--        <mat-icon *ngIf="cantidadNotificacion === 0"-->
    <!--                  [ngClass]="{'moverCampana': efect === 1 && cantidadNotificacion !== 0}" style="font-size: 30px;">-->
    <!--         whatsapp-->
    <!--        </mat-icon>-->
    <!--        <mat-icon *ngIf="cantidadNotificacion !== 0"-->
    <!--                  [ngClass]="{'moverCampana': efect === 1 && cantidadNotificacion !== 0}"-->
    <!--                  [matBadge]="cantidadNotificacion" style="font-size: 30px;">-->
    <!--          whatsapp-->
    <!--        </mat-icon>-->
    <!--      </button>-->
    <mat-menu #menu="matMenu" #matMenuC>
      <!--            <button mat-menu-item *ngFor="let mensaje of dataMensajesCanal" (click)="filtrarPorMensajeNoLeido(mensaje.correlationId)">-->
      <div class="" #addStyle>
        <div class="d-flex" #mMenu>
          <div class="row">
            <div class="col">
              <button mat-menu-item *ngFor="let mensaje of dataMensajesCanal" (click)="aMensajesPendientes()"
                      style="outline: none;">
                <!--              <b>SOLICITUD</b>: {{ mensaje.correlationId }} - {{ mensaje.fecha | date : 'h:mm a' }}-->
                <b>SOLICITUD</b>: {{ mensaje }}
              </button>
            </div>
            <div class="col" style="display: grid;">
              <div *ngFor="let mensaje of dataMensajesCanal">
                <!--                <b #btnOptions></b>-->
                <button mat-icon-button>
                  <mat-icon [matBadge]="cantidadMensajesPorCanal[mensaje]" (click)="iconoMatMenu(mensaje)"
                            style="cursor: pointer;">
                    <img src="../../../assets/images/whatsapp_logo.png" style="height: 26px; width: 26px;" alt="">
                  </mat-icon>
                </button>
                <!--                      <p>{{ cantidadMensajesPorCanal[mensaje] }}</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>

</header>

<mat-sidenav-container class="sidenavWrapper" (backdropClick)="closeSidenav()" autosize>
  <!--Contenido del Sidenav-->
  <mat-sidenav #sidenav (keydown.escape)="closeSidenav()" disableClose mode="over" [ngClass]="{sidenavMenuColor: true, sidenavColor: false, sidenavColorSub: false}">
    <div *ngFor="let menuButton of men; index as indexMenu" class="menuButtonWrapper">
      <div class="menuMain">
        <!-- botones del menu nomarles -->
        <div class="menuButton" *ngIf="!menuButton.children" [routerLink]="menuButton.rutas" (click)="closeSidenav()">
          <a class="menuButtonName">
            {{menuButton.name}}
          </a>
        </div>

        <!-- botones del menu que abren el submenu -->
        <div
          [ngClass]="{menuButton: true, menuButtonActive: indexMenu === buttonActivatedID && menuOpen}"
          *ngIf="menuButton.children"
          (click)="openMenu(indexMenu)"
        >
          <a class="menuButtonName">
            {{menuButton.name}}
          </a>
          <mat-icon>{{menuButton.icon}}</mat-icon>
        </div>
      </div>

      <!-- Sub Menu -->
      <div  class="menuChildrenWrapper" [@openClose]="menuOpen ? 'open' : 'close'" [hidden]="buttonActivatedID !== indexMenu">
        <div *ngFor="let menuButtonChildren of menuButton.children; index as indexSubMenu" class="menuChildren">
          <div
            [ngClass]="{
              shortSize:  buttonActivatedID === 6,
              mediumSize: true,
              largeSize:  buttonActivatedID === 12 || buttonActivatedID === 0 || buttonActivatedID === 5
            }"
          >
            <!-- botones del submenu sin hijos -->
            <div
              @slideMenu
              class="menuButton sub"
              *ngIf="!menuButtonChildren.grandChildren && buttonActivatedID === indexMenu && menuOpen === true"
              [routerLink]="menuButtonChildren.rutas"
              (click)="closeSidenav()"
            >
              <a class="menuButtonName subName">
                {{menuButtonChildren.name}}
              </a>
            </div>
            <!-- botones del submenu con hijos -->
            <div
              @slideMenu
              [ngClass]="{menuButton: true, sub: true, submenuButtonActive: indexSubMenu === subButtonActivatedID && submenuOpen === true}"
              *ngIf="menuButtonChildren.grandChildren && buttonActivatedID === indexMenu && menuOpen === true"
              (click)="openSubMenu(indexSubMenu)"
            >
              <a class="menuButtonName subName">
                {{menuButtonChildren.name}}
              </a>
              <mat-icon class="subName">{{menuButtonChildren.icon}}</mat-icon>
            </div>
          </div>

          <!-- Seccion Final del Menu -->
          <div class="menuGrandChildrenWrapper" [@openClose]="submenuOpen ? 'open' : 'close'" [hidden]="indexSubMenu !== subButtonActivatedID">
            <div *ngFor="let menuButtonLast of menuButtonChildren.grandChildren" class="menuGrandChildren">
              <div class="grandChildrenMain">

                <!-- botones del submenu sin hijos -->
                <div @slideMenu class="menuButton subGrand" *ngIf="indexSubMenu === subButtonActivatedID && submenuOpen === true" [routerLink]="menuButtonLast.rutas" (click)="closeSidenav()">
                  <a class="menuButtonName subName">
                    {{menuButtonLast.name}}
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div><!--cierre for-->
      </div > <!-- cierre del sub menu-->
    </div>
  </mat-sidenav>

  <!--Contenido de la pagina-->
  <mat-sidenav-content class="sidenavView">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
