<mat-card class="header">
  <p>Administrador de Justificantes</p>
  <div></div>
</mat-card>
<mat-tab-group (selectedTabChange)="tabClick($event)" mat-align-tabs="center">
  <mat-tab label="Pendientes" *ngIf="permisos?.justificacionesPendientes">
    <mat-card class="contentCard">
      <app-justificantes [EstadoJustificacion]="0"></app-justificantes>
    </mat-card>
  </mat-tab>
  <mat-tab label="Completadas">
    <mat-card class="contentCard" *ngIf="permisos?.justificacionesCompletas">
      <app-justificantes [EstadoJustificacion]="1"></app-justificantes>
    </mat-card>
  </mat-tab>
</mat-tab-group>
