<mat-card *ngIf="true">
  <div class="campo">
    <div class="regresar">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span><a href="javascript: history.go(-1)">REGRESAR</a></span>
    </div>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >
    CONFIGURACIONES
  </mat-card-title>
  <mat-card-subtitle>
<!--    <p>{{configuracion.titulo}}</p>-->
<!--    <p>{{configuracion.departamento}}</p>-->
  </mat-card-subtitle>
  <div class="acciones">
    <button mat-raised-button (click)="agregarIntervalo()">AGREGAR INTERVALO</button>
    <button mat-raised-button (click)="guardarConfiguracion()">GUARDAR CONFIGURACION</button>
  </div>
  <mat-list>
      <form [formGroup]="formConfiguraciones">
        <div formArrayName="intervalo" *ngFor="let intervalo of intervalos.controls; let i = index">
          <br>
          <mat-list-item>
            <div [formGroupName]="i">
              <mat-form-field class="example-full-width" style="display: none">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id" type="number" style="text-align: center">
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 35px!important;">
                <mat-label>DIA</mat-label>
                <input matInput formControlName="dia" type="number" style="text-align: center">
              </mat-form-field>

              INTERVALO

              <mat-form-field class="example-full-width" style="width: 35px!important;">
                <mat-label>DIAS</mat-label>
                <input matInput formControlName="days" value="0" type="number" style="text-align: center">
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 60px!important;">
                <mat-label>HORAS</mat-label>
                <input matInput formControlName="hours" value="0" type="number" style="text-align: center">
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 70px!important;">
                <mat-label>MINUTOS</mat-label>
                <input matInput formControlName="minutes" value="0" type="number" style="text-align: center">
              </mat-form-field>

<!--              <form class="example-form">-->
                <mat-form-field class="example-full-width" style="width: 300px!important;">
                  <mat-label>TIPO CONTACTO</mat-label>
                  <input type="text" matInput formControlName="idIntento" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.descripcion}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
<!--              </form>-->

<!--              <mat-form-field class="example-full-width" style="width: 70px!important;">-->
<!--                <mat-label>MINUTOS</mat-label>-->
<!--                <input matInput formControlName="idIntento" value="0" type="number" style="text-align: center">-->
<!--              </mat-form-field>-->

<!--              <mat-form-field style="width: 200px!important;">-->
<!--                <mat-label>TIPO DE CONTACTO</mat-label>-->
<!--                <mat-select [(ngModel)]="selectedValue" formControlName="selectsI">-->
<!--                  <mat-option *ngFor="let intento of intentos" [value]="intento.id" (click)="test(intento)">-->
<!--                    {{intento.descripcion}}-->
<!--                  </mat-option>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->

              <mat-icon matTooltip="Eliminar" (click)="removerIntervalo(i)">
                delete
              </mat-icon>
            </div>
          </mat-list-item>

          <mat-divider></mat-divider>
        </div>
      </form>
<!--      <form class="example-form">-->
<!--        <mat-form-field class="example-full-width">-->
<!--          <mat-label>DEPARTAMENTO</mat-label>-->
<!--          <input type="text"-->
<!--                 placeholder="VN"-->
<!--                 aria-label="VN"-->
<!--                 matInput-->
<!--                 [formControl]="departamento"-->
<!--                 [matAutocomplete]="auto" (change)="valores(auto)" size="1">-->
<!--          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--            <mat-option *ngFor="let option of filteredOptionsDeparamentos | async" [value]="option.descripcion" (click)="valores(option)">-->
<!--              {{option.descripcion}}-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--        </mat-form-field>-->
<!--      </form>-->
<!--      <form class="example-form">-->
<!--        <mat-form-field class="example-full-width">-->
<!--          <mat-label>DEPARTAMENTO</mat-label>-->
<!--          <input type="text"-->
<!--                 placeholder="VN"-->
<!--                 aria-label="VN"-->
<!--                 matInput-->
<!--                 [formControl]="myControl"-->
<!--                 [matAutocomplete]="auto" (change)="valores(auto)" size="1">-->
<!--          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.descripcion" (click)="valores(option)">-->
<!--              {{option.descripcion}}-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--        </mat-form-field>-->
<!--      </form>-->
  </mat-list>
</mat-card>
