
<mat-card *ngIf="permisos?.VN?.predictivo">

  <div fxLayoutAlign="end">
<!--    <div class="lds-ring" ><div></div><div></div><div></div><div></div></div>-->
    <button mat-icon-button>
      <mat-icon (click)="getFechas()">refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    SOLICITUDES PREDICTIVO
  </mat-card-title>

  <!--      INPUTS DE FECHAS-->
  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button fxFlex="60" (click)="getFechas()">DESPLEGAR FECHAS</button>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon (click)="verDatos(element.idProspecto, element.idProducto)" id="verDetalles"
                      matTooltip="Ver detalles" mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="idSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="empleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEmpleado}} </td>
        </ng-container>

        <ng-container matColumnDef="campania">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAÑA</th>
          <td mat-cell *matCellDef="let element">
            {{element.descripcionDepartemento}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>

        </ng-container>


        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaSolicitud | date:"dd/MM/yyyy, HH:mm:ss" }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">

              <mat-icon *ngIf="permisos?.VN?.predictivo?.emision" matTooltip="Generar Emision" (click)="generarEmision(element.id)" mat-raised-button>launch
              </mat-icon>

<!--              <button mat-icon-button-->
<!--                      *ngIf="puedeLlamar && (extension.length > 0 && extension !== 'null')"-->
<!--                      [matMenuTriggerFor]="menu"-->
<!--                      (click)="getNumeros(element.id, element.numero)">-->
<!--                <mat-icon>call</mat-icon>-->
<!--              </button>-->

<!--              <mat-menu #menu="matMenu">-->
<!--                <mat-spinner *ngIf="cargando"></mat-spinner>-->
<!--                <div *ngFor="let numero of numeros">-->
<!--                  <button mat-menu-item (click)="llamar(element.id, numero)">-->
<!--                    <mat-icon>call</mat-icon>-->
<!--                    <span>{{numero}}</span>-->

<!--                  </button>-->
<!--                </div>-->
<!--              </mat-menu>-->

              <mat-icon matTooltip="Historial de llamadas"  (click)="historicoLlamadas(element.id)">
                history
              </mat-icon>

<!--              <button mat-icon-button-->
<!--                      matTooltip="Agregar Número"-->
<!--              (click)="agregarNumero(element.id)">-->
<!--                <mat-icon>person_add</mat-icon>-->
<!--              </button>-->

<!--              <div class="notification">-->
<!--                <mat-icon  matTooltip="{{element.notificacion === 1 ? 'Tienes un mensaje por leer' : 'Enviar mensaje'}}" (click)="mostrarChat(element)" [ngClass]="{'Blink': element.notificacion === 1}">-->
<!--                  <div [ngClass]="{'badgee': element.notificacion === 1, 'whatsapp-icon': element.notificacion !== 1}"></div>-->
<!--                </mat-icon>-->
<!--              </div>-->

<!--              <div class="notification">-->
<!--                <mat-icon  matTooltip="Enviar mensaje" (click)="mostrarChat(element)">-->
<!--                  whatsapp-->
<!--                </mat-icon>-->
<!--              </div>-->
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
