<mat-card>
  <div fxLayoutAlign="end" >
    <button mat-icon-button (click)="getDatos()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    SOLICITUDES PAGO
  </mat-card-title>
  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div class="tableWrapper">

      <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource || errorSpin; else spin" class="example-container mat-elevation-z8 ">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="empleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEmpleado}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="poliza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>POLIZA</th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="socio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SOCIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreComercial}} </td>
        </ng-container>


        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA REGISTRO</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaRegistro | date:"dd/MM/yyyy, HH:mm:ss"}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header stickyEnd>TIPO SEGURO</th>
          <td mat-cell *matCellDef="let element">
            {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="tarjetaDigital">
          <th mat-header-cell *matHeaderCellDef mat-sort-header stickyEnd>TARJETA DIGITAL</th>
          <td mat-cell *matCellDef="let element">
            {{element.tarjetaDigital == 1 ? 'SI' : 'NO'}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle" sticky>
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon id="verDetalles" matTooltip="Ver detalles" mat-raised-button (click)="infoTarjeta(element)">
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>






