
.mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0;
  height: calc(100vh - 160px);
  max-height: 524px;
  width: 100%;
  border-radius: 4px;
  justify-content: space-between;
}
.generalWrapper{
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 92%;
  max-height: 500px;
}
.stepTitle{
  text-align: start;
  font-size: 26px;
  color: #354089;
}
.mat-card-title{
  display: block;
  margin-bottom: 16px;
  text-align: left;
  width: 92%;
}
button {
  color: #fff;
}

input {
  padding: 3px 0 !important;
}

mat-icon {
  margin-right: 5px;
  color: #fff;
}
.colortarjeta{
  color: #fff;
}
.mat-focused .colortarjeta {
  color: #fff;
  opacity: 0.75;
}
.placeholder {
  font-weight: 400;
}

.mat-focused .placeholder {
  color: #fff;
  opacity: 0.75;
}

.switch {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

mat-card-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px !important;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

.emitWrapper{
  text-align: center;
  border: dashed 1px red;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 10px;

  p{
    margin: 0;
  }
}
.text-error {color: red; font-weight: bolder; font-size: x-large;}
.text-msj{font-weight: 700}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}

.buttonsRow{
  width: 100%;
  display: inline-grid;
  grid-auto-flow: column;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
  width: 350px;
}

.nextButtonC{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
  width: 250px;
}

.nextButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.nextButton:not(:disabled):hover{
  background-color: rgba(39, 58, 190, 0.5) !important;
}
.emitButton{
  margin: 10px;
  background-color: #273ABE !important;
}

.emitButton:hover{
  background-color: #273abe80 !important;
}
// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  position: relative;
}

@media only screen and (max-width: 1920px){
  .buttonsRow{
    padding: 0 52px 0 0;
    margin-bottom: 50px !important;
  }
  .nextButton{
    height: 40px;
    font-size: 20px;
    width: 240px;
  }

}

@media only screen and (max-height: 900px){
  .generalWrapper{
    margin-top: 0;
  }
  .header{
    height: 38px;
  }
  .stepTitle{
    font-size: 24px;
  }
  .buttonsRow{
    padding: 0 50px 0 0;
    margin-bottom: 20px !important;
  }
  .nextButton{
    height: 36px;
    font-size: 16px;
    width: 220px;
  }
  .tarjeta{
    font-size: 12px;
    margin: 0 auto;
  }
}
@media only screen and (max-height: 768px){
  .generalWrapper{
    overflow: auto;
    margin-bottom: 14px;
  }
  .payForm, .tarjeta{
    font-size: 12px;
  }
  .header{
    height: 30px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .cardContent{
    height: fit-content;
  }
  .buttonsRow{
    padding: 0 38px 0 4px;
    margin-bottom: 14px !important;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 140px;
  }
}
