
.unactiveIcon{
  background-color: #abaeb38a;
  width: 51px;
  height: 51px;
  border-radius: 50%;

  mat-icon{
    color: #f1f5f8
  }
}

.activeIcon{
  background-color: transparent;
  width: 51px;
  height: 51px;
  border-radius: 50%;

  mat-icon{
    color: #f1f5f8
  }
}

.wrapperCardR{
  position: absolute;
  top: 0;
  width: 24%;
  left: 76%;
  height: 100%;
  padding: 90px 24px 28px 0px;
  display: flex;
}
.mat-stepper-horizontal{
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow-y: hidden;
}
:host ::ng-deep .mat-horizontal-content-container{
  overflow: hidden !important;
  padding: 18px 24px 28px 24px !important;
  width: 76% !important;
  height: calc(100vh - 132px) !important;
}

.showInfo{
  width: 100%;
  height: 100%;
  max-height: 524px;
  margin: 0;
  background-color: white;
  padding: 4px 0 4px 0;
}

.resumeWrapper{
  width: 100%;
  height: 100%;
  padding: 10px 16px 10px 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.resume{
  display:flex;
  justify-content: center;
  align-items: center;

  p{
    margin: 4px;
    font-weight: bold;
    font-size: 12px;

  }
}

.discountWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2edfd;
  border: dashed 1px #a07cf1;
  border-radius: 5px;
  height: 90px;
  padding: 5px 12px 85px 12px;
}

.oneRow{
  text-align: center;
  font-size: 13px;
  margin: 4px 0 0 0;
  color: #5e3c7c;
  font-weight: bold;

  mat-icon{
    color: #d34f7e;
    font-size: 13px;
    margin: 0;
    width: auto;
    height: auto;
    transform: translate(-2px, 2px);
  }
}

.columnsWrapper{
  display: flex;
  justify-content: space-between;
  height: 66%;
}

.discountCol{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  p{
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 12px;

  }
}

.Left p {
  text-align: left;
}

.Right p{
  text-align: right;
}

/*Imagenes de pago seguro */
.payIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.cards{
  height: 30px;
  width: auto;
}
.safe{
  height: 28px;
  width: auto;
}

hr{
  width: 100%;
}

.coverage{
  display: flex;
  justify-content: center;
}

/*Tabla del resumen */
table.mat-table{
  width: 100%;
}

.rightCell{
  text-align: right;
}

tr.mat-row{
  height: 25px;
}
td.mat-cell:first-of-type, td.mat-cell:last-of-type{
  padding: 0;
}
td.mat-cell{
  font-weight: normal;
}

/*Iconos del stepper*/

:host ::ng-deep .mat-step-header .mat-step-icon {
  background: linear-gradient(
      114deg, #df1d52 -25%, #364088 61%);
  height: 50px;
  width: 50px;
  font-size: 30px;

  .mat-icon{
    font-size: 34px;
    width: auto;
    height: auto;
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 11px 0 17px 0 !important;
  }
}

//////////////////////RESPONSIVE WIDTH///////////////
@media only screen and (max-width: 1600px){
  :host ::ng-deep .mat-horizontal-content-container{
    width: 78% !important;
  }

  .wrapperCardR{
    width: 22%;
    left: 78%;
  }
}
@media only screen and (max-width: 1440px){
  table tr{
    border-top: 1px solid #dee2e6;
  }
  tr.mat-row{
    height: 20px;
  }
  .resumeWrapper{
    padding: 2px 14px 2px 14px;
  }

  hr{
    margin: 8px 0 0 0;
  }

  .coverage{
    font-size: 12px;
    p{
      margin: 8px;
    }
  }
  td.mat-cell{
    font-size: 10px;
  }
  .unactiveIcon, .activeIcon{
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 1240px){

  :host ::ng-deep .mat-horizontal-content-container{
    width: 74% !important;
  }

  .wrapperCardR{
    width: 26%;
    left: 74%;
  }
}

@media only screen and (max-width: 1080px){

  :host ::ng-deep .mat-horizontal-content-container{
    width: 72% !important;
  }

  .wrapperCardR{
    width: 28%;
    left: 72%;
  }
}

@media only screen and (max-width: 980px){

  :host ::ng-deep .mat-horizontal-content-container{
    width: 68% !important;
  }

  .wrapperCardR{
    width: 32%;
    left: 68%;
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 11px 0 17px 0 !important;
  }
}

