<script src="../componentes-step-online/registro-poliza-online-new/registro-poliza-online-new.component.ts"></script>
<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Cliente</ng-template>
    <app-create-emision-online-new *ngIf="stepsIdentificados"
                                   [idClientes]="idCliente"
                                   [nombreAseguradora]="nombreAseguradorab"
                                   (datosSalida)="activarProductoCliente($event)"
                                   [idSolicitudPros]="idSolicitud">
    </app-create-emision-online-new>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel >Vehiculo</ng-template>
    <app-datos-productos-online-mapfre *ngIf = "idProductoCliente !== undefined"
                                    [idCliente]="idCliente"
                                    [idCliente]="idCliente"
                                    [idProductoCliente] = "idProductoCliente"
                                    [datosCotizacion] = "this.solicitud.peticion"
                                    [datosRespuesta]="this.solicitud.respuesta"
                                    [idSubRamo]="this.solicitud.idSubRamo"
                                    (idProductoClientesaliente)="activarCobro($event)"
                                    (idEmitir)="activarEmitir($event)">
    </app-datos-productos-online-mapfre>

  </mat-step>
  <mat-step >
    <ng-template matStepLabel >Emitir</ng-template>
    <app-emitir-online-mapfre *ngIf = "idProductoCliente !== 0 && idProductoCliente !== undefined "
                           [idProductoCliente]="idProductoCliente"
                           (idProductoClientesaliente)="activarCobrodesdeEmitir($event)">
    </app-emitir-online-mapfre>

  </mat-step>

  <!--  Pago cobro-->
  <mat-step>
    <ng-template matStepLabel matTabContent>Pago </ng-template>
    <app-pagos-online-mapfre *ngIf = "idProductoCliente !== 0 && idProductoCliente !== undefined "
                          [idProductoCliente]="idProductoCliente"
                          [datosCliente]="datosCliente"
                          [idCliente]="idCliente"
                          [idRegistro]="idRegistro"
                          (idCobroSaliente)="activarRegistroPoliza($event)"
                          (Inspeccione)="activarInspecciones($event)"
                          (emisionMal)="anterioStep()" >
    </app-pagos-online-mapfre>
  </mat-step>
  <!--  Registro poliza-->
  <!--  Inspeccion-->
  <mat-step>
    <ng-template matStepLabel matTabContent>Inspeccion</ng-template>
    <app-inspecciones-online-new *ngIf = "idRegistro !== undefined && idRegistro !== 0"
                                 [idRegistro]="idRegistro"
                                 [idCliente] = "idCliente"
                                 [esStep]="true">
    </app-inspecciones-online-new>
  </mat-step>
  <!--step Icons-->
  <ng-template matStepperIcon="number" let-stepIndex="index" let-active="active">

    <div class="unactiveIcon" *ngIf="stepIndex !== stepper.selectedIndex">
      <mat-icon>{{stepIcons[stepIndex]}}</mat-icon>
    </div>
    <div class="activeIcon" *ngIf="stepIndex === stepper.selectedIndex">
      <mat-icon>{{stepIcons[stepIndex]}}</mat-icon>
    </div>
  </ng-template>

  <!-- Selected Icons -->
  <ng-template matStepperIcon="edit" let-editIndex="index">
    <mat-icon>{{stepIcons[editIndex]}}</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<div class="wrapperCardR">
  <mat-card class="showInfo">
    <div class="resumeWrapper">

      <div class="resume"><p>Resumen</p></div>

      <div *ngIf="nombreAseguradorab === 'MAPFRE'" class="discountWrapper">
        <p class="oneRow"  ><mat-icon>local_offer</mat-icon>0 % de Descuento</p>
        <div class=columnsWrapper>
          <div class="discountCol Left">
<!--            <p>Precio Regular:</p>-->
            <p><b>Precio Oferta:</b></p>
<!--            <p>Ahorro:</p>-->
          </div>
          <div class="discountCol Right">
<!--            <p style="text-decoration:line-through;">{{precioTotal | currency}}{{'MXN'}}</p>-->
            <p><b>{{primaTotall | currency}}{{'MXN'}}</b></p>
<!--            <p>{{ahorro | currency}}{{'MXN'}}</p>-->
          </div>
        </div>
      </div>


      <div class="payIcons">
        <img src="../../../../../assets/images/step-icons/img-cards.png" class="cards">
        <img src="../../../../../assets/images/step-icons/pago-seguro.png" class="safe">
      </div>
      <hr>
      <div class="coverage">
        <p>Cobertura {{nombreCobertura}}</p>
      </div>
      <div class="coverageList">
        <table mat-table [dataSource]="coverageArray" #sort matSort>
          <ng-container matColumnDef="nombre">
            <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
          </ng-container>

          <ng-container matColumnDef="sumaAsegurada">
            <td mat-cell *matCellDef="let row" class="rightCell"> <p *ngIf="nombreAseguradorab === 'MAPFRE'">
              {{row.sumaAsegurada | currency  }} {{'MXN'}}</td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-card>
</div>
