<div *ngIf="pdf">
  <ngx-extended-pdf-viewer  height="100%"
                            [base64Src]="pdf"
                            [showBorders]="false"
                            [showDownloadButton]="false"
                            [showOpenFileButton]="false"
                            [showPropertiesButton]="false"
                            [contextMenuAllowed]="false"
                            [showSecondaryToolbarButton]="false"
                            [showBookmarkButton]="false"
                            [enablePrint]="false"
                            [handTool]="false">
  </ngx-extended-pdf-viewer>
</div>
