<mat-card>
  <div class="generalWrapper">
    <div class="header">
      <div class="stepTitle" *ngIf="!changeForm2">
        Datos del Cliente
      </div>
      <div class="stepTitle" *ngIf="changeForm2">
        Dirección del Cliente
      </div>
    </div>
    <div class="advice"><p>todos los datos marcados con  <b>*</b>  son requeridos</p></div>
    <div class="cardContent">
      <div class="buttonSelectForm" (click)="changeFormBack()" *ngIf="changeForm2 === true"><mat-icon>arrow_back_ios</mat-icon></div>

      <!--form 1-->
      <form [formGroup]="clienteForm" class="formWrapper" *ngIf="changeForm2 === false">
        <!-- COLUMNA 1 -->
          <!-- INPUT NOMBRE -->
          <mat-form-field appearance="outline">
            <mat-label>Nombre *</mat-label>
            <input
              matInput type="text"
              formControlName="nombre"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
              onDrop="return false"
              autocomplete="off"
            />
            <mat-error *ngIf="clienteForm.controls.nombre.hasError('required')">
              ¡El nombre es requerido!
            </mat-error>
          </mat-form-field>

          <!-- INPUT APELLIDO PATERNO -->
          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
            <mat-label>Apellido Paterno *</mat-label>
            <input
              matInput type="text"
              formControlName="paterno"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              onDrop="return false" autocomplete="off"
            />
            <mat-error *ngIf="clienteForm.controls.paterno.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <!-- INPUT APELLIDO MATERNO -->
          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
            <mat-label>Apellido Materno *</mat-label>
            <input
              matInput type="text"
              formControlName="materno"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
              onDrop="return false"
              autocomplete="off"
            />
            <mat-error *ngIf="clienteForm.controls.materno.hasError('required')">
              ¡El apellido materno es requerido!
            </mat-error>
          </mat-form-field>

            <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
              <mat-label>Fecha de Nacimiento *</mat-label>
              <input
                readonly matInput
                [matDatepicker]="picker1"
                placeholder="FECHA DE NACIMIENTO *"
                onpaste="return true"
                oncopy="return false"
                [max]="fechaNacimientoMaxima"
                (dateChange)="generarDatos()"
                formControlName="fechaNacimiento"
              />
              <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="clienteForm.controls['fechaNacimiento'].hasError('required')">
                Este campo es requerido
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
              <mat-label>Genero *</mat-label>
              <mat-select formControlName="genero" (selectionChange)="generarDatos()">
                <mat-option *ngFor="let genero of genders" [value]="genero.value">
                  {{genero.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="clienteForm.controls['genero'].hasError('required')">
                Este campo es requerido
              </mat-error>
            </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
            <mat-label>Estado de Nacimiento *</mat-label>
            <mat-select formControlName="estadoNacimiento" (selectionChange)="generarDatos()">
              <mat-option *ngFor="let estado of estados" [value]="estado.value">
                {{estado.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="clienteForm.controls['estadoNacimiento'].hasError('required')">
              Este campo es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
            <mat-label>CURP *</mat-label>
            <input
              matInput type="text"
              formControlName="curp"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              onDrop="return false"
              autocomplete="off"
              minlength="18" maxlength="18"
              (keyup)="validarCurp()"
            />
            <mat-error *ngIf="clienteForm.controls.curp.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
            <mat-error *ngIf="clienteForm.controls.curp.hasError('pattern')">
              Es un CURP inválido
            </mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>RFC *</mat-label>
            <input
              matInput type="text"
              formControlName="rfc"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              onDrop="return false"
              autocomplete="off"
              minlength="9"
              maxlength="13"
              (keyup)="validarRFC()"
            />
            <mat-error *ngIf="clienteForm.controls.rfc.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
            <mat-error *ngIf="clienteForm.controls.rfc.hasError('pattern')">
              Es un RFC inválido
            </mat-error>
          </mat-form-field>
      </form>
      <!--fin de form 1-->

      <!--form 2-->
      <form [formGroup]="clienteForm" class="formWrapper" *ngIf="changeForm2 === true">

            <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
              <mat-label>País de Origen *</mat-label>
              <mat-select formControlName="idPais">
                <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id">
                  {{pais.nombre}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="!clienteForm.controls.idPais.valid && clienteForm.controls.idPais.dirty">
                Se requiere llenar el campo
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" appearance="outline">
              <mat-label>Código Postal  *</mat-label>
              <input
                matInput type="text"
                formControlName="cp"
                onpaste="return true"
                oncopy="return false"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="5" id="cp"
                (keyup)="getColonias()"
                onDrop="return false"
                autocomplete="off"
              />
              <mat-error *ngIf="clienteForm.controls.cp.hasError('required')">
                Se requiere llenar el campo
              </mat-error>
              <mat-error *ngIf="clienteForm.controls.cp.hasError('pattern')">
                Este campo solo acepta números
              </mat-error>
            </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Colonia  *</mat-label>
            <mat-select formControlName="idColonia">
              <mat-option *ngFor="let colonia of colonias" [value]="colonia.idCpBase" id="idColoniaF">
                {{colonia.d_asenta}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!colonias">
              Introduce un código postal válido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Calle  *</mat-label>
            <input
              matInput
              type="text"
              formControlName="calle"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
              onDrop="return false"
              autocomplete="off"
            />
            <mat-error *ngIf="clienteForm.controls.calle.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
          </mat-form-field>


          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 2" class="numExt" appearance="outline">
            <mat-label>Número Exterior  *</mat-label>
            <input
              matInput
              type="text"
              formControlName="numExt"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
              onDrop="return false"
              autocomplete="off"
            />
            <mat-error *ngIf="clienteForm.controls.numExt.hasError('required')">
              Campo Requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 2" class="numInt" appearance="outline">
            <mat-label>Numero Interior</mat-label>
            <input
              matInput
              type="text"
              formControlName="numInt"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="40"
              id="numInt"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
            />
          </mat-form-field>


        <!-- Número exterior e interior -->
            <div class="numWrapper">
              <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" class="numAdress" appearance="outline">
                <mat-label>Número Exterior  *</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="numExt"
                  onpaste="return true"
                  oncopy="return false"
                  oninput="this.value = this.value.toUpperCase()"
                  maxlength="40"
                  onDrop="return false"
                  autocomplete="off"
                />
                <mat-error *ngIf="clienteForm.controls.numExt.hasError('required')">
                  Campo Requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="clienteForm.controls.razonSocial.value === 1" class="numAdress" appearance="outline">
                <mat-label>Número Interior</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="numInt"
                  onpaste="return true"
                  oncopy="return false"
                  oninput="this.value = this.value.toUpperCase()"
                  maxlength="40"
                  id="numInt"
                  onDrop="return false"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono Móvil *</mat-label>
              <input
                matInput
                type="text"
                formControlName="telefonoMovil"
                onpaste="return true"
                oncopy="return false"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="10"
                onDrop="return false"
                autocomplete="off"
                minlength="10"
              />
              <mat-error *ngIf="clienteForm.controls.telefonoMovil.hasError('required')">
                ¡Este campo es requerido!
              </mat-error>
              <mat-error *ngIf="clienteForm.controls.telefonoMovil.hasError('pattern')">
                ¡Este campo necesita al menos 10 números!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono Fijo</mat-label>
              <input
                matInput
                type="text"
                formControlName="telefonoFijo"
                onpaste="return true"
                oncopy="return false"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="10"
                onDrop="return false"
                autocomplete="off"
              />
              <mat-error *ngIf="clienteForm.controls.telefonoFijo.hasError('pattern')">
                ¡Este campo necesita al menos 10 números!
              </mat-error>
            </mat-form-field>

          <mat-form-field class="email" appearance="outline">
            <mat-label>Correo Electrónico *</mat-label>
            <input
              matInput type="text"
              formControlName="correo"
              onpaste="return true"
              oncopy="return false"
              oninput="this.value = this.value.toUpperCase()"
              maxlength="100"
              onDrop="return false"
              autocomplete="off"
            />
            <mat-error *ngIf="clienteForm.controls.correo.hasError('required')">
              ¡Este campo es requerido!
            </mat-error>
            <mat-error *ngIf="clienteForm.controls.correo.hasError('email')">
              ¡Introduce un correo válido!
            </mat-error>
          </mat-form-field>

      </form>
      <div class="buttonSelectForm" (click)="changeFormNext()" *ngIf="changeForm2 === false"><mat-icon class="arrowNext">arrow_forward_ios</mat-icon></div>
    </div>
  </div>
  <div class="buttonsRow">
<!--    si no tiene cliente creara un cliente si hay un cliente lo modificara -->
    <button mat-button [hidden]="!clienteForm.valid" *ngIf="!idCliente" (click)="crearCliente()" class="modButton">
     Crear cliente
    </button>

    <button mat-button [hidden]="!clienteForm.valid" *ngIf="idClientes" (click)="actualizarEmision()" class="modButton">
      Actualizar cliente
    </button>

    <button mat-button *ngIf="!idClientes" [disabled]="!idCliente" (click)="datosProducto()"
            class="nextButton">
      Siguiente
    </button>
  </div>
</mat-card>
