@keyframes slideEnphasis{
  7%{
    color: #5bb34b;
    transform: scale(1.2) translate(0, -6px);
  }
  14%{
    transform:  scale(1) translate(-10px, -6px) ;
    color: lightgrey;
  }
  21%{
    color: #5bb34b;
    transform: scale(1.2) translate(0, -6px);
  }
  28%{
    transform: translate(-10px, -6px) scale(1);
    color: lightgrey;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0;
  height: calc(100vh - 160px);
  max-height: 524px;
  width: 100%;
  border-radius: 4px;
  justify-content: space-between;

  .generalWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;

    .header{
      width: 100%;
      height: 45px;
      border-bottom: #80808030 solid 2px;

      .stepTitle{
        margin-left: 5px;
        text-align: start;
        font-size: 26px;
        color: #354089;
      }
    }

    .advice{
      width: 93%;
      margin-top: 10px;
      margin-bottom: 10px;
    
      p{
        margin: 0;
        color: gray;
        vertical-align: text-top;
    
        b{
          color: #62367a;
          font-size: 17px;
        }
      }
    }

    .cardContent{
      font-size: 14px;
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .buttonSelectForm{
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        margin-right: 8px;
      
        mat-icon{
          font-size: 45px;
          color: lightgrey;
        }

        .arrowNext{
          transform: translate(-10px, -6px);
          animation-duration: 7s;
          animation-name: slideEnphasis;
          animation-iteration-count: infinite;
          animation-delay: 5s;
        }
      }

      .formWrapper{
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-wrap: wrap;
        height: 100%;
        width: 88%;
        font-size: 12px;
        gap: 8px 0;

        mat-form-field {
          width: 48%;
        }
        
        .numWrapper{
          display: flex;
          display: flex;
          width: 48%;
          justify-content: space-between;
        }
      }
    }
    
  }

  .buttonsRow{
    width: 92%;
    display: inline-grid;
    grid-auto-flow: column;

    .nextButton{
      background-color: #5bb34b !important;
      color: white;
      justify-self: end;
    }
    
    .nextButton:disabled{
      background-color: #b9b9bda6 !important;
      font-weight: normal;
      color: #a6a8b3;
    }
  }
}


.form-control:focus {
  border: none;
}

.modButton {
  background-color: #354089;
  color: white;
  justify-self: start;
}



mat-datepicker-toggle {
  font-size: 1rem;
  background-color: transparent;
  color: #354089;
  transition: all ease 0.4s;
}

mat-datepicker-toggle.mat-datepicker-toggle button.mat-icon-button:focus {
  outline: none !important;
}