<mat-card *ngIf="permisos?.VN?.aseguradora">
  <mat-card-title style="text-align: center; color: #354089">
    Numero de aseguradoras
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="setApplyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <button matSuffix mat-icon-button aria-label="Clear" >
      <mat-icon>notifications</mat-icon>
    </button>

  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

        <ng-container matColumnDef="aseguradora">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> aseguradora</th>
          <td mat-cell *matCellDef="let element"> {{element.aseguradora}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero De Aseguradora</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
                <mat-icon pTooltip="Llamar"
                          *ngIf="puedeLlamar && (extension.length > 0 && extension !== 'null' && permisos?.VN?.aseguradora?.llamar)"
                          (click)="llamarAseuradora(element.aseguradora, element.numero)">call
                </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

