<mat-card *ngIf="true">

  <div fxLayoutAlign="end">
    <button mat-icon-button>
      <mat-icon (click)="getConfiguraciones()">refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    CONFIGURACIONES PREDICTIVO
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button fxFlex="50" (click)="crearConfiguracion()">CREAR CONFIGURACION</button>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> TITULO</th>
          <td mat-cell *matCellDef="let element">
            {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef> DEPARTAMENTO </th>
          <td mat-cell *matCellDef="let element">
            {{element.departamento}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> FECHA</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaAplicacion | date:"dd/MM/yyyy, HH:mm:ss"}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon matTooltip="Editar configuracion"  (click)="editarConfiguracion(element.id)">
                edit
              </mat-icon>
              <mat-icon matTooltip="Editar configuracion"  (click)="configuracion(element.id)">
                settings
              </mat-icon>
              <mat-icon matTooltip="Eliminar configuracion"  (click)="eliminar(element.id)">
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
