<mat-card *ngIf="permisos?.VN?.solDesactiv">
  <div fxLayoutAlign="end">
    <button mat-icon-button (click)="getSolicitudes()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <mat-card-title style="text-align: center;">
      SOLICITUDES DESACTIVACIÓN EJECUTIVOS
    </mat-card-title>

    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput type="text" (keyup)="applyFilter($event)">
      <button matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="ejecutivo">
        <th mat-header-cell *matHeaderCellDef >EJECUTIVO</th>
        <td mat-cell *matCellDef="let element">
          {{element.ejecutivo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="supervisor">
        <th mat-header-cell *matHeaderCellDef >SUPERVISOR</th>
        <td mat-cell *matCellDef="let element">
          {{element.supervisor}}
        </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef >FECHA SOLICITUD</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaRegistro | date : 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="ingreso">
        <th mat-header-cell *matHeaderCellDef >FECHA INGRESO</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaIngreso | date : 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="sede">
        <th mat-header-cell *matHeaderCellDef >SEDE</th>
        <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
      </ng-container>

      <ng-container matColumnDef="departamento">
        <th mat-header-cell *matHeaderCellDef >DEPARTAMENTO</th>
        <td mat-cell *matCellDef="let element">{{ element.departamento }}</td>
      </ng-container>

      <ng-container matColumnDef="puesto">
        <th mat-header-cell *matHeaderCellDef >PUESTO</th>
        <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef >ESTADO</th>
        <td mat-cell *matCellDef="let element">{{ element.permiso }}</td>
      </ng-container>

      <ng-container matColumnDef="contactos">
        <th mat-header-cell *matHeaderCellDef >CONTACTOS</th>
        <td mat-cell *matCellDef="let element">{{ element.contador }}</td>
      </ng-container>

      <ng-container matColumnDef="motivoSolicitud">
        <th mat-header-cell *matHeaderCellDef >MOTIVO SOLICITUD</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.motivoDesactivacion }}</td>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <th mat-header-cell *matHeaderCellDef >MOTIVO</th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.motivo}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef id="align-detail">
          <span>ACCIONES</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon matTooltip="Cancelar solicitud" color="warn" (click)="updateSolicitud(true, element)">highlight_off</mat-icon>
          <mat-icon matTooltip="Finalizar solicitud" style="color: #4bb543;" (click)="updateSolicitud(false, element)">task_alt</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
